<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="width: 100%">
        <h1 class="page-header">Partner admin</h1>
    </div>
    <br />

    <div class="panel panel-inverse">

        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title" style="margin-left:3px">Partners</h4>
        </div>

        <div class="panel-body p-0">
            <div class="col-sm-12">

                <div class="container">
                    <div class="row col-12 mb-3 mt-5 d-flex justify-content-between">
                            <div class="mb-3">
                                <button class="btn btn-primary" ng-click="showPartnerModal(null, true);">
                                    <i class="fas fa-plus-square" aria-hidden="true" style="margin-right:3px;"></i> partner
                                </button>
                            </div>
                            <div class=" mb-3">
                                <button class="btn btn-primary" ng-click="toggePartnerNewModal(true, [2]);">
                                    <i class="fas fa-plus-square" aria-hidden="true" style="margin-right:3px;"></i> AC Pay Partner
                                </button>
                            </div>
                            <div class=" mb-3">
                                <button class="btn btn-primary" ng-click="toggePartnerNewModal(true, [6,5,3,8]);">
                                    <i class="fas fa-plus-square" aria-hidden="true" style="margin-right:3px;"></i> AC Gaming Merchant
                                </button>
                            </div>
                            <div class=" mb-3">
                                <button class="btn btn-primary" ng-click="toggePartnerNewModal(true, [4]);">
                                    <i class="fas fa-plus-square" aria-hidden="true" style="margin-right:3px;"></i> Abon Distributor
                                </button>
                            </div>
                            <div class=" mb-3">
                                <button class="btn btn-primary" ng-click="toggePartnerNewModal(true, [4, 0]);">
                                    <i class="fas fa-plus-square" aria-hidden="true" style="margin-right:3px;"></i> AC Sales Partner
                                </button>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="form-group">
                                <input type="search"
                                       placeholder="Search partners"
                                       class="form-control"
                                       ng-model="searchedPartner"
                                       ng-model-options="{debounce: 600}"
                                       ng-change="SearchTable();" />
                            </div>
                            <div class="col-1">
                                <button ng-disabled="!searchedPartner" type="button" class="btn btn-primary" ng-click="setDefaults();">Clear</button>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>

                <div ng-if="partners">
                    <div class="table-responsive" style="overflow-x:scroll">
                        <table id="table" class="table table-bordered table-hover table-condensed table-striped" style="font-size:12px">
                            <thead>
                                <tr>
                                    <th>Partner name</th>
                                    <th>Private Key Path</th>
                                    <th>Private Key Pass</th>
                                    <th>Currency ID</th>
                                    <th>Country Code</th>
                                    <th>Environment</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in partners">
                                    <td>{{p.partnerName}}</td>
                                    <td>{{p.privateKey}}</td>
                                    <td>{{p.privateKeyPass}}</td>
                                    <td>{{p.currencyId}}</td>
                                    <td>{{p.countryCode}}</td>
                                    <td>{{p.environment == 1 ? "Dev" : "Staging"}}</td>
                                    <td style="cursor:pointer" ng-click="ShowPartnerRolesModal(p)"><i class="fa fa-id-card"></i></td>
                                    <td style="cursor:pointer" ng-click="showPartnerModal(p, false);"><i class="fa fa-pen"></i></td>
                                    <td style="cursor:pointer" ng-click="confirmDeleteModal(p);"><i class="fa fa-trash"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <div class="pull-c" ng-hide="totalLoaded < 10">
                            <load-more total-loaded="totalLoaded" out="loadMore"></load-more>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<div class="modal fade" id="partnerV2Modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Aircash Pay Partner</h4>
            </div>
            <div class="modal-body" align="center">
                <form action="/" method="POST" name="addpartnerV2Form">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mb-3">
                                <label class="form-label">Partner Name</label>
                                <input ng-model="partnerV2.partnerName" class="form-control" type="text" ng-required="true">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Currency ID</label>
                                <currencyid-picker output="currencyPay" default-currency="setCurrency"></currencyid-picker>
                            </div>
                        </div>  
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <div class="mb-3">
                                <label class="form-label">Country Code</label>
                                <country-picker output="countryCodePayPicker" default-country="defaultCountry"></country-picker>
                            </div>
                            <div>
                                <label class="form-label">User</label>
                                <input ng-model="partnerV2.username" class="form-control" type="text" ng-required="true">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="addpartnerV2Form.$invalid" ng-click="savePartnerV2()">Save</button>
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PartnerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Partner</h4>
            </div>
            <div class="modal-body" align="center">
                <form action="/" method="POST" name="addPartnerForm">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mb-3">
                                <label class="form-label">Partner Name</label>
                                <input ng-model="partner.partnerName" class="form-control" type="text" ng-required="true">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Private Key Path</label>
                                <input ng-model="partner.privateKey" class="form-control" type="text" ng-required="false">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Private Key Pass</label>
                                <input ng-model="partner.privateKeyPass" class="form-control" type="text" ng-required="false">

                            </div>
                            <div class="mb-3">
                                <label class="form-label">Use Default Partner</label>
                                <select class="form-control" ng-model="partner.useDefaultPartner" ng-required="true">
                                    <option value="true" ng-selected="partner.useDefaultPartner == 1">Yes</option>
                                    <option value="false" ng-selected="partner.useDefaultPartner == 2">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">

                            <div class="mb-3">
                                <label class="form-label">Currency ID</label>
                                <currencyid-picker output="currencyNew" default-currency="setCurrency"></currencyid-picker>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Country Code</label>
                                <country-picker output="countryPickerCode" default-country="defaultCountry"></country-picker>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Environment</label>
                                <select class="form-control" ng-model="partner.environment" ng-required="true">
                                    <option value="1" ng-selected="partner.environment == 1">Dev</option>
                                    <option value="2" ng-selected="partner.environment == 2">Staging</option>
                                </select>
                            </div>
                            <div class="mb-3" ng-if="newPartner">
                                <div  >
                                    <label class="form-label">User</label>
                                    <input ng-model="$parent.username" class="form-control" type="text" ng-required="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-4">
                        <table class="table table-bordered table-hover table-condensed table-striped">
                            <tbody>
                                <tr ng-repeat="r in roles">
                                    <td>{{r.roleName}}</td>
                                    <td>
                                        <input type="checkbox"
                                               name="selectedRoles[]"
                                               value="{{r.roleName}}"
                                               ng-model="r.selected" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="addPartnerForm.$invalid" ng-click="savePartner();">Save</button>
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="PartnerRolesModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{partner.partnerName}} roles</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="row" ng-hide="partner.roles == null">
                    <div class="col-md-4" ng-repeat="r in partner.roles">
                        <button class="btn" style="margin-bottom: 5px; background-color:#008000; color: #FFFFFF; " disabled>{{r.roleName}}</button>
                    </div>
                </div>
                <div id="EmptyRoles"></div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete partner</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="span5">Are you sure you want to delete partner: {{partner.partnerName}}</div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <button type="button" ng-click="deletePartner();" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>


