<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form editable-form name="editableForm" onaftersave="saveChanges()">
        <div class="row justify-content-between">
            <div class="col">
                <h1>{{partnerName}}</h1>
            </div>
            <div class="col-1 buttons">
                <button type="button" class="btn btn-outline-dark" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                    <i class="fa fa-edit"></i>
                </button>
                <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-outline-dark" ng-disabled="editableForm.$waiting">
                        <i class="fa fa-save"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel(); reaload();">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </span>
            </div>
        </div>
        <br />

        <h4><i class="fa fa-info-circle"></i> Basic info</h4>
        <div class="table-responsive">
            <table class="table table-active col-md-6 mt-2">
                <tbody>
                    <tr>
                        <td><b>Partner Id</b></td>
                        <td>
                            {{partnerId}}
                            <!--<span editable-textarea="partnerId" e-name="partnerId" e-cols="40" e-rows="1"> {{ partnerId || 'not set' }}</span>-->
                        </td>
                    </tr>
                    <tr>
                        <td><b>Partner name</b></td>
                        <td>
                            <span editable-text="partnerName" e-name="partnerName"> {{ partnerName || 'not set' }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Brand</b></td>
                        <td>
                            <span editable-text="brand" e-name="brand"> {{ brand || 'not set' }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Platform</b></td>
                        <td>
                            <span editable-text="platform" e-name="platform"> {{ platform || 'not set' }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Internal ticket</b></td>
                        <td><a editable-textarea="internalTicket" e-name="internalTicket" e-cols="80" e-rows="1" href="{{internalTicket}}" target="_blank">{{internalTicket || 'not set'}}</a></td>
                    </tr>
                    <tr>
                        <td><b>Confluence</b></td>
                        <td><a editable-textarea="confluence" e-name="confluence" e-cols="80" e-rows="1" href="{{confluence}}" target="_blank">{{confluence || 'not set'}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </br>
        <div class="row">
            <div class="col-5">
                <h4><i class="fa fa-phone"></i> Integration contact</h4>
            </div>
            <div class="col-1">
                <span ng-show="editableForm.$visible">
                    <button type="button" class="btn btn-outline-dark" style="float: right;" ng-disabled="editableForm.$waiting" ng-click="showAddIntegrationContactModal();">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-active col-6 mt-2">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="partnerIntegrationContacts.length === 0">
                        <td colspan="4" class="text-center">No integration contacts!</td>
                    </tr>
                    <tr ng-repeat="c in partnerIntegrationContacts">
                        <td>
                            <span editable-text="c.ContactName" e-name="c.ContactName"> {{ c.ContactName || 'not set'}}</span>
                        </td>
                        <td>
                            <span editable-text="c.ContactEmail" e-name="c.ContactEmail"> {{ c.ContactEmail || 'not set' }}</span>
                        </td>
                        <td>
                            <span editable-text="c.ContactPhoneNumber" e-name="c.ContactPhoneNumber"> {{ c.ContactPhoneNumber || 'not set' }}</span>
                        </td>
                        <td>
                            <span ng-show="editableForm.$visible">
                                <button type="button" class="btn btn-outline-dark" ng-disabled="editableForm.$waiting" ng-click="deleteIntegrationContact($index);">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-5">
                <h4><i class="fa fa-user"></i> Login accounts</h4>
            </div>
            <div class="col-1">
                <span ng-show="editableForm.$visible">
                    <button type="button" class="btn btn-outline-dark" style="float: right;" ng-disabled="editableForm.$waiting" ng-click="showAddLoginAccountModal();">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-active col-6 mt-2">
                <thead>
                    <tr>
                        <th>Url</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="partnerLoginAccounts.length === 0">
                        <td colspan="4" class="text-center">No login accounts!</td>
                    </tr>
                    <tr ng-repeat="a in partnerLoginAccounts">
                        <td>
                            <span editable-text="a.Url" e-name="a.Url"> {{ a.Url || 'not set'}}</span>
                        </td>
                        <td>
                            <span editable-text="a.Username" e-name="a.Username"> {{ a.Username || 'not set' }}</span>
                        </td>
                        <td>
                            <span editable-text="a.Password" e-name="a.Password"> {{ a.Password || 'not set' }}</span>
                        </td>
                        <td>
                            <span ng-show="editableForm.$visible">
                                <button type="button" class="btn btn-outline-dark" ng-disabled="editableForm.$waiting" ng-click="deleteLoginAccount($index);">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <br />

        <div id="panelAbon" class="panel panel-inverse" style="display:none;">
            <div class="panel-heading">
                <div class="row col-12 justify-content-between">
                    <div class="col-auto row">
                        <h2><i class="fa fa-receipt"></i> Abon deposit</h2>
                    </div>
                    <div>
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body p-0">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-active col-sm-3 mt-3">
                            <tbody>
                                <tr>
                                    <td><b>Type</b></td>
                                    <td>
                                        <span editable-select="abonType" e-name="abonType" e-ng-options="t.Key as t.Value for t in integrationTypeEnums">
                                            {{ (integrationTypeEnums | filter:{Key: abonType})[0].Value || 'not set' }}
                                        </span>
                                    </td>
                                </tr>
                                <tr ng-if="abonType == 'Frame'">
                                    <td><b>Amount rule</b></td>
                                    <td>
                                        <span editable-select="abonAmountRule" e-name="abonAmountRule" e-ng-options="r.Key as r.Value for r in abonAmoutRuleEnums">
                                            {{ (abonAmoutRuleEnums | filter:{Key: abonAmountRule})[0].Value || 'not set' }}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Authorization</b></td>
                                    <td>
                                        <span editable-select="abonAuthorization" e-name="abonAuthorization" e-ng-options="a.Key as a.Value for a in abonAuthorizationEnums">
                                            {{ (abonAuthorizationEnums | filter:{Key: abonAuthorization})[0].Value || 'not set' }}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>First transaction date</b></td>
                                    <td>
                                        <span ng-if="firstDateAbon">{{ firstDateAbon }}</span>
                                        <span ng-if="!firstDateAbon">empty (API)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />

                    <h4><i class="fa fa-exchange-alt"></i> Data exchange</h4>
                    <div class="table-responsive">
                        <table class="table table-active col-3 mt-2">
                            <tbody>
                                <tr>
                                    <td><b>To Aircash</b></td>
                                    <td>
                                        <span ng-if="dataToAircashAbon">{{ dataToAircashAbon }}</span>
                                        <span ng-if="!dataToAircashAbon">empty (API)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>To Merchant</b></td>
                                    <td>
                                        <span ng-if="dataToMerchantAbon">{{ dataToMerchantAbon }}</span>
                                        <span ng-if="!dataToMerchantAbon">empty (API)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-1">
                            <h4><i class="fa fa-tools"></i> API details</h4>
                        </div>
                        <div class="col-1">
                            <span ng-show="editableForm.$visible">
                                <button type="button" class="btn btn-outline-dark" style="float: left;" ng-disabled="editableForm.$waiting" ng-click="showAddApiDetailsModal('AbonDeposit');">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="accordion mt-2 mb-2 col-6 ml-0 pl-0" id="accordionAbonDeposit" ng-if="partnerEndpointsAbon">
                        <div ng-repeat="p in partnerEndpointsAbon" class="card">
                            <div class="card-header" id="heading{{p.Id}}">
                                <h2 class="mb-0 row">
                                    <button class="btn btn-link btn-block text-left col" type="button" data-toggle="collapse" data-target="#collapse{{p.Id}}" aria-expanded="true" aria-controls="collapseOne">
                                        <span editable-textarea="p.Url" e-name="p.Url" e-cols="80"> {{p.Url}}</span>
                                    </button>
                                    <span ng-show="editableForm.$visible" class="align-content-center col-1">
                                        <button type="button" class="btn btn-outline-dark" ng-disabled="editableForm.$waiting" ng-click="deleteApiDetails($index,'AbonDeposit');">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </span>
                                </h2>
                            </div>
                            <div id="collapse{{p.Id}}" class="collapse" aria-labelledby="heading{{p.Id}}" data-parent="#accordionAbonDeposit">
                                <div class="card-body">
                                    Request
                                    </br>
                                    <span editable-textarea="p.Request" e-name="p.Request" e-rows="5" e-cols="150"><jsonformatter data="p.Request"></jsonformatter></span>
                                    </br>
                                    HTTP 200 Response
                                    </br>
                                    <span editable-textarea="p.Response" e-name="p.Response" e-rows="5" e-cols="150"><jsonformatter data="p.Response"></jsonformatter></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                    <h4><i class="fa fa-video"></i> Deposit example</h4>
                </div>
            </div>
        </div>


        <div id="panelWithdrawal" class="panel panel-inverse" style="display:none;">
            <div class="panel-heading">
                <div class="row col-12 justify-content-between">
                    <div class="col-auto row">
                        <h2><i class="fa fa-coins"></i> Aircash withdrawal</h2>
                    </div>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
            </div>

            <div class="panel-body p-0">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-active col-sm-3 mt-3">
                            <tbody>
                                <tr>
                                    <td><b>Type</b></td>
                                    <td>
                                        <span editable-select="withdrawalType" e-name="withdrawalType" e-ng-options="t.Key as t.Value for t in integrationTypeEnums">
                                            {{ (integrationTypeEnums | filter:{Key: withdrawalType})[0].Value || 'not set' }}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Instant</b></td>
                                    <td>
                                        <span editable-select="withdrawalInstant" e-name="withdrawalInstant" e-ng-options="i.Key as i.Value for i in withdrawalInstantEnums">
                                            {{ (withdrawalInstantEnums | filter:{Key: withdrawalInstant})[0].Value || 'not set' }}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>First transaction date</b></td>
                                    <td>
                                        <span ng-if="firstDateWithdrawal">{{ firstDateWithdrawal }}</span>
                                        <span ng-if="!firstDateWithdrawal">empty (API)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />

                    <h4><i class="fa fa-exchange-alt"></i> Data exchange</h4>
                    <div class="table-responsive">
                        <table class="table table-active col-3 mt-2">
                            <tbody>
                                <tr>
                                    <td><b>To Aircash</b></td>
                                    <td>
                                        <span ng-if="dataToAircashWithdrawal">{{ dataToAircashWithdrawal }}</span>
                                        <span ng-if="!dataToAircashWithdrawal">empty (API)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>To Merchant</b></td>
                                    <td>
                                        <span ng-if="dataToMerchantWithdrawal">{{ dataToMerchantWithdrawal }}</span>
                                        <span ng-if="!dataToMerchantWithdrawal">empty (API)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-1">
                            <h4><i class="fa fa-tools"></i> API details</h4>
                        </div>
                        <div class="col-1">
                            <span ng-show="editableForm.$visible">
                                <button type="button" class="btn btn-outline-dark" style="float: left;" ng-disabled="editableForm.$waiting" ng-click="showAddApiDetailsModal('Withdrawal');">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="accordion mt-2 mb-2 col-6 ml-0 pl-0" id="accordionWithdrawal" ng-if="partnerEndpointsWithdrawal">
                        <div ng-repeat="p in partnerEndpointsWithdrawal" class="card">
                            <div class="card-header" id="heading{{p.Id}}">
                                <h2 class="mb-0 row">
                                    <button class="btn btn-link btn-block text-left col" type="button" data-toggle="collapse" data-target="#collapse{{p.Id}}" aria-expanded="true" aria-controls="collapseOne">
                                        <span editable-textarea="p.Url" e-name="p.Url" e-cols="80"> {{p.Url}}</span>
                                    </button>
                                    <span ng-show="editableForm.$visible" class="align-content-center col-1">
                                        <button type="button" class="btn btn-outline-dark" ng-disabled="editableForm.$waiting" ng-click="deleteApiDetails($index,'Withdrawal');">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </span>
                                </h2>
                            </div>
                            <div id="collapse{{p.Id}}" class="collapse" aria-labelledby="heading{{p.Id}}" data-parent="#accordionWithdrawal">
                                <div class="card-body">
                                    Request
                                    </br>
                                    <span editable-textarea="p.Request" e-name="p.Request" e-rows="5" e-cols="150"><jsonformatter data="p.Request"></jsonformatter></span>
                                    </br>
                                    HTTP 200 Response
                                    </br>
                                    <span editable-textarea="p.Response" e-name="p.Response" e-rows="5" e-cols="150"><jsonformatter data="p.Response"></jsonformatter></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>

                    <h4><i class="fa fa-video"></i> Withdrawal example</h4>
                </div>
            </div>
        </div>

        <div id="panelAcPay" class="panel panel-inverse" style="display:none;">
            <div class="panel-heading">
                <div class="row col-12 justify-content-between">
                    <div class="col-auto row">
                        <h2><i class="fa fa-mobile-alt"></i> Aircash Pay</h2>
                    </div>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
            </div>

            <div class="panel-body p-0">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-active col-sm-3 mt-3">
                            <tbody>
                                <tr>
                                    <td><b>Type</b></td>
                                    <td>
                                        <span editable-select="acPayType" e-name="acPayType" e-ng-options="t.Key as t.Value for t in integrationTypeEnums">
                                            {{ (integrationTypeEnums | filter:{Key: acPayType})[0].Value || 'not set' }}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Min - Max</b></td>
                                    <td>
                                        <span ng-if="minMaxAcPay">{{ minMaxAcPay }}</span>
                                        <span ng-if="!minMaxAcPay">empty (API)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>First transaction date</b></td>
                                    <td>
                                        <span ng-if="firstDateAcPay">{{ firstDateAcPay }}</span>
                                        <span ng-if="!firstDateAcPay">empty (API)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />

                    <h4><i class="fa fa-exchange-alt"></i> Data exchange</h4>
                    <div class="table-responsive">
                        <table class="table table-active col-3 mt-2">
                            <tbody>
                                <tr>
                                    <td><b>To Aircash</b></td>
                                    <td>
                                        <span ng-if="dataToAircashAcPay">{{ dataToAircashAcPay }}</span>
                                        <span ng-if="!dataToAircashAcPay">empty (API)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>To Merchant</b></td>
                                    <td>
                                        <span ng-if="dataToMerchantAcPay">{{ dataToMerchantAcPay }}</span>
                                        <span ng-if="!dataToMerchantAcPay">empty (API)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-1">
                            <h4><i class="fa fa-tools"></i> API details</h4>
                        </div>
                        <div class="col-1">
                            <span ng-show="editableForm.$visible">
                                <button type="button" class="btn btn-outline-dark" style="float: left;" ng-disabled="editableForm.$waiting" ng-click="showAddApiDetailsModal('AircashPay');">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="accordion mt-2 mb-2 col-6 ml-0 pl-0" id="accordionAcPay" ng-if="partnerEndpointsAcPay">
                        <div ng-repeat="p in partnerEndpointsAcPay" class="card">
                            <div class="card-header" id="heading{{p.Id}}">
                                <h2 class="mb-0 row">
                                    <button class="btn btn-link btn-block text-left col" type="button" data-toggle="collapse" data-target="#collapse{{p.Id}}" aria-expanded="true" aria-controls="collapseOne">
                                        <span editable-textarea="p.Url" e-name="p.Url" e-cols="80"> {{p.Url}}</span>
                                    </button>
                                    <span ng-show="editableForm.$visible" class="align-content-center col-1">
                                        <button type="button" class="btn btn-outline-dark" ng-disabled="editableForm.$waiting" ng-click="deleteApiDetails($index,'AircashPay');">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </span>
                                </h2>
                            </div>
                            <div id="collapse{{p.Id}}" class="collapse" aria-labelledby="heading{{p.Id}}" data-parent="#accordionAcPay">
                                <div class="card-body">
                                    Request
                                    </br>
                                    <span editable-textarea="p.Request" e-name="p.Request" e-rows="5" e-cols="150"><jsonformatter data="p.Request"></jsonformatter></span>
                                    </br>
                                    HTTP 200 Response
                                    </br>
                                    <span editable-textarea="p.Response" e-name="p.Response" e-rows="5" e-cols="150"><jsonformatter data="p.Response"></jsonformatter></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>

                    <h4><i class="fa fa-video"></i> Deposit example</h4>
                </div>
            </div>
        </div>

        <div id="panelMarketplace" class="panel panel-inverse" style="display:none;">
            <div class="panel-heading">
                <div class="row col-12 justify-content-between">
                    <div class="col-auto row">
                        <h2><i class="fa fa-mobile-alt"></i> Aircash Marketplace deposit</h2>
                    </div>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
            </div>

            <div class="panel-body p-0">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-active col-sm-3 mt-3">
                            <tbody>
                                <tr>
                                    <td><b>Identifiers</b></td>
                                    <td>
                                        <span ng-if="identifiersMarketplace">{{ identifiersMarketplace }}</span>
                                        <span ng-if="!identifiersMarketplace">empty (API)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Deeplink</b></td>
                                    <td>
                                        <span ng-if="deeplinkMarketplace">{{ deeplinkMarketplace }}</span>
                                        <span ng-if="!deeplinkMarketplace">empty (API)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Position</b></td>
                                    <td>
                                        <span editable-text="marketplacePosition" e-name="marketplacePosition"> {{ marketplacePosition || 'not set' }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Country</b></td>
                                    <td>
                                        <span editable-text="countryCode" e-name="countryCode"> {{ countryCode || 'not set' }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Min - max</b></td>
                                    <td>
                                        <span ng-if="minMaxMarketplace">{{ minMaxMarketplace }}</span>
                                        <span ng-if="!minMaxMarketplace">empty (API)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Name comparisson</b></td>
                                    <td>
                                        <span ng-if="nameComparisonMarketplace">{{ nameComparisonMarketplace }}</span>
                                        <span ng-if="!nameComparisonMarketplace">empty (API)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>First transaction date</b></td>
                                    <td>
                                        <span ng-if="firstDateMarketplace">{{ firstDateMarketplace }}</span>
                                        <span ng-if="!firstDateMarketplace">empty (API)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />

                    <h4><i class="fa fa-exchange-alt"></i> Data exchange</h4>
                    <div class="table-responsive">
                        <table class="table table-active col-3 mt-2">
                            <tbody>
                                <tr>
                                    <td><b>To Aircash</b></td>
                                    <td>
                                        <span ng-if="dataToAircashMarketplace">{{ dataToAircashMarketplace }}</span>
                                        <span ng-if="!dataToAircashMarketplace">empty (API)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>To Merchant</b></td>
                                    <td>
                                        <span ng-if="dataToMerchantMarketplace">{{ dataToMerchantMarketplace }}</span>
                                        <span ng-if="!dataToMerchantMarketplace">empty (API)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />

                    <h4><i class="fa fa-tools"></i> API details</h4>
                    <div class="accordion mt-2 mb-2 col-6 ml-0 pl-0" id="accordionMarketplace">
                        <div class="card-header" id="headingCheckPlayer">
                            <button class="btn btn-link btn-block text-left col" type="button" data-toggle="collapse" data-target="#collapseCheckPlayer" aria-expanded="true" aria-controls="collapseOne">
                                <span ng-if="checkPlayerUrl">{{ checkPlayerUrl }}</span>
                                <span ng-if="!checkPlayerUrl">empty (API)</span>
                            </button>
                        </div>
                        <div id="collapseCheckPlayer" class="collapse" aria-labelledby="headingCheckPlayer" data-parent="#accordionMarketplace">
                            <div class="card-body">
                                Request
                                </br>
                                <span editable-textarea="checkPlayerRequest" e-name="checkPlayerRequest" e-rows="5" e-cols="150"><jsonformatter data="checkPlayerRequest"></jsonformatter></span>
                                </br>
                                HTTP 200 Response
                                </br>
                                <span editable-textarea="checkPlayerResponse" e-name="checkPlayerResponse" e-rows="5" e-cols="150"><jsonformatter data="checkPlayerResponse"></jsonformatter></span>
                            </div>
                        </div>
                        <div class="card-header" id="headingConfirmPayment">
                            <button class="btn btn-link btn-block text-left col" type="button" data-toggle="collapse" data-target="#collapseConfirmPayment" aria-expanded="true" aria-controls="collapseOne">
                                <span ng-if="confirmPaymentUrl">{{ confirmPaymentUrl }}</span>
                                <span ng-if="!confirmPaymentUrl">empty (API)</span>
                            </button>
                        </div>
                        <div id="collapseConfirmPayment" class="collapse" aria-labelledby="headingConfirmPayment" data-parent="#accordionMarketplace">
                            <div class="card-body">
                                Request
                                </br>
                                <span editable-textarea="confirmPaymentRequest" e-name="confirmPaymentRequest" e-rows="5" e-cols="150"><jsonformatter data="confirmPaymentRequest"></jsonformatter></span>
                                </br>
                                HTTP 200 Response
                                </br>
                                <span editable-textarea="confirmPaymentResponse" e-name="confirmPaymentResponse" e-rows="5" e-cols="150"><jsonformatter data="confirmPaymentResponse"></jsonformatter></span>
                            </div>
                        </div>
                    </div>
                    </br>

                    <div class="row">
                        <div class="col-5">
                            <h4><i class="fa fa-question-circle"></i> Error codes</h4>
                        </div>
                        <div class="col-1">
                            <span ng-show="editableForm.$visible">
                                <button type="button" class="btn btn-outline-dark" style="float: right;" ng-disabled="editableForm.$waiting" ng-click="showAddErrorCodeModal();">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="table-responsive">
                            <table class="table table-active col-6 mt-2">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Loco Key</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="partnerErrorCodes.length === 0">
                                        <td colspan="4" class="text-center">No error codes!</td>
                                    </tr>
                                    <tr ng-repeat="p in partnerErrorCodes">
                                        <td>
                                            <span editable-text="p.Code" e-name="p.Code"> {{ p.Code }}</span>
                                        </td>
                                        <td>
                                            <span editable-text="p.Description" e-name="p.Description"> {{ p.Description }}</span>
                                        </td>
                                        <td>
                                            <span editable-text="p.LocoKey" e-name="p.LocoKey"> {{ p.LocoKey }}</span>
                                        </td>
                                        <td>
                                            <span ng-show="editableForm.$visible">
                                                <button type="button" class="btn btn-outline-dark" ng-disabled="editableForm.$waiting" ng-click="deleteErrorCode($index);">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="AddErrorCodeModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New error code</h4>
                </div>
                <div class="modal-body" align="center">
                    <form action="/" method="POST" name="addErrorCodeForm">

                        <div class="mb-3">
                            <label class="form-label">Error code</label>
                            <input class="form-control" type="text" ng-required="true" ng-model="newCode">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <input class="form-control" type="text" ng-required="true" ng-model="newDescription">
                        </div>
                        <div class="mb-3">
                            <div>
                                <label class="form-label">Loco key</label>
                                <input class="form-control" type="text" ng-model="newLocoKey">
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-disabled="addErrorCodeForm.$invalid" ng-click="addErrorCode();">Add</button>
                    <a href="javascript:;" class="btn btn-white" ng-click="closeAddErrorCodeModal();">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddApiDetailsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New endpoint for <i id="endpointTitle"></i></h4>
                </div>
                <div class="modal-body" align="center">
                    <form action="/" method="POST" name="addApiDetailsForm">

                        <div class="mb-3">
                            <label class="form-label">Url</label>
                            <select id="selectUrl" class="form-control" ng-model="newUrl">
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Request</label>
                            <textarea class="form-control" type="text" ng-required="true" ng-model="newRequest"></textarea>
                        </div>
                        <div class="mb-3">
                            <div>
                                <label class="form-label">Response</label>
                                <textarea class="form-control" type="text" ng-required="true" ng-model="newResponse"></textarea>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-disabled="addApiDetailsForm.$invalid" ng-click="addApiDetails();">Add</button>
                    <a href="javascript:;" class="btn btn-white" ng-click="closeAddApiDetailsModal();">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddIntegrationContactModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New integration contact</h4>
                </div>
                <div class="modal-body" align="center">
                    <form action="/" method="POST" name="addIntegrationContacForm">

                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input class="form-control" type="text" ng-required="true" ng-model="newContactName">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" type="text" ng-model="newContactEmail">
                        </div>
                        <div class="mb-3">
                            <div>
                                <label class="form-label">Phone number</label>
                                <input class="form-control" type="text" ng-model="newContactPhoneNumber">
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-disabled="addIntegrationContacForm.$invalid" ng-click="addIntegrationContact();">Add</button>
                    <a href="javascript:;" class="btn btn-white" ng-click="closeAddIntegrationContactModal();">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddLoginAccountModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New login account</h4>
                </div>
                <div class="modal-body" align="center">
                    <form action="/" method="POST" name="addLoginAccountForm">

                        <div class="mb-3">
                            <label class="form-label">Url</label>
                            <input class="form-control" type="text" ng-required="true" ng-model="newUrl">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input class="form-control" type="text" ng-required="true" ng-model="newUsername">
                        </div>
                        <div class="mb-3">
                            <div>
                                <label class="form-label">Password</label>
                                <input class="form-control" type="text" ng-required="true" ng-model="newPassword">
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-disabled="addLoginAccountForm.$invalid" ng-click="addLoginAccount();">Add</button>
                    <a href="javascript:;" class="btn btn-white" ng-click="closeAddLoginAccountModal();">Close</a>
                </div>
            </div>
        </div>
    </div>




</body>
</html>