<div style="width: 100%">
    <h1>PARTNER ADMIN</h1>
</div>
<br />
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Select partner:</label>
            <select class="form-control" ng-options="partner.id as partner.name for partner in partners" ng-change="getPartnerRoles()" ng-model="selectedPartner"></select>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Select roles:</label>
            <select class="form-control" ng-options="role as role.roleName for role in allRoles" ng-change="insertRoleTag()" ng-model="selectedRole"></select>
        </div>
    </div>
    <div class="col-md-1">
        <button class="btn btn-warning" style="margin-top: 25px" ng-click="removeAllRoleTags()" ng-disabled="roleTags.length == 0">Remove all</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" style="margin-top: 25px" ng-click="addAllRoleTags()" ng-disabled="roleTags.length == allRoles.length">Add all</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <button style="margin-right: 10px" ng-repeat="roleTag in roleTags" class="btn btn-danger" ng-click="removeRoleTag(roleTag)">{{roleTag.roleName}} <i class="fa fa-remove"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary" style="margin-top: 25px" ng-click="saveRoles()">Save Roles</button>
    </div>
</div>