@using Microsoft.Extensions.Configuration
@using System.Text.Json
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/images/favicon.ico" />
    <title>Aircash Simulator</title>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="~/css/openSans.css" rel="stylesheet" />
    <link href="~/css/app.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/assets/plugins/datetimePicker/bootstrap-datepicker.css" rel="stylesheet" />    
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/jsonFormatter.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE CSS STYLE ================== -->
    <link href="~/css/aricash_simulator.css" rel="stylesheet" />    
    <!-- ================== END PAGE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE ANGULAR JS ================== -->
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/angular-ui-router.min.js"></script>
    <script src="~/js/stateEvents.min.js"></script>
    <script src="~/js/ui-bootstrap-tpls.js"></script>
    <script src="~/js/plugins/pace.min.js"></script>
    <!-- ================== END BASE ANGULAR JS ================== -->

  

       


</head>
<body ng-controller="appController" ng-class="{'pace-top': setting.layout.paceTop, 'boxed-layout': setting.layout.pageBoxedLayout, 'bg-white': setting.layout.pageBgWhite }">
    @RenderBody();
    <!-- begin #page-loader -->
    <div id="page-loader" ng-controller="pageLoaderController" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="page-container page-sidebar-fixed page-header-fixed fade"
         ng-class="{
			'page-sidebar-minified': setting.layout.pageSidebarMinified,
			'page-content-full-height': setting.layout.pageContentFullHeight,
			'page-footer-fixed': setting.layout.pageFixedFooter,
			'page-with-right-sidebar': setting.layout.pageRightSidebar,
			'page-sidebar-minified': setting.layout.pageSidebarMinified,
			'page-with-two-sidebar': setting.layout.pageTwoSidebar,
			'page-right-sidebar-toggled': setting.layout.pageTwoSidebar,
			'page-with-top-menu': setting.layout.pageTopMenu,
			'page-without-sidebar': setting.layout.pageWithoutSidebar,
			'page-with-wide-sidebar': setting.layout.pageWideSidebar,
			'page-with-light-sidebar': setting.layout.pageLightSidebar,
			'p-t-0': setting.layout.pageWithoutHeader
		}">
        <div ui-view></div>
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/plugins/bootstrap.bundle.js"></script>
    <script src="~/js/plugins/js.cookie.js"></script>
    <script src="~/js/plugins/jquery.slimscroll.min.js"></script>
    <script src="~/js/plugins/moment-with-locales.js"></script>
    <script src="~/assets/plugins/gritter/js/jquery.gritter.min.js"></script>
    <script src="~/assets/plugins/datetimePicker/bootstrap-datepicker.js"></script>    
    <script src="~/js/plugins/ngStorage.min.js"></script>
    <script src="~/js/plugins/qrcode.js"></script>
    <script src="~/js/signalr.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/plugins/jsonFormatter.min.js" type="text/javascript"></script>


    
    <script src="https://firebasestorage.googleapis.com/v0/b/aircash-dev/o/Frame%2Fjs%2Faircashframe-sdk-web.min.js?alt=media"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/angular-app.js" asp-append-version="true"></script>
    <script src="~/js/angular-setting.js" asp-append-version="true"></script>
    <script src="~/js/angular-controller.js" asp-append-version="true"></script>
    <script src="~/js/angular-directive.js" asp-append-version="true"></script>
    <script src="~/js/plugins/angular-sanitize.js" asp-append-version="true"></script>
    <script src="~/js/plugins/select-2.js" asp-append-version="true"></script>
    <script src="~/js/plugins/jwt-decode.js" asp-append-version="true"></script>
    <script>
        (function(){
            app.factory('config', ['$rootScope', function ($rootScope) {                
                 @{
                    var dict = Configuration
                        .GetSection("translations")
                        .Get<Dictionary<string, string>>();
                    var translations = JsonSerializer.Serialize(dict);
                }
                $rootScope.translations = @Html.Raw(translations);                
	            var config = {
                    baseUrl: '@Configuration.GetSection("ApiUrl").Value',
                    originUrl: '@Configuration.GetSection("BaseUrl").Value'
	            };
	            return config;
            }]);
        })();

    </script>

    <!-- ================== END PAGE LEVEL JS ================== -->
    <!-- ================== BEGIN CUSTOM JS ================== -->
    <script src="~/helpers/JwtParser.js" asp-append-version="true"></script>
    <script src="~/helpers/print.js" asp-append-version="true"></script>
    <script src="~/services/interceptorService.js" asp-append-version="true"></script>
    <script src="~/services/authenticationService.js" asp-append-version="true"></script>
    <script src="~/app/login/login.js" asp-append-version="true"></script>
    <script src="~/app/dashboard/dashboard.js" asp-append-version="true"></script>
    <script src="~/app/abon_op/abon_op.js" asp-append-version="true"></script>
    <script src="~/app/abon_sp/abon_sp.js" asp-append-version="true"></script>
    <script src="~/app/ac_pay/ac_pay.js" asp-append-version="true"></script>
    <script src="~/app/ac_frame/ac_frame.js" asp-append-version="true"></script>
    <script src="~/app/aircashFrameV2/aircashFrameV2.js" asp-append-version="true"></script>
    <script src="~/js/component.js" asp-append-version="true"></script>
    <script src="~/app/ac_redeemTicket/ac_redeemTicket.js" asp-append-version="true"></script>
    <script src="~/app/aircash_paymentAndPayout/aircash_paymentAndPayout.js" asp-append-version="true"></script>
    <script src="~/app/ac_payment/ac_payment.js" asp-append-version="true"></script>
    <script src="~/app/ac_inAppPay/ac_inAppPay.js" asp-append-version="true"></script>
    <script src="~/app/aircash_payout/aircash_payout.js" asp-append-version="true"></script>
    <script src="~/app/aircash_payoutV2/aircash_payoutV2.js" asp-append-version="true"></script>
    <script src="~/app/signature/signature.js" asp-append-version="true"></script>
    <script src="~/app/ac_pay_static_code/ac_pay_static_code.js" asp-append-version="true"></script>
    <script src="~/app/partner_admin/partner_admin.js" asp-append-version="true"></script>
    <script src="~/app/user_admin/user_admin.js" asp-append-version="true"></script>
    <script src="~/app/ac_posDeposit/ac_posDeposit.js" asp-append-version="true"></script>
    <script src="~/app/cashier/cashier.js" asp-append-version="true"></script>
    <script src="~/app/cashier_abon/cashier_abon.js" asp-append-version="true"></script>
    <script src="~/app/cashier/cashier_primaryMenu.js" asp-append-version="true"></script>
    <script src="~/app/cashier_ac_pay/cashier_ac_pay.js" asp-append-version="true"></script>
    <script src="~/app/cashier_ac_frame_menu/cashier_ac_frame_menu.js" asp-append-version="true"></script>
    <script src="~/app/cashier_ac_frame_ac_pay/cashier_ac_frame_ac_pay.js" asp-append-version="true"></script>
    <script src="~/app/cashier_ac_payment/cashier_ac_payment.js" asp-append-version="true"></script>
    <script src="~/app/cashier_ac_payout/cashier_ac_payout.js" asp-append-version="true"></script>
    <script src="~/app/cashier_ac_redeemTicket/cashier_ac_redeemTicket.js" asp-append-version="true"></script>
    <script src="~/app/cashier_c2d/cashier_c2d.js" asp-append-version="true"></script>
    <script src="~/app/logo/logo.js" asp-append-version="true"></script>
    <script src="https://firebasestorage.googleapis.com/v0/b/aircash-dev/o/Frame%2Fjs%2Faircashframe-sdk-web.min.js?alt=media"></script>
    <script src="~/app/components.js" asp-append-version="true"></script>
    <!-- ================== END CUSTOM JS ================== -->
</body>
</html>
