<h1>TopUp (Deposit) and PayOut (Withdrawal) process</h1>
<br />
<p>
    This chapter describes both the payment and payout process. From the sales partner point of view, the described process is the same for both, except that the funds should be either paid by the user or paid out to the user.
</p>

<p>
    Participants:
    <ul>
        <li>
            User – Aircash application user which wishes to make a payment/payout
        </li>
        <li>
            Cashier – person scanning the barcode for Aircash payment/payout
        </li>
        <li>
            Sales partner system – system that the partner has to implement to support Aircash payment/payout
        </li>
        <li>
            Aircash system – system that the sales partner system has to integrate with to make the payment and payout process run smoothly
        </li>
    </ul>
</p>

<p>
    Process:
    <ol>
        <li>
            The user comes to a sales partner location
        </li>
        <li>
            The user shows the barcode to the cashier, and the cashier scans the barcode using the barcode scanner
        </li>
        <li>
            Sales partner system calls the Aircash system using the scanned barcode(CheckCode)
        </li>
        <li>
            Aircash system responds with the amount, and whether it’s a payment or payout transaction
            <ol type="a">
                <li>
                    If it’s a payment
                    <ol type="i">
                        <li>
                            The cashier asks for the money from the user
                        </li>
                        <li>
                            The cashier receives the money from the user. The cashier should always receive the money before taking the next step and confirming the transaction.
                        </li>
                        <li>The cashier confirms the transaction</li>
                        <li>
                            The sales partner system calls the Aircash system to confirm the transaction (ConfirmTransaction)
                            <ul>
                                Potential error recovery (CheckTransactionStatus)
                            </ul>
                        </li>
                    </ol>
                </li>
                <li>
                    If it’s a payout
                    <ol type="i">
                        <li>
                            The cashier confirms the payout transaction
                        </li>
                        <li>
                            The sales partner system calls the Aircash system to confirm the transaction (ConfirmTransaction)
                            <ul>
                                Potential error recovery (CheckTransactionStatus)
                            </ul>
                        </li>
                        <li>
                            The cashier hands the user his money
                        </li>
                    </ol>
                </li>
            </ol>
    </ol>
</p>
<hr />
<h1>Aircash Barcode</h1>
<p>Aircash barcode is 16 character code, barcode consists of "AC1" or "AC2" and 13-digit unique number. Barcode that begins with "AC1" is for TopUp and barcode that begins "AC2" is for PayOut.</p>
<div class="row">
    <div class="mr-3 ml-3 text-center">
        <img width="400" height="150" src="../../images/Barcode_TopUp.jpg" />
        <p class="mt-1">TopUp Barcode Example </p>
    </div>
    <div class="mr-3 ml-3 text-center">
        <img width="400" height="150" src="../../images/Barcode_PayOut.jpg" />
        <p class="mt-1">PayOut Barcode Example </p>
    </div>

</div>
<p>Watch video example for <a href="" ng-click="showVideoDeposit()">deposit</a> and <a href="" ng-click="showVideoWithdrawal()">withdrawal</a>.</p>
<hr />
<h1>Methods called by the sales partner system to the Aircash system</h1>
<p>
    The partner should connect to REST methods that receive JSON objects in order to successfully make requests.
</p>

<ng-include src="'app/aircash_paymentAndPayout/check_code.html'"></ng-include>
<ng-include src="'app/aircash_paymentAndPayout/check_digits.html'"></ng-include>
<ng-include src="'app/aircash_paymentAndPayout/confirm_transaction.html'"></ng-include>
<ng-include src="'app/aircash_paymentAndPayout/check_transaction_status.html'"></ng-include>
<ng-include src="'app/aircash_paymentAndPayout/cancel_transaction.html'"></ng-include>
<ng-include src="'app/aircash_paymentAndPayout/production_release_process.html'"></ng-include>

<!-- #modal-dialog -->
<div class="modal fade" id="videoModalDeposit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deposit</h4>
            </div>
            <div class="modal-body" align="center">
                <video width="600" controls muted>
                    <source src="../../videos/salesPartner_deposit.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModalWithdrawal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Withdrawal</h4>
            </div>
            <div class="modal-body" align="center">
                <video width="600" controls muted>
                    <source src="../../videos/salesPartner_withdrawal.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
