<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h4>CheckTransactionStatus</h4>
    <p>
        Method used by the sales partner to check the status of the transaction in the Aircash system.
        Aircash recommends that the partner use this method in case of when the partner receives
        HTTP error 500 response on the ConfirmTransaction method. This way a partner will be able to
        verify if a transaction was successfully processed on the Aircash side as HTTP error 500
        messages could be the result of communication issues between two systems.
    </p>

    <div class="table-responsive">
        <table class="table  table-active col-md-6">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Method</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Test</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://staging-api.aircash.eu/api/SalesPartner/CheckTransactionStatus</td>
                </tr>
                <tr>
                    <td><b>Production</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://api.aircash.eu/api/SalesPartner/CheckTransactionStatus</td>
                </tr>
            </tbody>
        </table>
    </div>

    <uib-tabset>
        <uib-tab index="CheckTransactionStatus-tab-0" heading="Request parameters" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Required</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>PartnerID</b></td>
                            <td>String</td>
                            <td>Partner identifier</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>PartnerTransactionID</b></td>
                            <td>String</td>
                            <td>
                                Partner’s unique identifier of the transaction
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>Signature</b></td>
                            <td>String</td>
                            <td>
                                Signature to confirm that the partner is indeed making the request. Data to sign is PartnerID={0}&PartnerTransactionID={1}
                            </td>
                            <td>YES</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-1" heading="Request example" classes="nav-item">
            <jsonformatter data="SalesPartner.CheckTransactionStatus.RequestExample"></jsonformatter>
        </uib-tab>
        <uib-tab index="CheckCode-tab-2" heading="Signature" classes="nav-item">
            <pre>
Sequence template (values in red {value} need to be replaced with the values from the request)
<b style="font-size:12px;">
    PartnerID=<i class="text-danger">{partnerID}</i>&PartnerTransactionID=<i class="text-danger">{partnerTransactionID}</i>
</b>
Request example:
</pre>
            <jsonformatter data="SalesPartner.CheckTransactionStatus.RequestExample"></jsonformatter>
            <pre>

Sequence:
PartnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&PartnerTransactionID=c88dcc81-8b43-4808-8ac5-da498bf08439
		
Signature:
pzuh1G6yfUythTRV0CeENIWjJLcJVWTL49NyOYiA9fwZQTDKlmJ930h0KJt3FnfZhBNOCdJ2C8RoyrphX06LLYwOUzLFr8ht1ZcjG5OpWnpVr9vN6kQnq2erhMidXcpaxxpJJYeGfTDqjk5r1QtqiBHOX68uzemZYse6X7OSgbGGvHXXMZrsUs0Vjmh1gPFXDCTRpXf0yJreddrOBdsRkjaG0RcLbppLX7BE5ZQvdctod3mdvOiZ9Z6haavuGJxUjj+KZcTDPn4/SmT+5/BMp7vf/UCygYrOEuIDOqHq/QE6QJvs4GxRB4joDBSFReitasl9sd/+kukUD786WTUCNZW3xLyr4NXA2j7+j0bQAYCRpZlKbgqFGiq+aWqMADclv/vOmXjl2WR6IiBIcddAIkWLy4HDa+nr+4iZIBoG0ZWpsJwgkkZdO0ogdK8PjEaPdQsnoqaXO+D2MrzC9xqFWRKxv2ZiCqk5z4+/+Q1/ZXjSnm1kE3zvUcW2hUHSXUVkYwnTDb69OQ/hTIf3bZ0DzjpSEIzfSPf73/bGgHNSDmxwccs5pNyJeizT4Tx3Mb0HnZ8aCL+3n6ljw9iaou8k+Z4b6HRz9A96/dK3Ib13rIzD2mmZLVwNCKDpOCTUSGxexdwUK5q4gmgG6TJAr1cBnTrelVRtdSdIE78CJzHGXhg=

</pre>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-3" heading="Response parameters" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Required</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Amount</b></td>
                            <td>Number</td>
                            <td>
                                A positive amount represents payment (cashier takes the money from the user), and a negative amount represents payout (cashier hands the money to the user)
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>AircashTransactionID</b></td>
                            <td>String</td>
                            <td>
                                Aircash system’s unique identifier of the transaction
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>LocationID</b></td>
                            <td>String</td>
                            <td>
                                Location identifier that the partner sent on transaction confirmation. If the identifier was not sent, this parameter will remain empty.
                            </td>
                            <td>YES</td>
                        </tr>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-4" heading="200 OK Response example" classes="nav-item">
            <jsonformatter data="SalesPartner.CheckTransactionStatus.ResponseExample"></jsonformatter>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-5" heading="Error response messages" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Http response</th>
                            <th>Description</th>
                            <th>Error Code</th>
                            <th>Message</th>
                            <th>Solution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>401</b></td>
                            <td>
                                The partner is sending an unknown partner ID, or the signature is not valid.
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                Check all of the parameters that are being sent. If all parameters look good, contact Aircash support.
                            </td>
                        </tr>
                        <tr>
                            <td><b>400</b></td>
                            <td>
                                An invalid request was made. The response will contain an error code and message
                            </td>
                            <td><b>5</b></td>
                            <td>Transaction doesn’t exist in Aircash system</td>
                            <td>
                                The transaction with the given PartnerTransactionID doesn’t exist in the Aircash system. Sales partner can cancel the transaction in their system and repeat the confirmation process.
                            </td>
                        </tr>
                        <tr>
                            <td><b>500</b></td>
                            <td>
                                Unexpected system error
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                Try again until the system recovers.
                            </td>
                        </tr>
                </table>
            </div>
            <p>
                Corner cases<br />
                In case of Aircash system not returning a response to a ConfirmTransaction call, or responding with an error 500, the sales partner system should check the transaction status in Aircash system by calling the CheckTransactionStatus method.
            </p>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-6" heading="Error response example" classes="nav-item">
            <uib-tabset class="row tabs-left">
                <uib-tab index="CheckTransaction-tab-1" heading="5- Transaction doesn’t exist in Aircash system" classes="nav-item">
                    <div class="row col-12">
                        <div class="col-sm-6 overflow-auto" ng-if="!errorCheckTransactionResponded ">
                            Request
                            <jsonformatter data="errorExamples.CheckTransaction.error5.request"></jsonformatter>

                            Sequence:
                            PartnerID=e747a837-85d9-4287-a412-ffbb5d1b0ad8&PartnerTransactionID=6fec1de6-c1c5-483d-9bfc-1b689c6d22ef
                        </div>
                        <div class="col-sm-6" ng-if="!errorCheckTransactionResponded ">
                            Response
                            <jsonformatter data="errorExamples.CheckTransaction.error5.response"></jsonformatter>
                        </div>
                        <div class="col-sm-6 overflow-auto" ng-if="errorCheckTransactionResponded">
                            Request ({{errorCheckTransactionRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorCheckTransactionRequest"></jsonformatter>

                            Sequence: {{errorCheckTransactionSequence}}<br />

                        </div>
                        <div class="col-sm-6" ng-if="errorCheckTransactionResponded">
                            Response ({{errorCheckTransactionResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorCheckTransactionResponse"></jsonformatter>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" ng-click="checkTransactionStatusSimulateError()" ng-disabled="errorCheckTransactionServiceBusy">Simulate <i ng-if="errorCheckTransactionServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorCheckTransactionRequestCopy)" ng-if="errorCheckTransactionResponded">Copy Request</button>
                </uib-tab>
            </uib-tabset>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-7" heading="Try it out" classes="nav-item">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <p>Recent transactions:</p>
                    <div>
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Transaction ID</th>
                                            <th>Amount</th>
                                            <th>Check</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="checkTotalLoaded == 0 && !checkBusy">
                                            <td colspan="12" align="center">
                                                <i>No data</i>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="transaction in checkTransactions">
                                            <td>{{$index + 1}}.</td>
                                            <td>{{transaction.transactionId}}</td>
                                            <td>{{transaction.amount | number:2}}</td>
                                            <td style="text-align: center; vertical-align: inherit">
                                                <button class="btn btn-primary fa fa-check" ng-click="checkTransactionStatus(transaction.transactionId)"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <load-more total-loaded="checkTotalLoaded" out="checkLoadMore"></load-more>
                    </div>
                </div>
                <div class="col-md-0.5"></div>
                <br />
                <div ng-if="checkTransactionStatusServiceResponded" class="col-md-4">
                    Request ({{checkTransactionStatusRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                    <jsonformatter data="checkTransactionStatusServiceRequest"></jsonformatter>
                    Sequence: {{checkTransactionStatusSequence}}<br />
                </div>
                <div ng-if="checkTransactionStatusServiceResponded" class="col-md-3">
                    <p>
                        Response ({{checkTransactionStatusRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                    </p>
                    <jsonformatter data="checkTransactionStatusServiceResponse"></jsonformatter>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

</body>
</html>