<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading bg-red text-white">
                <h3 class="">Aircash Marketplace Deposit</h3>
                <div class="panel-heading-btn">

                </div>
            </div>
            <div class="panel-body">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col-md-1"></div>
                    <div class="col-lg-10 col-md-12">
                        <br />
                        <div class="text-center mb-4 mt-3">
                            <img style="height:50px;" alt="" src="/images/aircash-red.svg">
                        </div>
                        <br />
                        <h6 ng-bind-html="translationsCashier.ac_payment_cashier_description">
                            {{translationsCashier.ac_payment_cashier_description}}
                        </h6>
                        <form action="/" method="POST" name="paymentForm">
                            <fieldset>
                                <label class="form-label">{{translationsCashier.cashier_phone_number_input_label}}</label>
                                <phone-number-input output="paymentModel.phoneNumber"></phone-number-input>
                                <label class="form-label">{{translationsCashier.ac_payment_cashier_username_input_label}}</label>
                                <input class="form-control form-control-lg" ng-model="paymentModel.username" type="text" placeholder="{{translationsCashier.ac_payment_cashier_username_placeholder}}" required />
                                <label class="form-label">{{translationsCashier.cashier_amount_input_label}}</label>
                                <div class="mb-3 input-group">
                                    <input class="form-control form-control-lg" ng-model="paymentModel.amount" type="number" placeholder="{{translationsCashier.cashier_amount_placeholder}}" min="0" step="0.01" required />
                                    <span class="input-group-addon">€</span>
                                    <label class="form-label col-form-label col-md-5" for="amount">{{translationsCashier.cashier_amount_input_note}}</label>
                                </div>
                            </fieldset>
                        </form>

                        <button class="btn btn-danger w-100px me-5px" style="width:100%; font-size:15px;" ng-click="Deposit()" ng-disabled="paymentServiceBusy|| paymentForm.$invalid">{{translationsCashier.ac_payment_cashier_deposit_button}}<i ng-if="paymentServiceBusy" class="fa fa-cog fa-spin"> </i></button>

                        <div class="row row-cols-1 row-cols-sm-2 text-center align-items-center justify-content-center" style="margin-top: 20px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px;">
                            <div class="iconGoogleMarket col-md-4 col-sm-12 p-0 align-items-center justify-content-center">
                                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.aircash.aircash"><img src="../../app/cashier/img/google-play-en.svg" style="max-width: 70%"></a>
                            </div>
                            <div class="iconAppleMarket col-md-4 col-sm-12 p-0 align-items-center justify-content-center">
                                <a target="_blank" href="https://apps.apple.com/us/app/aircash/id1178612530"><img src="../../app/cashier/img/app-store-en.svg" style="max-width: 70%"></a>
                            </div>
                            <div class="iconHuaweiMarket col-md-4 col-sm-12 p-0 align-items-center justify-content-center">
                                <a target="_blank" href="https://appgallery.huawei.com/#/app/C103225321"><img src="../../app/cashier/img/app-gallery-en.svg" style="max-width: 70%"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div>
                    <center>
                        <label class="form-label">Amount Paid:</label>
                                <input class="form-control form-control-lg col-4" ng-model="amountPaidModel.AmountPaid" type="text" placeholder="0" readonly />                        
                    </center>
                        </div>
                </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
