<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="width: 100%">
        <h1>Payment process</h1>
        <br/>
        <p>
            This chapter describes the top up process using the Aircash application. The described
            process explains how the user can pay the invoice in the partner system using AircashPay.
        </p>
        <p>
            The transfer process consists of three steps:
        </p>
        <ol>
            <li>
                <b>Generate transaction code (GeneratePartnerCode)</b>
                <ul>
                    <li>
                        Partner system must send information to the Aircash system in order to generate
                        payment code for invoice/transaction
                    </li>
                    <li>
                        Transaction must have partnerid, currency, amount and some unique transaction
                        identifier
                    </li>
                    <li>
                        Partner system should display transaction code on invoice/POS so that user can take
                        photo of that code
                    </li>
                    <li>
                        In case integration is done for multiple business entities, integration must have
                        option to send different partnerid for each transaction
                    </li>
                </ul>
            </li>
            <li>
                <b>User payment</b>
                <ul>
                    <li>
                        Once a user takes a photo of that code via Aircash app, Aircash system will display
                        information to the user about the transaction.
                    </li>
                    <li>User will have option to confirm or reject transaction payment</li>
                </ul>
            </li>
            <li>
                <b>Transaction confirmation (ConfirmTransaction)</b>
                <ul>
                    <li>
                        Once user confirm transaction Aircash system will send information to partner
                        system about payment
                    </li>
                    <li>
                        The partner system is obliged to provide an access point through which funds are
                        transferred to the user's account
                    </li>
                    <li>
                        Partner system must ensure that transaction is confirmed and processed only once
                        as Aircash can confirm one transaction several times in case of network issues
                    </li>
                    <li>Partner system must acknowledge each processed transaction to Aircash system</li>
                </ul>
            </li>
        </ol>
        <hr />

        <h1>Methods called by Aircash on the partner system</h1>
        <p>
            The Partner should open one REST method that receives JSON objects in order to successfully
            confirm transactions.
        </p>
        <br />
        <h2>Methods called by partner system on the Aircash system</h2>
        <p>
            Aircash will provide two REST methods that receive JSON objects. First method is mandatory
            in implementation and that is code generation. Second method is transaction cancellation. Once the
            transaction is confirmed the partner has the ability to cancel the transaction and return funds to the
            user.
        </p>
        <p>
            In each method partner should send header Content-Type with value application/json
        </p>
        <p>
            All Aircash methods have common behaviour in case of responses:
        </p>
        <ul>
            <li>
                In case of successful response Aircash system will return HTTP response 200 OK with JSON
                content in response.
            </li>
            <li>In case of server error Aircash system will return HTTP response 500 Server error</li>
            <li>
                In case of bad request Aircash system will return HTTP response 400 Bad request with json
                content about error
            </li>
            <li>In case of invalid partner ID or invalid signature, Aircash system will return 401 Unauthorized</li>
        </ul>
        <hr />
        <h1>Aircash API</h1>
        <br />
        <h4>GeneratePartnerCode</h4>
        <p>
            This method is used for the partner system to generate payment code for the transaction.
            Each transaction must have a fixed amount and currencyID along with a unique partner transaction
            id. Once a user confirms that transaction via Aircash app, Aircash system will send transaction
            confirmation with these parameters to partner system.
        </p>
        <p>
            PartnerID parameter is equal for each transaction for one business entity and that partner id
            will be provided by Aircash system. In case an integrator has a system with multiple business entities
            is important that integration enables different partner id for each business entity. This is imperative
            as Aircash system will display business entity name to each user before payment and Aircash system
            will use this partner id to create settlements for each partner.
        </p>
        <p>
            Aircash system will ensure that one transaction can be paid only once. In order to do that
            Aircash will use a partner transaction id to track the number of payments per transaction. In case the
            user tries to pay one partner transaction id twice, Aircash system will reject those attempts and with
            statement that transaction is already paid for. Partner can regenerate payment code for a partner
            transaction ID but the partner must send identical parameters in request in order to receive the same
            code. In case a partner sends any parameter differently from the first request API will respond with
            appropriate error. The Partner should use this option only in case of some communication error
            while code generation.
        </p>
        <p>
            Partner system will receive one parameter in a successful response. That parameter is a link
            that the partner system should display to users as QR code to simplify the payment process.
        </p>
        <i>Endpoints:</i>
        <table class="table table-active col-md-6">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Method</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Test</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://staging-m3.aircash.eu/api/AircashPay/GeneratePartnerCode</td>
                </tr>
                <tr>
                    <td><b>Production</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://m3.aircash.eu/api/AircashPay/GeneratePartnerCode</td>
                </tr>
            </tbody>
        </table>
        <br />
        <uib-tabset active="active">
            <uib-tab index="request-tab-0" heading="Request parameters" class="nav-item">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Mandatory</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>PartnerID</b></td>
                            <td>string</td>
                            <td>
                                Unique partner identifier (per currency) provided by Aircash
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>Amount</b></td>
                            <td>decimal</td>
                            <td>
                                Transaction amount
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>CurrencyID</b></td>
                            <td>int</td>
                            <td>
                                Currency ID (e.g. 978)
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>PartnerTransactionID</b></td>
                            <td>string</td>
                            <td>
                                Unique transaction identificator in
                                partner system. Based on this
                                parameter, partner will confirm
                                transactions
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>Description</b></td>
                            <td>string</td>
                            <td>
                                Transaction description, additional info
                                about transaction (e.g. payment for
                                invoice 42)
                            </td>
                            <td>NO</td>
                        </tr>
                        <tr>
                            <td><b>ValidForPeriod</b></td>
                            <td>int?</td>
                            <td>
                                Optional code validity period in
                                seconds. Aircash system will not allow
                                users to confirm transactions after this
                                period of time. Note that this period is
                                from the moment the Aircash system
                                processes a request not from the
                                moment the partner system generates
                            </td>
                            <td>NO</td>
                        </tr>
                        <tr>
                            <td><b>LocationID</b></td>
                            <td>string</td>
                            <td>
                                Partner should define location id for
                                each store as this parameter is very
                                useful in the support process.
                                In case partner has only one location or
                                in case partner has only online store
                                this parameter is optional
                            </td>
                            <td>
                                NO, but highly
                                recommended
                                to send
                            </td>
                        </tr>
                        <tr>
                            <td><b>Signature</b></td>
                            <td>string</td>
                            <td>
                                Signature
                            </td>
                            <td>
                                YES
                            </td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="request-tab-1" heading="Request example" class="nav-item">
                <json-formatter open="1" json=generatePartnerCodeRequestExample></json-formatter>
            </uib-tab>
            <uib-tab index="request-tab-2" heading="Signature" class="nav-item">
                <pre>
Request example:
                    <json-formatter open="1" json=generatePartnerCodeRequestExample></json-formatter>

Sequence:
Amount=100&CurrencyID=191&Description=test&LocationID=test&PartnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&PartnerTransactionID=ef52ca13-33b4-4564-8bca-0cbfc7c5a37d

Signature:
WUY3NyUagimkDbTgQ9qkI/EgB63wtsA0J7MrsztAnGElQvqfc9Owm5NMLopFMeo4AQ6NABgkju2+XTo3gLqGBXG8BK8fA8GQJoG+by4u1eyZDJ4/sx/4zMaAWa02KrxYofo4Bb9l4y2oTPVJzZcHto8dvFZptZayTcvqm++oUGuEtKhLZjvUEK0w3lNYvWxPSf7XD1in1c/eqxbeROi2uTw+QPYBa/ueWNxVApAuQYh7Kh8di1p+CZSEUR611e+j4gVlTX7JciVoOr6Nq0p1OZcQfrKCHKZ7RJxEdkSVoikCWGZM+pBwsqDWTQTUA3wOR/+WP4XR0SXxthWy4IjQl1pLrTpalohCPDWPisb9HASmFghDvppNTS5j7Emt1xz97RMZWZB8bd6wEwgQWSs9gBEmGZjpehCOzbIaACUKV4qRMJN5RmB15gTFjOdVpTDeSM+z2iwN0M6QZO3wQIjjoNba55/7ELqpTfVi/ud7fCgOFDHTxAW3qv2ihE8E+1LhNPy6uHLG1JZOy7rtgQ2evjMbqxjRIxslY8E07Ia4Ayb+E3/YhX30QU4HCgbmUz4FqoH/NwK/WKGLFNER2cGrr/+y0SG+vVfb5p295Vfv/ZrTuw4zQ5rplTyN8t11PM/XUCXRo0d3Q3lrHhvtJi5qWZiNr/oUPIkX3GkadEanrWo=
                </pre>
            </uib-tab>
            <uib-tab index="request-tab-3" heading="Response parameters" class="nav-item">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>CodeLink</b></td>
                            <td>string</td>
                            <td>
                                Link that partner system should display as QR code
                                towards the end user.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="request-tab-4" heading="200 OK response example" class="nav-item">
                <json-formatter open="1" json=generatePartnerCodeResponseExample></json-formatter>
            </uib-tab>
            <uib-tab index="request-tab-5" heading="Error response messages" class="nav-item">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Http response</th>
                            <th>Description</th>
                            <th>Error Code</th>
                            <th>Message</th>
                            <th>Aditional data</th>
                            <th>Solution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>400</b></td>
                            <td>An invalid request was made. The response will contain an error code, message and optionally additionalData.</td>
                            <td>
                                <b>1</b><br />
                            </td>
                            <td>
                                Partner transaction ID is not unique.<br />
                            </td>
                            <td>
                                -<br />
                            </td>
                            <td>
                                Contact Aircash support
                            </td>
                        </tr>
                        <tr>
                            <td><b>401</b></td>
                            <td>In case the partner sends an unknown partner ID or invalid signature Aircash system will return this response</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                Check the parameters that are being sent according to the Aircash system. If they are all according to documentation please contact Aircash support
                            </td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="request-tab-6" heading="Try it out" class="nav-item">
                <div class="row">
                    <div class="col-md-2">
                        <form action="/" method="POST" name="generateForm">
                            <fieldset>
                                <div class="mb-3">
                                    <label class="form-label" for="exampleInputEmail1">Amount</label>
                                    <input ng-model="generatePartnerCodeModel.amount" type="number" class="form-control" ng-required="true" name="amount" min="0" step="0.01">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="exampleInputEmail1">Description</label>
                                    <input ng-model="generatePartnerCodeModel.description" class="form-control" type="text" ng-required="true" placeholder="Enter description">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="exampleInputEmail1">Location ID</label>
                                    <input ng-model="generatePartnerCodeModel.locationID" class="form-control" type="text" ng-required="true" placeholder="Enter location ID">
                                </div>
                                <button ng-click="generatePartnerCode()" class="btn btn-primary w-100px me-5px" ng-disabled="generateBusy || generateForm.$invalid">Generate <i ng-if="generateBusy" class="fa fa-cog fa-spin"></i></button>
                            </fieldset>
                        </form>
                    </div>

                    <br />
                    <div ng-hide="!generateResponded" class="col-md-4">
                        Request ({{GenerateRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <button ng-click="copyToClipboard(copyGenerateServiceRequest , 0);" class="btn btn-light btn-xs w-100px me-5px">Copy</button>
                        <span ng-show="displayTooltip[0]" class="p-3"><b>Copied</b></span>
                        <json-formatter open="1" json=GenerateServiceRequestObject></json-formatter>
                        Sequence: {{sequenceGenerate}}
                    </div>
                    <div ng-hide="!generateResponded" class="col-md-6">
                        Response ({{GenerateResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <json-formatter open="1" json=GenerateServiceResponseObject></json-formatter>
                        <div>
                            <button ng-click="showQRCode()" class="btn btn-primary w-100px me-5px">Show QR Code</button>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

        <br />
        <h4>ConfirmTransaction</h4>
        <p>
            Once the user confirms the transaction Aircash system will send a confirmation message
            towards the partner system. Partner system should process that message and return a successful
            response in case of successful processing. In case Aircash system doesn’t receive successful response
            Aircash system will retry this request several times after which it will notify Aircash support upon
            unsuccessful confirmation.
        </p>
        <p>Partner should provide an url where Aircash will send all transaction confirmations.</p>
        <i>Endpoints:</i>
        <table class="table table-active col-md-6">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Method</th>
                    <th>URL</th>
                </tr>
            </thead>
                <tr>
                    <td><b>Test</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://staging-m3.aircash.eu/api/AircashPay/ConfirmTransaction</td>
                </tr>
                <tr>
                    <td><b>Production</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://m3.aircash.eu/api/AircashPay/ConfirmTransaction</td>
                </tr>
        </table>
        <br />
        <uib-tabset>
            <uib-tab index="request-tab-0" heading="Request parameters" classes="nav-item">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Mandatory</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>PartnerID</b></td>
                            <td>string</td>
                            <td>
                                Unique partner identifier (per currency) provided by Aircash
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>PartnerTransactionID</b></td>
                            <td>string</td>
                            <td>
                                ID that partner sends in the
                                GeneratePartnerCode method.
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>Amount</b></td>
                            <td>decimal</td>
                            <td>
                                Transaction Amount - user will not be
                                able to change amount so this will always
                                be same as in GeneratePartnerCode
                                method
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>CurrencyID</b></td>
                            <td>int</td>
                            <td>
                                Currency ID (e.g. 978) - user will not
                                be able to change currency so this will
                                always be same as in
                                GeneratePartnerCode method
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>AircashTransactionID</b></td>
                            <td>string</td>
                            <td>
                                Transaction ID in aircash system
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>Signature</b></td>
                            <td>string</td>
                            <td>
                                Signature by Aircash system confirming
                                that Aircash is sending request to the
                                partner system
                            </td>
                            <td>
                                YES
                            </td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="request-tab-1" heading="Request example" classes="nav-item">
                <json-formatter open="1" json=confirmTransactionRequestExample></json-formatter>
            </uib-tab>
            <uib-tab index="request-tab-2" heading="Response example" classes="nav-item">
                <p>
                    Partner system should respond with HTTP response 200 OK in case of success. In case the partner
                    system isn’t able to process the transaction, the partner system should respond with HTTP response
                    code that isn’t 200 OK.
                </p>
            </uib-tab>
        </uib-tabset>
        <br />
       
        <br />
        <h4>RefundTransaction</h4>
        <p>
            In order to refund transaction, partner can send a request towards Aircash refund endpoint containing the information that
            will uniquely identify the original transaction that needs to be refunded, along with the amount that will be added to the
            Aircash user’s wallet.
        </p>
        <p>
            Refund method can be called multiple times as long as the sum of previous refund amounts is less or
            equal to the amount of the original transaction.
        </p>
        <i>Endpoints:</i>
        <table class="table table-active col-md-6">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Method</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Test</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://staging-m3.aircash.eu/api/AircashPay/RefundTransaction</td>
                </tr>
                <tr>
                    <td><b>Production</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://m3.aircash.eu/api/AircashPay/RefundTransaction</td>
                </tr>
            </tbody>
        </table>
        <br />
        <uib-tabset>
            <uib-tab index="request-tab-0" heading="Request parameters" classes="nav-item">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Mandatory</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>PartnerID</b></td>
                            <td>string</td>
                            <td>
                                Unique partner identifier (per currency) provided by Aircash
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>PartnerTransactionID</b></td>
                            <td>string</td>
                            <td>
                                Transaction ID (in the partner system) that needs to be refunded
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>RefundPartnerTransactionID</b></td>
                            <td>string</td>
                            <td>
                                ID of the requested refund transaction
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>Amount</b></td>
                            <td>decimal</td>
                            <td>
                                Amount that needs to be refunded
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>Signature</b></td>
                            <td>string</td>
                            <td>
                                Signature by the platform system confirming that plugin is
                                sending request to the Aircash system
                            </td>
                            <td>
                                YES
                            </td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="request-tab-1" heading="Request example" classes="nav-item">
                <json-formatter open="1" json=refundTransactionRequestExample></json-formatter>
            </uib-tab>
            <uib-tab index="request-tab-2" heading="Signature" classes="nav-item">
                <pre>
Request example:
                    <json-formatter open="1" json=refundTransactionRequestExample></json-formatter>

Sequence:
Amount=50&PartnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&PartnerTransactionID=28f0f0db-69cf-4350-8084-a0d431c2c837&RefundPartnerTransactionID=abc66734-9d5a-4f7f-891a-185e1bb3144a

Signature:
CQ83DaMKixqxb0IqkQsciHKVg9paxghkHduVn72OjW4t/CwSCXKv3r9o5Nmwb+uK8KN4r/f+9raUlEUNV6VaclQ2pDj+ONQOatj5QkZXlxEVyxxwmDYGB+HMJJXta9bPwRWW4CpCgzJykoEMr/g71EYqAUc/H8XqSi2IWeRNmF77mLxbvIEwGpRnidlnNoJM042NxNF0KBJILjv17JT/GMHTSUWT98CNlupYE+PDW6F9s1A1RaOMhwrMaqDlpqOkAWcxNCP1BeUNNzyxJFBsrD1MfFlM23p7MzktCQ1eNpM+DWeB6wlu8s2wMzUtsY1ia7PYS/vUpHFmCBJnvRannCC2KmBKXnL/hmCPJjiUVTVQSjuQdfNPRAiT+E6LLpPoV/LTxTEB+kwhc89qIqE6NvcecWAtyYP1OqKmFKlgapoCwjk6kVpDk9ynmtwb9SY788cICaGbXuPEDV81DudLuXlbIpDKJLPlRa0fnCBqi7FZrbXQbg9DRHfEcyc78x6hvZrITDGYE/rx0uKHeaVCXYYcbraj4T7xKohQsezw55pv8FNJB8JE167WFY8pSX4yduTT2TpDINa2wahMC/Y0Z9RXjBtfQfdZbgEZN63+fNsYyxrzHONmvDgnG1rcEgjKe+yMcTxxa973PxFju4wpNfYxw5x/BdVUkEIt+XkQE6Y=</pre>
            </uib-tab>
            <uib-tab index="request-tab-3" heading="Response parameters" classes="nav-item">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>TransactionID</b></td>
                            <td>
                                string
                            </td>
                            <td>
                                ID of the original Aircash transaction that is refunded
                            </td>
                        </tr>
                        <tr>
                            <td><b>ParnerTransactionID</b></td>
                            <td>
                                string
                            </td>
                            <td>
                                Transaction ID (in the partner system) that is refunded
                            </td>
                        </tr>
                        <tr>
                            <td><b>RefundPartnerTransactionId</b></td>
                            <td>
                                string
                            </td>
                            <td>
                                ID of the requested refund transaction
                            </td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="request-tab-4" heading="Error responses" classes="nav-item">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Http response</th>
                            <th>Description</th>
                            <th>Error Code</th>
                            <th>Message</th>
                            <th>Aditional data</th>
                            <th>Solution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>400</b></td>
                            <td>An invalid request was made. The response will contain an error code, message and optionally additionalData.</td>
                            <td>
                                <b>0</b><br />
                                <b>1</b><br />
                                <b>2</b><br />
                                <b>3</b><br />
                            </td>
                            <td>
                                Request not well formatted.<br />
                                Requested amount must be higher than 0<br />
                                Transaction with PartnerTransactionID not found in the Aircash system<br />
                                Requested amount is higher than remaining amount from the original transaction<br />
                            </td>
                            <td>
                                -<br />
                                -<br />
                                -<br />
                                -<br />
                            </td>
                            <td>
                                Contact Aircash support
                            </td>
                        </tr>
                        <tr>
                            <td><b>401</b></td>
                            <td>In case the partner sends an unknown partner ID or invalid signature Aircash system will return this response</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                Check the parameters that are being sent according to the Aircash system. If they are all according to documentation please contact Aircash support
                            </td>
                        </tr>
                        <tr>
                            <td><b>500</b></td>
                            <td>An unknown error occured</td>
                            <td>-</td>
                            <td>Unknown error has occurred</td>
                            <td>-</td>
                            <td>
                                Contact Aircash support
                            </td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>       
            <uib-tab index="request-tab-6" heading="Error response example" classes="nav-item">
                <json-formatter open="1" json=refundTransactionErrorResponseExample></json-formatter>
            </uib-tab>
            <uib-tab index="request-tab-7" heading="Try it out" classes="nav-item">
                <div class="row">
                    <div class="col-md-2">
                        <form action="/" method="POST" name="generateForm">
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Refund Amount</label>
                                <input ng-model="refundTransactionModel.amount" type="number" class="form-control" ng-required="true" name="amount" min="0" step="0.01">
                            </div>
                            <!--     <button ng-click="generatePartnerCode()" class="btn btn-primary w-100px me-5px" ng-disabled="generateBusy || generateForm.$invalid">Generate <i ng-if="generateBusy" class="fa fa-cog fa-spin"></i></button>-->
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Recent transactions:</p>
                        <div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Transaction ID</th>
                                            <th>Amount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="totalLoaded == 0 && !busy">
                                            <td colspan="12" align="center">
                                                <i>No data</i>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="transaction in transactions">
                                            <td>{{$index + 1}}.</td>
                                            <td>{{transaction.partnerTransactionId}}</td>
                                            <td>{{transaction.amount | number:2}}</td>
                                            <td style="text-align: center; vertical-align: inherit">
                                                <button class="btn btn-danger fa fa-ban" ng-click="refundTransaction(transaction.partnerTransactionId)"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <load-more total-loaded="totalLoaded" out="loadMore"></load-more>
                        </div>
                    </div>

                    <br />
                    <div ng-hide="!refundResponded" class="col-md-4">
                        Request ({{refundRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <button ng-click="copyToClipboard(copyRefundServiceRequest , 1);" class="btn btn-light btn-xs w-100px me-5px">Copy</button>
                        <span ng-show="displayTooltip[1]" class="p-3"><b>Copied</b></span>
                        <json-formatter open="1" json=refundServiceRequestObject></json-formatter>
                        Sequence: {{sequenceRefund}}
                    </div>
                    <div ng-hide="!refundResponded" class="col-md-4">
                        Response ({{RefundResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <json-formatter open="1" json=refundServiceResponseObject></json-formatter>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
        
        <hr />
        <h1>Production process</h1>
        <br />
        <p>The production process consists of several steps that take place sequentially:</p>
        <ol>
            <li>All acceptance criteria are checked and are performing in line with expectations</li>
            <li>
                The partner will push his service to production and define address for Confirm
                Transaction method
            </li>
            <li>Aircash will enable partner in production</li>
            <li>If possible partner will generate one test transaction in production</li>
        </ol>
        <br />
        <h4>Acceptance criteria</h4>
        <br />
        <p>
            To release the service in the production, you need to make several tests to see if the integration is
            well-made and ready for production
        </p>
        <table class="table table-active">
            <thead>
                <tr>
                    <th>Scenario</th>
                    <th>Test description</th>
                    <th>Mandatory</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>GeneratePartnerCode</b></td>
                    <td>
                        Partner system generates code with a unique
                        transaction id every time.
                    </td>
                    <td>YES</td>
                </tr>
            </tbody>
                <tr>
                    <td><b>ConfirmTransaction</b></td>
                    <td>
                        <p>Partner system process confirm transaction successfully:</p>
                        <ul>
                            <li>
                                each transaction is processed in partner
                                system as paid
                            </li>
                            <li>
                                for each transaction partner system
                                respond with successful response
                            </li>
                        </ul>
                    </td>
                    <td>YES</td>
                </tr>
                <tr>
                    <td><b>CancelTransaction</b></td>
                    <td>
                        Partner system processes transaction cancellation
                        successfully on both sides.
                    </td>
                    <td>
                        YES, if this method is
                        implemented
                    </td>
                </tr>
                <tr>
                    <td><b>RefundTransaction</b></td>
                    <td>
                        Partner system processes transaction refund
                        successfully on both sides.
                    </td>
                    <td>
                        YES, if this method is
                        implemented
                    </td>
                </tr>
        </table>
    </div>
</body>
</html>

<!-- #modal-dialog -->
<div class="modal fade" id="QRModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">QR Code</h4>
            </div>
            <div class="modal-body" align="center">
                <div id="qrcode"></div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
