<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div style="width: 100%">
        <h1>Intro</h1>
        <br />
        <div class="row">
            <div class="col-md-12">
                <p>
                    <a href="https://abon.cash/">Aircash Abon</a> is a platform intended for users that wish to make payments to their accounts (betting sites, parking services, GSM topups etc.) via paper vouchers that can be bought at cash registers, i.e. points of sales of Aircash Sales Partners (kiosks, gas stations, etc.).
                </p>
                <p>
                    From the Online Provider's perspective: the user logs in to a website or
                    a mobile app of an Online Provider (e.g. a booking site), and chooses to
                    deposit money via an Aircash Abon voucher. He enters the 16-digit
                    code from the coupon he bought, and confirms the transaction of
                    funds to an Online Provider account. The funds are deposited to the
                    user's online account, and the coupon gets expended and can no
                    longer be used.
                </p>
                <p>
                    An example of an Aircash Abon is shown <a href="" ng-click="showCoupon()">here</a>.
                </p>
                <p>Watch video example <a href="" ng-click="showVideoAbon()">here</a>.</p>
            </div>

        </div>

        <ng-include src="'app/abon_op/technical-integration_aspects.html?v=' + appVersion"></ng-include>

        <hr />
        <h1>Online Provider API</h1>

        <ng-include src="'app/abon_op/validate_coupon.html?v=' + appVersion"></ng-include>
        <ng-include src="'app/abon_op/confirm_payment_push_notification.html?v=' + appVersion"></ng-include>
        <ng-include src="'app/abon_op/confirm_transaction.html?v=' + appVersion"></ng-include>

        <ng-include src="'app/abon_op/prerequisite.html?v=' + appVersion"></ng-include>
        <ng-include src="'app/abon_op/edge_cases.html?v=' + appVersion"></ng-include>
        <ng-include src="'app/abon_op/testVoucher.html?v=' + appVersion"></ng-include>
        <ng-include src="'app/abon_op/FAQ.html?v=' + appVersion"></ng-include>
        <ng-include src="'app/abon_op/abon_deposit_app.html?v=' + appVersion"></ng-include>

        <!-- #modal-dialog -->
        <div class="modal fade" id="couponModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Abon example</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <img src="../../images/abon.png" alt="Abon">
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="videoModalAbon">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Abon</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <video width="600" controls muted>
                            <source src="../../videos/ac_abon.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>