<br />
<div class="row">
    <h4 ng-if="select.validateCouponVersion == 1" class="col-auto">ValidateCoupon</h4>
    <h4 ng-if="select.validateCouponVersion == 2" class="col-auto">CheckStatus</h4>
    <div class="dropdown col-auto">
        <select class="form-control" ng-model="select.validateCouponVersion" ng-init="select.validateCouponVersion = '2'">
            <option value="1" selected>V1</option>
            <option value="2">V2</option>
        </select>
    </div>
    <div class="col">
    </div>
</div>

<div ng-if="select.validateCouponVersion == 1">
    <p>
        ValidateCoupon method allows you to check the coupon status, value and whether it is valid. Once you
        check the coupon validity and in case it is valid, you can call the ConfirmTransaction method to use that
        coupon.
    </p>
    <div class="table-responsive">
        <table class="table table-active col-md-6">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Method</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Test</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://staging-a-bon.aircash.eu/rest/api/OnlineProvider/ValidateCoupon</td>
                </tr>
                <tr>
                    <td><b>Production</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://a-bon.aircash.eu/rest/api/OnlineProvider/ValidateCoupon</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <uib-tabset active="active">
        <uib-tab index="request-tab-0" heading="Request parameters" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Parameters</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Required</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><b>CouponCode</b></td>
                            <td>string</td>
                            <td>
                                16 digit coupon code that the user enters in the Merchant's web interface
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>ProviderId</b></td>
                            <td>string</td>
                            <td>
                                Unique partner identifier (per currency) provided by Aircash
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Signature</b></td>
                            <td>string</td>
                            <td>
                                A sequence that has been digitally signed with the
                                Merchant's private signature, used for authentication
                            </td>
                            <td>YES</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="request-tab-1" heading="Request example" classes="nav-item">
            <jsonformatter data="aBonDeposit.validateCoupon.requestExample"></jsonformatter>
        </uib-tab>
        <uib-tab index="request-tab-2" heading="Signature" classes="nav-item">
<pre>
Request example:
</pre>
            <jsonformatter data="aBonDeposit.validateCoupon.requestExample"></jsonformatter>
<pre>
Sequence:
CouponCode=5460446045144493&ProviderId=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf

Signature:
BPz2mGu8UG89zpFZYdpbESrR4H4mA7cfWJBuyXWLtYJoQShHYQiMklof7NwNy/9lm0sC+PI7J99C/AhleCPrzeF4aYxYXMM5wg+0zMwOPTq/8uqnAmORreYqt5IcpnPxYryXEGpak/NNP3fqH911W4XAKJAurBSv5M/CxV+AC4v8GGkMKZPklH3GKReVDqsy3IP3GK1xnSEoz41h+qL7Ou2qjcEwE9KqDplaejDWFc9DB9ZxrB9+OZHds/rE1uGPfuqyGMgzv9zdsbeXYn2LvPjnvaHWYRPUDkwt3NlhYegayakxP49S4jTYAHNuDNboQVe81glnSawo1cF1T6SG7w3U6VnnKv6cdslHt+UB4xW0gTe3WDeCAUe6+W6LFeJY1dbYVz4x4PKvTFml6um6Qp8o1F1UfN/MemHojHwK0NXgtHpEyB1NvY5UyMJAIRZinMVxWDDCBFFwSp0VlAYx2mKUP60Y4HR9c/7MBh5wHVTFODQoN83h21sRtINntvm3GZRCtWgH0Xx8MOAi0UjgsYribLtxESsao4DMy06VxcokVNI4r6fqbzKYd0g+tF1kTRV0ZXeqK1PiDTyEzBxxakXnhOPUHf+E8B+zBpJrdNQPjyytVHMosjFTEpLI3HjpKslD0bFdk5Y+oWkYwMktHy1B9KMl5OraM4fZufrviCQ=
</pre>
        </uib-tab>
        <uib-tab index="request-tab-3" heading="Response parameters" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>CouponValue</b></td>
                            <td>decimal</td>
                            <td>
                                Coupon value
                            </td>
                        </tr>
                        <tr>
                            <td><b>IsValid</b></td>
                            <td>bool</td>
                            <td>
                                Status of the coupon's validity
                            </td>
                        </tr>
                        <tr>
                            <td><b>ISOCurrency</b></td>
                            <td>string</td>
                            <td>
                                ISO 4217 code of currency
                            </td>
                        </tr>
                        <tr>
                            <td><b>ProviderTransactionId</b></td>
                            <td>string</td>
                            <td>
                                Transaction identifier in the Online Provider system (has value
                                only if the coupon has been used)
                            </td>
                        </tr>
                        <tr>
                            <td><b>SalePartnerId</b></td>
                            <td>string</td>
                            <td>
                                Id of the point of sale - where the coupon was bought
                            </td>
                        </tr>
                        <tr>
                            <td><b>IsoCountryCode</b></td>
                            <td>string</td>
                            <td>
                                ISO 3166 standard – Codes for the representation of names of countries and their subdivisions (e.g. HR, DE, RO ...)
                            </td>
                        </tr>
                        <tr>
                            <td><b>OriginalISOCurrency</b></td>
                            <td>string</td>
                            <td>
                                ISO 4217 code of the currency that the coupon was originally
                                bought in
                            </td>
                        </tr>
                        <tr>
                            <td><b>OriginalCouponValue</b></td>
                            <td>decimal</td>
                            <td>
                                Coupon value in the currency that the coupon was originally
                                bought in
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr />
            <p class="ml-3">
                <b>*NOTE:</b> Parameters in the table are included in each response, but you need to support new parameters as well, although you may not use them. If Aircash adds a new parameter, your system needs to accept the response with additional parameter(s).
            </p>
        </uib-tab>
        <uib-tab index="request-tab-4" heading="200 OK Response example" classes="nav-item">
            <jsonformatter data="aBonDeposit.validateCoupon.responseExample"></jsonformatter>
        </uib-tab>
        <uib-tab index="request-tab-5" heading="Error response messages" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Http response</th>
                            <th>Description</th>
                            <th>Error Code</th>
                            <th>Message</th>
                            <th>Aditional data</th>
                            <th>Solution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="5"><b>400</b></td>
                            <td rowspan="5">
                                An invalid request was made. The response will contain an error code, message and optionally additionalData.
                            </td>
                            <td><b>1</b></td>
                            <td>Invalid ProviderId</td>
                            <td>-</td>
                            <td rowspan="5">
                                The response will contain an error code,
                                message and optionally additionalData.

                            </td>
                        </tr>
                        <tr>
                            <td><b>2</b></td>
                            <td>Invalid Signature</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><b>3</b></td>
                            <td>Invalid Coupon Code</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><b>4</b></td>
                            <td>Conversion Module Error</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><b>7</b></td>
                            <td>Coupon Country Not Allowed</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><b>500</b></td>
                            <td>An unknown error occured</td>
                            <td>-</td>
                            <td>Unknown error has occurred</td>
                            <td>-</td>
                            <td>
                                Contact Aircash support
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="request-tab-7" heading="Error response example" classes="nav-item">
            <uib-tabset class="row tabs-left">
                <uib-tab index="ValidateTransactionError-tab-1" heading="1 - Invalid ProviderId" classes="nav-item">
                    <div class="row col-12">
                        <div class="col-sm-6 overflow-auto" ng-if="!(errorValidateResponded && currentErrorCode == 1)">
                            Request
                            <jsonformatter data="errorExamples.ValidateTransaction.error1.request"></jsonformatter>

                            Sequence:
                            CouponCode=6377944739582437&ProviderId=5d2f43e4-c9b6-4a46-b08e-28037d027e0c
                        </div>
                        <div class="col-sm-6" ng-if="!(errorValidateResponded && currentErrorCode == 1)">
                            Response
                            <jsonformatter data="errorExamples.ValidateTransaction.error1.response"></jsonformatter>
                        </div>
                        <div class="col-sm-6 overflow-auto" ng-if="errorValidateResponded && currentErrorCode == 1">
                            Request ({{errorRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorRequest"></jsonformatter>

                            Sequence: {{errorSequence}}<br />

                        </div>
                        <div class="col-sm-6" ng-if="errorValidateResponded && currentErrorCode == 1">
                            Response ({{errorResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorResponse"></jsonformatter>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" ng-click="validateSimulateError(1)" ng-disabled="errorValidateServiceBusy">Simulate <i ng-if="errorValidateServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorRequestCopy)" ng-if="errorValidateResponded && currentErrorCode == 1">Copy Request</button>
                </uib-tab>
                <uib-tab index="ValidateTransactionError-tab-2" heading="2 - Invalid Signature" classes="nav-item">
                    <div class="row col-12">
                        <div class="col-sm-6 overflow-auto" ng-if="!(errorValidateResponded && currentErrorCode == 2)">
                            Request
                            <jsonformatter data="errorExamples.ValidateTransaction.error2.request"></jsonformatter>

                            Sequence:
                            CouponCode=6377944739582437&ProviderId=e9fb671b-154e-4918-9788-84b6758fb082
                        </div>
                        <div class="col-sm-6" ng-if="!(errorValidateResponded && currentErrorCode == 2)">
                            Response
                            <jsonformatter data="errorExamples.ValidateTransaction.error2.response"></jsonformatter>
                        </div>
                        <div class="col-sm-6 overflow-auto" ng-if="errorValidateResponded && currentErrorCode == 2">
                            Request ({{errorRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorRequest"></jsonformatter>

                            Sequence: {{errorSequence}}<br />

                        </div>
                        <div class="col-sm-6" ng-if="errorValidateResponded && currentErrorCode == 2">
                            Response ({{errorResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorResponse"></jsonformatter>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" ng-click="validateSimulateError(2)" ng-disabled="errorValidateServiceBusy">Simulate <i ng-if="errorValidateServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorRequestCopy)" ng-if="errorValidateResponded && currentErrorCode == 2">Copy Request</button>
                </uib-tab>
                <uib-tab index="ValidateTransactionError-tab-3" heading="3 - Invalid Coupon Code" classes="nav-item">
                    <div class="row col-12">
                        <div class="col-sm-6 overflow-auto" ng-if="!(errorValidateResponded && currentErrorCode == 3)">
                            Request
                            <jsonformatter data="errorExamples.ValidateTransaction.error3.request"></jsonformatter>

                            Sequence:
                            CouponCode=OQ4VTTXHO15QD621&ProviderId=e9fb671b-154e-4918-9788-84b6758fb082
                        </div>
                        <div class="col-sm-6" ng-if="!(errorValidateResponded && currentErrorCode == 3)">
                            Response
                            <jsonformatter data="errorExamples.ValidateTransaction.error3.response"></jsonformatter>
                        </div>
                        <div class="col-sm-6 overflow-auto" ng-if="errorValidateResponded && currentErrorCode == 3">
                            Request ({{errorRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorRequest"></jsonformatter>

                            Sequence: {{errorSequence}}<br />

                        </div>
                        <div class="col-sm-6" ng-if="errorValidateResponded && currentErrorCode == 3">
                            Response ({{errorResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorResponse"></jsonformatter>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" ng-click="validateSimulateError(3)" ng-disabled="errorValidateServiceBusy">Simulate <i ng-if="errorValidateServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorRequestCopy)" ng-if="errorValidateResponded && currentErrorCode == 3">Copy Request</button>
                </uib-tab>
                <uib-tab index="ValidateTransactionError-tab-4" heading="4 - Conversion Module Error" classes="nav-item">
                    Simulation not available.
                </uib-tab>
                <uib-tab index="ValidateTransactionError-tab-5" heading="7 - Coupon Country Not Allowed" classes="nav-item">
                    <div class="row col-12">
                        <div class="col-sm-6 overflow-auto" ng-if="!(errorValidateResponded && currentErrorCode == 7)">
                            Request
                            <jsonformatter data="errorExamples.ValidateTransaction.error7.request"></jsonformatter>

                            Sequence:
                            CouponCode=1437861149152627&ProviderId=e9fb671b-154e-4918-9788-84b6758fb082
                        </div>
                        <div class="col-sm-6" ng-if="!(errorValidateResponded && currentErrorCode == 7)">
                            Response
                            <jsonformatter data="errorExamples.ValidateTransaction.error7.response"></jsonformatter>
                        </div>
                        <div class="col-sm-6 overflow-auto" ng-if="errorValidateResponded && currentErrorCode == 7">
                            Request ({{errorRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorRequest"></jsonformatter>

                            Sequence: {{errorSequence}}<br />

                        </div>
                        <div class="col-sm-6" ng-if="errorValidateResponded && currentErrorCode == 7">
                            Response ({{errorResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorResponse"></jsonformatter>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" ng-click="validateSimulateError(7)" ng-disabled="errorValidateServiceBusy">Simulate <i ng-if="errorValidateServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorRequestCopy)" ng-if="errorValidateResponded && currentErrorCode == 7">Copy Request</button>
                </uib-tab>
            </uib-tabset>
        </uib-tab>
        <uib-tab index="request-tab-8" heading="Try it out" classes="nav-item">
            <div class="row">
                <div class="col-md-3">
                    <form action="/" method="POST" name="validateForm0">
                        <fieldset>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Provider Id</label>
                                <input ng-model="validateCouponModel.providerId" class="form-control" type="text" placeholder="Enter provider id" ng-required="true">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Coupon code</label>
                                <input ng-model="validateCouponModel.couponCode" class="form-control" type="text" placeholder="Enter coupon code" ng-required="true">
                            </div>
                            <button ng-click="validateCoupon()" class="btn btn-primary w-100px me-5px" ng-disabled="validateBusy || validateForm0.$invalid">Validate <i ng-if="validateBusy" class="fa fa-cog fa-spin"></i></button>
                        </fieldset>
                    </form>
                </div>
                <br />
                <div ng-if="validateResponded" class="col-md-4">
                    Request ({{ValidateRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                    <jsonformatter data="ValidateServiceRequest"></jsonformatter>
                    Sequence: {{sequenceValidate}}
                </div>
                <div ng-if="validateResponded" class="col-md-4">
                    Response ({{ValidateResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                    <jsonformatter data="ValidateServiceResponse"></jsonformatter>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="request-tab-9" heading="Curl" classes="nav-item">
            <div class="row">
                <div class="col-md-3">
                    <form action="/" method="POST" name="validateForm1">
                        <fieldset>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Provider Id</label>
                                <input ng-model="validateCouponModel.providerId" class="form-control" type="text" placeholder="Enter provider id" ng-required="true">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Coupon code</label>
                                <input ng-model="validateCouponModel.couponCode" class="form-control" type="text" placeholder="Enter coupon code" ng-required="true">
                            </div>
                            <button ng-click="getCurlValidateCoupon()" class="btn btn-primary w-100px me-5px" ng-disabled="curlValidateBusy || validateForm1.$invalid">Get Curl <i ng-if="curlValidateBusy" class="fa fa-cog fa-spin"></i></button>

                        </fieldset>
                    </form>
                </div>
                <br />

                <div ng-if="curlValidateResponded" class="col-md-9">
                    <pre>
                    <jsonformatter data="CurlResponse"></jsonformatter>
                        </pre>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(CurlResponse)">Copy</button>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div ng-if="select.validateCouponVersion == 2">
    <p>
        CheckStatus method allows you to check the coupon status, value and whether it is valid. Once you
        check the coupon validity and in case it is valid, you can call the ConfirmTransaction method to use that
        coupon.
    </p>
    <div class="table-responsive">
        <table class="table table-active col-md-6">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Method</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Test</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://staging-a-bon.aircash.eu/rest/api/OnlineProvider/CheckStatus</td>
                </tr>
                <tr>
                    <td><b>Production</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://a-bon.aircash.eu/rest/api/OnlineProvider/CheckStatus</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <uib-tabset active="active">
        <uib-tab index="request-tab-0" heading="Request parameters" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Parameters</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Required</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><b>CouponCode</b></td>
                            <td>string</td>
                            <td>
                                16 digit coupon code that the user enters in the Merchant's web interface
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>PhoneNumber</b></td>
                            <td>string</td>
                            <td>
                                User’s phone number. Phone number must be in MSISDN format. Eg. 3859812345678
                                (State Number 385, number of operators 98, number of users 1234567)
                            </td>
                            <td>
                                YES,
                                conditionally
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>PartnerTransactionId</b></td>
                            <td>string</td>
                            <td>
                                Transaction identifier in the Online Partner system
                            </td>
                            <td>
                                YES,
                                conditionally
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>PartnerId</b></td>
                            <td>string</td>
                            <td>
                                Unique partner identifier (per currency) provided by Aircash
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>UserId</b></td>
                            <td>string</td>
                            <td>
                                Unique user identifier in partner system
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Parameters</b></td>
                            <td>List&lt;Object&gt;</td>
                            <td>List of parameters</td>
                            <td>
                                YES,
                                conditionally
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Key</b></td>
                            <td>String</td>
                            <td>The name of the parameter to be sent</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Value</b></td>
                            <td>String</td>
                            <td>The value of the parameter to be sent</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Signature</b></td>
                            <td>string</td>
                            <td>
                                A sequence that has been digitally signed with the
                                Merchant's private signature, used for authentication
                            </td>
                            <td>YES</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="request-tab-1" heading="Request example" classes="nav-item">
            <jsonformatter data="aBonDeposit.validateCouponWithAutorization.requestExample"></jsonformatter>
        </uib-tab>
        <uib-tab index="request-tab-2" heading="Signature" classes="nav-item">
<pre>
Request example:
</pre>
            <jsonformatter data="aBonDeposit.validateCouponWithAutorization.requestExample"></jsonformatter>
            <pre>
Sequence:
CouponCode=5460446045144493&Parameters=Key=PayerFirstName&Value=John,Key=PayerLastName&Value=Doe,Key=PayerBirthDate&Value=1990-01-01&PartnerId=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&PartnerTransactionId=4a4d9e48-77ca-4144-844b-cfe535af6a5c&PhoneNumber=385981234567&UserId=123

Signature:
NqV3kXbpxNHTq0w4HbLzG0h3cfiFQvtoHHzeSs4z9vviZbd5Xhnxomec1rMOuIMYDq4ITNntaGx//tlcGqKbxgKBZD0rUFlAAjWzRipdbMpEa7dLCtpKp2iJOTWgHxrH/eSgl1qPuF4GQ8AXj9s4F4e1t+6JWv70z8uSx5RDjzwqOUgTLnM0nWjVerQUspwBVKh+NMgqO//0o10otLcvY/LjFJjS0VPQuvH33qWuG38H54yt4cPVnX5l2Qkdy6XPnVnsx8WE2s1l/JIyzY6iOqLw8WVEafOsrZzComS8DlarkERfb9nEipZ545S/z+BMdZhbnUW1eOxPLKSLJ6JEsSpCXAvaMSTHb5dyUUiYR5ZINfzzDNLNxB5NfHVZXicYKjHt5SUA/6E8XiN/hnoWbznJ3awJnomE9aRopF3olIpAnGdm3foJ2n4RlhnEOSviffBUwOTy1F3uMLRr8oMcDlmvAITrijE1g+Vqxhz8Lx8KdXfNiy+L9OWzQdbWm3eY/Id+iyTUPNZvgaCaE3Yza3Q1UYmebzn51uNRrvZVD7TI9OXSZZO1tSTW4FYDgdM+CEyIcbD2BxHpxa6+SsYyag38VXhSkDDx61RDTQf30dzRZIqjQDSoNNFyWHA/etBffWxeq7rF5hFZnp8g49Ips6ATNuvME+XWD9jt0ZXCb3E=
</pre>
        </uib-tab>
        <uib-tab index="request-tab-3" heading="Response parameters" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>CouponValue</b></td>
                            <td>decimal</td>
                            <td>
                                Coupon value
                            </td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td>int</td>
                            <td>
                                Status of the coupon. 1 - ok(Authorized, ready for confirm), 2 - pending, 3 - already used
                            </td>
                        </tr>
                        <tr>
                            <td><b>ISOCurrency</b></td>
                            <td>string</td>
                            <td>
                                ISO 4217 code of currency
                            </td>
                        </tr>
                        <tr>
                            <td><b>PartnerTransactionId</b></td>
                            <td>string</td>
                            <td>
                                Transaction identifier in the Online Partner system (has value
                                only if the coupon has been used)
                            </td>
                        </tr>
                        <tr>
                            <td><b>OriginalISOCurrency</b></td>
                            <td>string</td>
                            <td>
                                ISO 4217 code of the currency that the coupon was originally
                                bought in
                            </td>
                        </tr>
                        <tr>
                            <td><b>OriginalCouponValue</b></td>
                            <td>decimal</td>
                            <td>
                                Coupon value in the currency that the coupon was originally
                                bought in
                            </td>
                        </tr>
                        <tr>
                            <td><b>CurrentCouponValue</b></td>
                            <td>decimal</td>
                            <td>
                                Current coupon value
                            </td>
                        </tr>
                        <tr>
                            <td><b>AircashUserId</b></td>
                            <td>string</td>
                            <td>
                                Aircash user identifier (null if partner dosen't use authorization)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr />
            <p class="ml-3">
                <b>*NOTE:</b> Parameters in the table are included in each response, but you need to support new parameters as well, although you may not use them. If Aircash adds a new parameter, your system needs to accept the response with additional parameter(s).
            </p>
        </uib-tab>
        <uib-tab index="request-tab-4" heading="200 OK Response example" classes="nav-item">
            <jsonformatter data="aBonDeposit.validateCouponWithAutorization.responseExample"></jsonformatter>
        </uib-tab>
        <uib-tab index="request-tab-5" heading="Error response messages" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Http response</th>
                            <th>Description</th>
                            <th>Error Code</th>
                            <th>Message</th>
                            <th>Aditional data</th>
                            <th>Solution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="10"><b>400</b></td>
                            <td rowspan="10">
                                An invalid request was made. The response will contain an error code, message and optionally additionalData.
                            </td>
                            <td><b>1</b></td>
                            <td>Invalid PartnerId</td>
                            <td>-</td>
                            <td rowspan="10">
                                The response will contain an error code,
                                message and optionally additionalData.

                            </td>
                        </tr>
                        <tr>
                            <td><b>2</b></td>
                            <td>Invalid Signature</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><b>3</b></td>
                            <td>Invalid Coupon Code</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><b>4</b></td>
                            <td>Conversion Module Error</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><b>7</b></td>
                            <td>Coupon Country Not Allowed</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><b>8</b></td>
                            <td>Invalid phone number (User does not exist)</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><b>13</b></td>
                            <td>User data do not match</td>
                            <td>
                                -
                            </td>
                        </tr>
                        <tr>
                            <td><b>14</b></td>
                            <td>Authorization timed out</td>
                            <td>
                                -
                            </td>
                        </tr>
                        <tr>
                            <td><b>15</b></td>
                            <td>Authorization declined</td>
                            <td>
                                -
                            </td>
                        </tr>
                        <tr>
                            <td><b>16</b></td>
                            <td>Invalid phone number (wrong phone number format)</td>
                            <td>
                                -
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    500
                                </b>
                            </td>
                            <td>An unknown error occured</td>
                            <td>-</td>
                            <td>Unknown error has occurred</td>
                            <td>-</td>
                            <td>
                                Contact Aircash support
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <!--<uib-tab index="request-tab-7" heading="Error response example" classes="nav-item">
            <uib-tabset class="row tabs-left">
                <uib-tab index="ValidateTransactionError-tab-1" heading="1 - Invalid ProviderId" classes="nav-item">
                    <div class="row col-12">
                        <div class="col-sm-6 overflow-auto" ng-if="!(errorValidateResponded && currentErrorCode == 1)">
                            Request
                            <jsonformatter data="errorExamples.ValidateTransaction.error1.request"></jsonformatter>

                            Sequence:
                            CouponCode=6377944739582437&ProviderId=5d2f43e4-c9b6-4a46-b08e-28037d027e0c
                        </div>
                        <div class="col-sm-6" ng-if="!(errorValidateResponded && currentErrorCode == 1)">
                            Response
                            <jsonformatter data="errorExamples.ValidateTransaction.error1.response"></jsonformatter>
                        </div>
                        <div class="col-sm-6 overflow-auto" ng-if="errorValidateResponded && currentErrorCode == 1">
                            Request ({{errorRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorRequest"></jsonformatter>

                            Sequence: {{errorSequence}}<br />

                        </div>
                        <div class="col-sm-6" ng-if="errorValidateResponded && currentErrorCode == 1">
                            Response ({{errorResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorResponse"></jsonformatter>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" ng-click="validateSimulateError(1)" ng-disabled="errorValidateServiceBusy">Simulate <i ng-if="errorValidateServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorRequestCopy)" ng-if="errorValidateResponded && currentErrorCode == 1">Copy Request</button>
                </uib-tab>
                <uib-tab index="ValidateTransactionError-tab-2" heading="2 - Invalid Signature" classes="nav-item">
                    <div class="row col-12">
                        <div class="col-sm-6 overflow-auto" ng-if="!(errorValidateResponded && currentErrorCode == 2)">
                            Request
                            <jsonformatter data="errorExamples.ValidateTransaction.error2.request"></jsonformatter>

                            Sequence:
                            CouponCode=6377944739582437&ProviderId=e9fb671b-154e-4918-9788-84b6758fb082
                        </div>
                        <div class="col-sm-6" ng-if="!(errorValidateResponded && currentErrorCode == 2)">
                            Response
                            <jsonformatter data="errorExamples.ValidateTransaction.error2.response"></jsonformatter>
                        </div>
                        <div class="col-sm-6 overflow-auto" ng-if="errorValidateResponded && currentErrorCode == 2">
                            Request ({{errorRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorRequest"></jsonformatter>

                            Sequence: {{errorSequence}}<br />

                        </div>
                        <div class="col-sm-6" ng-if="errorValidateResponded && currentErrorCode == 2">
                            Response ({{errorResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorResponse"></jsonformatter>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" ng-click="validateSimulateError(2)" ng-disabled="errorValidateServiceBusy">Simulate <i ng-if="errorValidateServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorRequestCopy)" ng-if="errorValidateResponded && currentErrorCode == 2">Copy Request</button>
                </uib-tab>
                <uib-tab index="ValidateTransactionError-tab-3" heading="3 - Invalid Coupon Code" classes="nav-item">
                    <div class="row col-12">
                        <div class="col-sm-6 overflow-auto" ng-if="!(errorValidateResponded && currentErrorCode == 3)">
                            Request
                            <jsonformatter data="errorExamples.ValidateTransaction.error3.request"></jsonformatter>

                            Sequence:
                            CouponCode=OQ4VTTXHO15QD621&ProviderId=e9fb671b-154e-4918-9788-84b6758fb082
                        </div>
                        <div class="col-sm-6" ng-if="!(errorValidateResponded && currentErrorCode == 3)">
                            Response
                            <jsonformatter data="errorExamples.ValidateTransaction.error3.response"></jsonformatter>
                        </div>
                        <div class="col-sm-6 overflow-auto" ng-if="errorValidateResponded && currentErrorCode == 3">
                            Request ({{errorRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorRequest"></jsonformatter>

                            Sequence: {{errorSequence}}<br />

                        </div>
                        <div class="col-sm-6" ng-if="errorValidateResponded && currentErrorCode == 3">
                            Response ({{errorResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorResponse"></jsonformatter>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" ng-click="validateSimulateError(3)" ng-disabled="errorValidateServiceBusy">Simulate <i ng-if="errorValidateServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorRequestCopy)" ng-if="errorValidateResponded && currentErrorCode == 3">Copy Request</button>
                </uib-tab>
                <uib-tab index="ValidateTransactionError-tab-4" heading="4 - Conversion Module Error" classes="nav-item">
                    Simulation not available.
                </uib-tab>
                <uib-tab index="ValidateTransactionError-tab-5" heading="7 - Coupon Country Not Allowed" classes="nav-item">
                    <div class="row col-12">
                        <div class="col-sm-6 overflow-auto" ng-if="!(errorValidateResponded && currentErrorCode == 7)">
                            Request
                            <jsonformatter data="errorExamples.ValidateTransaction.error7.request"></jsonformatter>

                            Sequence:
                            CouponCode=1437861149152627&ProviderId=e9fb671b-154e-4918-9788-84b6758fb082
                        </div>
                        <div class="col-sm-6" ng-if="!(errorValidateResponded && currentErrorCode == 7)">
                            Response
                            <jsonformatter data="errorExamples.ValidateTransaction.error7.response"></jsonformatter>
                        </div>
                        <div class="col-sm-6 overflow-auto" ng-if="errorValidateResponded && currentErrorCode == 7">
                            Request ({{errorRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorRequest"></jsonformatter>

                            Sequence: {{errorSequence}}<br />

                        </div>
                        <div class="col-sm-6" ng-if="errorValidateResponded && currentErrorCode == 7">
                            Response ({{errorResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                            <jsonformatter data="errorResponse"></jsonformatter>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" ng-click="validateSimulateError(7)" ng-disabled="errorValidateServiceBusy">Simulate <i ng-if="errorValidateServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorRequestCopy)" ng-if="errorValidateResponded && currentErrorCode == 7">Copy Request</button>
                </uib-tab>
            </uib-tabset>
        </uib-tab>-->
        <!--<uib-tab index="request-tab-8" heading="Try it out" classes="nav-item">
            <div class="row">
                <div class="col-md-3">
                    <form action="/" method="POST" name="validateForm0">
                        <fieldset>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Provider Id</label>
                                <input ng-model="validateCouponModel.providerId" class="form-control" type="text" placeholder="Enter provider id" ng-required="true">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Coupon code</label>
                                <input ng-model="validateCouponModel.couponCode" class="form-control" type="text" placeholder="Enter coupon code" ng-required="true">
                            </div>
                            <button ng-click="validateCoupon()" class="btn btn-primary w-100px me-5px" ng-disabled="validateBusy || validateForm0.$invalid">Validate <i ng-if="validateBusy" class="fa fa-cog fa-spin"></i></button>
                        </fieldset>
                    </form>
                </div>
                <br />
                <div ng-if="validateResponded" class="col-md-4">
                    Request ({{ValidateRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                    <jsonformatter data="ValidateServiceRequest"></jsonformatter>
                    Sequence: {{sequenceValidate}}
                </div>
                <div ng-if="validateResponded" class="col-md-4">
                    Response ({{ValidateResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                    <jsonformatter data="ValidateServiceResponse"></jsonformatter>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="request-tab-9" heading="Curl" classes="nav-item">
            <div class="row">
                <div class="col-md-3">
                    <form action="/" method="POST" name="validateForm1">
                        <fieldset>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Provider Id</label>
                                <input ng-model="validateCouponModel.providerId" class="form-control" type="text" placeholder="Enter provider id" ng-required="true">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">Coupon code</label>
                                <input ng-model="validateCouponModel.couponCode" class="form-control" type="text" placeholder="Enter coupon code" ng-required="true">
                            </div>
                            <button ng-click="getCurlValidateCoupon()" class="btn btn-primary w-100px me-5px" ng-disabled="curlValidateBusy || validateForm1.$invalid">Get Curl <i ng-if="curlValidateBusy" class="fa fa-cog fa-spin"></i></button>

                        </fieldset>
                    </form>
                </div>
                <br />

                <div ng-if="curlValidateResponded" class="col-md-9">
                    <pre>
                    <jsonformatter data="CurlResponse"></jsonformatter>
                </pre>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(CurlResponse)">Copy</button>
                </div>
            </div>
        </uib-tab>-->
    </uib-tabset>
</div>