<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Generate certificates</h1>
    <br />
    <p>
        The easiest way to generate Provider certificates is through openSSL and running the following
        command:
    </p>
    <div class="note note-gray-400 col-md-6">
        <div class="note-content col">
            <code>openssl req -x509 -sha256 -newkey rsa:4096 -keyout PrivateKey.pem -out PublicKey.pem</code>
        </div>
    </div>
    <br />
    <p>
        After starting the command, openSSL will require several data before generating the certificate:
    </p>
    <ul>
        <li>Enter PEM pass phrase - the password you need to remember</li>
        <li>Country name</li>
        <li>State or Province name</li>
        <li>Locality Name</li>
        <li>Organization Unit Name</li>
        <li>Common Name</li>
        <li>Email Address</li>
    </ul>
    <p>
        After entering all of these data, OpenSSL will generate two files:
    </p>
    <ul>
        <li>
            PrivateKey.pem - partner's certificate used to sign the request. Only a partner may have
            access to this certificate and a partner should not share it (Aircash Support will never ask
            to send this certificate, nor will Aircash support have access to this certificate). If a
            partner believes this certificate has been compromised, or if someone unauthorized had
            access to it, the partner must report that to Aircash Support. In this case, the partner is
            obliged to repeat the certificate generation process and send public certificate to the
            Aircash support.
        </li>
        <li>
            PublicKey.pem - partner's public certificate that the partner must provide to Aircash
            Support.
        </li>
    </ul>
    <p>
        In case the Provider needs a pfx format certificate, using the following command can generate a
        pfx certificate. To generate pfx certificate, the partner will need the password entered while generating
        the keys (running the first openSSL command).
    </p>
    <div class="note note-gray-400 col-md-6">
        <div class="note-content col">
            <code>openssl pkcs12 -export -out PrivateKeyPfxFile.pfx -inkey PrivateKey.pem -in PublicKey.pem</code>
        </div>
    </div>
    <br />
    <p>
        <b>*NOTE: We do not check if the certificate is expired</b>
    </p>
    <br />
    <hr />
    <h1>Aircash Test Certificates</h1>
    <p>
        Here you can find a .7z file with test certificates with which you can generate and verify sequence signatures for different methods. The password for unlocking the keys is "<b>Aircash123</b>".
    <p>
        <a href="/certificates/AircashTestKey.zip" download rel="noopener noreferrer">
            <button class="btn"><i class="fa fa-download"></i> Aircash Test Certificates</button>
        </a>
    </p>
    </p>
    <h1>Generating partner's signature</h1>
    <p>
        In each request, the partner system sends the signature in order to achieve undeniability that
        partner is actually making the request to Aircash system. The Aircash signature is generated so that all
        the parameters are ordered alphabetically, and then the pairs of parameter names and parameter
        values are joined into a single string. This string is then signed with a private certificate that only partner
        has and sent in the Signature parameter.
    </p>
    <p>
        After receiving the request, Aircash system is required to generate a string that matches the one
        signed by the partner, and check its validity using the Signature and the public certificate (which the
        partner will provide before the start of integration).
    </p>
    <p>Rules when generating the signature:</p>
    <ul>
        <li>For complex objects, the parameter order is alphabetical</li>
        <li>
            For decimal numbers, decimal points should be used. Also numbers in signature should be
            trimmed out of unnecessary zeros behind decimal point
            <ul>
                <li>123.0 in signature is represented by 123</li>
                <li>123.40 in signature is represented by 123.4</li>
                <li>123.450 is signature is represented by 123.45</li>
            </ul>
        </li>
        <li>
            For lists, the parameter order is always the same as it was received, and parameters are joined
            by a comma
        </li>
        <li>
            For each parameter, the parameter name is printed first, and then the value joined by an
            equation symbol
        </li>
        <li>
            In case the value of a parameter is empty or null, only the parameter name is printed and the
            value is skipped
        </li>
        <li>All parameters are connected with sign &</li>
        <li>All parameter names are capitalized</li>
    </ul>
    <div class="note note-gray-400">
        <div class="note-content col">
            <h5><b>Example:</b></h5>
            <jsonformatter data="signature.generatingPartnersSignatureExample"></jsonformatter>
        </div>
    </div>
    <div class="note note-gray-400">
        <div class="note-content col">
            <h5><b>Sequence:</b></h5>
            <pre>
Amount=123.45&CurrencyID=978&Description=test&LocationID=test&PartnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&PartnerTransactionID=7f087237-b81a-48af-8dce-bc048fede397
</pre>
        </div>
    </div>
    <div>
        <p>
            To generate signatures with OpenSSL commands, the sequence string must be within the sequence.txt file.
        </p>
    </div>
    <div class="note note-gray-400">
        <div class="note-content col">
            <h5><b>OpenSSL commands for generating signature:</b></h5>
            <pre>
pkcs12 -in AircashTestPrivateKey.pfx -nocerts -out ac_private.key
dgst -sha256 -sign ac_private.key -out signature.txt.sha256 sequence.txt
enc -e -base64 -in signature.txt.sha256 -out signature.txt.base64
</pre>
        </div>
    </div>
    <br />
    <h4>Code examples:</h4>
    <uib-tabset active="active">
        <uib-tab index="request-tab-0" heading="C#" classes="nav-item">
            <div class="row row-cols-md-2">
                <div class="col">
                    <pre style="background-color: white">
/// &lt;summary&gt;
/// .NET Framework 4.7 and newer
/// Method used to generate signatures based on input data and selected certificates.
/// &lt;/summary&gt;
/// &lt;param name=&quot;dataToSign&quot;&gt;Data for signature generation.&lt;/param&gt;
/// &lt;param name=&quot;certificatePath&quot;&gt;Physical path to certificate.&lt;/param&gt;
/// &lt;param name=&quot;certificatePass&quot;&gt;Certificate password.&lt;/param&gt;
/// &lt;returns&gt;Return generated signature.&lt;/returns&gt;
public static string GenerateSignature( string dataToSign, string certificatePath, string certificatePass)
{
    var certificate = new X509Certificate2(certificatePath, certificatePass, X509KeyStorageFlags.Exportable);
    // Create byte arrays to hold original, encrypted, and decrypted data.
    var originalData = Encoding.UTF8.GetBytes(dataToSign);
    // Create a new instance of the RSACryptoServiceProvider class
    using ( var rsa = certificate.GetRSAPrivateKey())
    {
        var signeddata = rsa.SignData(originalData, HashAlgorithmName.SHA256, RSASignaturePadding.Pkcs1);
        return Convert.ToBase64String(signeddata);
    }
}</pre>
                </div>
                <div class="col">
                    <pre style="background-color: white">
/// &lt;summary&gt;
/// .NET Framework 4.6.1
/// Method used to generate signatures based on input data and selected certificates.
/// &lt;/summary&gt;
/// &lt;param name=&quot;sequence&quot;&gt;Data for signature generation.&lt;/param&gt;
/// &lt;param name=&quot;PrivateCertificatePath&quot;&gt;Physical path to certificate.&lt;/param&gt;
/// &lt;param name=&quot;PrivateCertificatePass&quot;&gt;Certificate password.&lt;/param&gt;
/// &lt;returns&gt;Return generated signature.&lt;/returns&gt;
public string GenerateSignature(string sequence)
 {
    try
    {
        var certificate = new X509Certificate2(PrivateCertificatePath, PrivateCertificatePass, X509KeyStorageFlags.Exportable);
        var originalData = Encoding.UTF8.GetBytes(sequence);

        using (var rsa = new RSACng())
        {
            rsa.ImportParameters(((RSA)certificate.PrivateKey).ExportParameters(true));

            var signatureBytes = rsa.SignData(originalData, HashAlgorithmName.SHA256, RSASignaturePadding.Pkcs1);
            return Convert.ToBase64String(signatureBytes);
        }
    }
    catch (Exception x)
    {
        Console.WriteLine($"Error in GenerateSignature: {x.Message}");
        return null;
    }
}</pre>
                </div>
            </div>
            
        </uib-tab>
        <uib-tab index="request-tab-1" heading="Java" classes="nav-item">
            <pre style="background-color: white">
public  static String signData(String privateCertFilePath, String privateCertPass, String dataToSgin) throws IOException, InvalidKeyException, SignatureException, CertificateException, NoSuchAlgorithmException, KeyStoreException, UnrecoverableKeyException{
	KeyStore keyStore  = KeyStore.getInstance(&quot;pkcs12&quot;);
	FileInputStream instream = new FileInputStream(new File(privateCertFilePath));
	keyStore.load(instream, privateCertPass.toCharArray());
	Enumeration&lt;String&gt;  aliases = keyStore.aliases();
	String alias = (String) aliases.nextElement();

	PrivateKey privateKey = (PrivateKey)keyStore.getKey(alias, privateCertPass.toCharArray());

	Signature sign = Signature.getInstance(&quot;SHA256withRSA&quot;);
	sign.initSign(privateKey);
	sign.update(dataToSgin.getBytes(&quot;UTF-8&quot;));
	return new String(Base64.encodeBase64(sign.sign()), &quot;UTF-8&quot;);
}

</pre>
        </uib-tab>
        <uib-tab index="request-tab-2" heading="Ruby" classes="nav-item">
            <pre style="background-color: white">
def initialize
    @url = "https://api.staging.aircash.eu/"
    @guid = "79ce88c4-7f3b-41f2-91ec-e04ffe681190"
    @fileLocation = "..../supersport.pfx" # file location
    @pass = "....." # file password
end

def sign(dataToSign)
    @cert = Chilkat::CkCert.new()
    @success = @cert.LoadPfxFile(@fileLocation, @pass)
    @publicKeyXml = @cert.ExportPublicKey().getXml()
    @publicKeyXml.gsub! &#39;RSAPublicKey&#39;, &#39;RSAKeyValue&#39;

    @p12 = OpenSSL::PKCS12.new(File.binread(@fileLocation), @pass)
    @originalData = (dataToSign).bytes
    @digest = OpenSSL::Digest::SHA1.new
    @keypair = OpenSSL::PKey::RSA.new(@p12.key.to_pem)
    @signature = @keypair.sign(@digest, dataToSign + @publicKeyXml)
    return Base64.encode64(@signature).gsub(&quot;\n&quot;, &quot;&quot;)
end</pre>
        </uib-tab>
        <uib-tab index="request-tab-3" heading="PHP" classes="nav-item">
            <pre style="background-color: white">
function generate_signature($sequence)
	{
		if(!file_exists($this->privateKeyPath)) 
		{
			throw new Exception("File not found");
		}
		$pkcs12 = file_get_contents($this->privateKeyPath);
		openssl_pkcs12_read($pkcs12, $certs, $this->privateKeyPass);
		$privateKey = $certs['pkey'];		
		$binary_signature = "";
		openssl_sign(utf8_encode($sequence), $binarySignature, $privateKey, OPENSSL_ALGO_SHA256);
		$signature = base64_encode($binarySignature);

		return $signature;
	}</pre>
            <br />
            <p>
                <b>*NOTE: This is working example for the .pfx format of the private key</b>
            </p>
        </uib-tab>
    </uib-tabset>
    <br />
    <hr />
    <h1>Verifying signature received from Aircash</h1>
    <p>
        In each request, the Aircash system sends the signature in order to achieve undeniability that
        Aircash is actually making the request to the partner system. The Aircash signature is generated so
        that all the parameters are ordered alphabetically, and then the pairs of parameter names and
        parameter values are joined into a single string. This string is then signed with a private certificate
        that only Aircash has and sent in the Signature parameter.
    </p>
    <p>
        After receiving the request, the partner system is required to generate a string that
        matches the one signed by Aircash, and check its validity using the Signature and the public
        certificate (which Aircash support will provide before the start of integration).
    </p>
    <p>Rules when generating the signature:</p>
    <ul>
        <li>For complex objects, the parameter order is alphabetical</li>
        <li>
            For decimal numbers, decimal points should be used. Also numbers in signature should be
            trimmed out of unnecessary zeros behind decimal point
            <ul>
                <li>123.0 in signature is represented by 123</li>
                <li>123.40 in signature is represented by 123.4</li>
                <li>123.450 is signature is represented by 123.45</li>
            </ul>
        </li>
        <li>
            For lists, the parameter order is always the same as it was received, and parameters are joined
            by a comma
        </li>
        <li>
            For each parameter, the parameter name is printed first, and then the value joined by an
            equation symbol
        </li>
        <li>
            In case the value of a parameter is empty or null, only the parameter name is printed and the
            value is skipped
        </li>
        <li>All parameters are connected with sign &</li>
        <li>All parameter names are capitalized</li>
    </ul>
    <div class="note note-gray-400">
        <div class="note-content col">
            <h5><b>Example:</b></h5>
            <jsonformatter data="exampleAircash"></jsonformatter>
        </div>
    </div>
    <div class="note note-gray-400">
        <div class="note-content col">
            <h5><b>Sequence:</b></h5>
            <pre>
{{sequenceAircash}}

</pre>
        </div>
    </div>
    <div class="note note-gray-400">
        <div class="note-content col">
            <h5><b>OpenSSL command for verifying previously generated signature:</b></h5>
            <pre>
x509 -in AircashTestPublicKey.pem -pubkey -noout -out AircashTestPublicKeyOpenSSL.pem
dgst -sha256 -verify AircashTestPublicKeyOpenSSL.pem -signature signature.txt.sha256 sequence.txt
            </pre>
        </div>
    </div>
    <br />
    <h4>Code examples:</h4>
    <uib-tabset>
        <uib-tab index="request-tab-0" heading="C#" classes="nav-item">
            <pre style="background-color: white">
/// &lt;summary&gt;
/// &lt;summary&gt;
/// Method that verify signature for requests received from Aircash service.
/// &lt;/summary&gt;
/// &lt;param name=&quot;ceftificatePath&quot;&gt;Physical path to public certificate.&lt;/param&gt;
/// &lt;param name=&quot;signature&quot;&gt;Signature property received form Aircash in request.&lt;/param&gt;
/// &lt;param name=&quot;dataToSign&quot;&gt;All parameters expect signature joined in one string as Aircash documentation state.&lt;/param&gt;
/// &lt;returns&gt;Returns true in case signature verification was successful or false otherwise.&lt;/returns&gt;
public static bool VerifySignature(string ceftificatePath, string signature, string dataToVerify)
{
// Load the certificate we’ll use to verify the signature from a file.
var certificate = new X509Certificate2(ceftificatePath);
// Create byte arrays to hold original, encrypted, and decrypted data.
var dataToVerifyBytes = Encoding.UTF8.GetBytes(dataToVerify);
var signatureBytes = Convert.FromBase64String(signature);
// Create a new instance of the RSACryptoServiceProvider class.
using (var rsaAlg = (RSACryptoServiceProvider)certificate.PublicKey.Key)
using (var sha256 = new SHA256Managed())
    {
        return rsaAlg.VerifyData(dataToVerifyBytes, sha256, signatureBytes);
    }
}</pre>
        </uib-tab>
        <uib-tab index="request-tab-1" heading="Java" classes="nav-item">
            <pre style="background-color: white">
public  static boolean verifySignature(String publicCertFilePath, String dataToSgin, String signature) throws IOException, InvalidKeyException, SignatureException, CertificateException, NoSuchAlgorithmException{
	FileInputStream stream = new FileInputStream(publicCertFilePath);
	CertificateFactory certificateFactory = CertificateFactory.getInstance(&quot;X.509&quot;);
	java.security.cert.Certificate certificate = certificateFactory.generateCertificate(stream);
	PublicKey publicKey = certificate.getPublicKey();    
			
	Signature sign = Signature.getInstance(&quot;SHA256withRSA&quot;);
	sign.initVerify(publicKey);
	sign.update(dataToSgin.getBytes(&quot;UTF-8&quot;));
	return sign.verify(Base64.decodeBase64(signature.getBytes(&quot;UTF-8&quot;)));
}

</pre>
        </uib-tab>
        <uib-tab index="request-tab-2" heading="Python" classes="nav-item">
            <pre style="background-color: white">
def verify_sign(public_key_loc, signature, data):
    &#39;&#39;&#39;
    Verifies with a public key from whom the data came that it was indeed 
    signed by their private key
    param: public_key_loc Path to public key
    param: signature String signature to be verified
    return: Boolean. True if the signature is valid; False otherwise. 
    &#39;&#39;&#39;
    from crypto.PublicKey import RSA 
    from crypto.Signature import PKCS1_v1_5 
    from crypto.Hash import SHA256 
    from base64 import b64decode 
    pub_key = open(public_key_loc, &quot;r&quot;).read() 
    rsakey = RSA.importKey(pub_key) 
    signer = PKCS1_v1_5.new(rsakey) 
    digest = SHA256.new() 
    # Assumes the data is base64 encoded to begin with
    digest.update(str.encode(data))
    if signer.verify(digest, b64decode(signature)):
        return True
    return False</pre>
        </uib-tab>
        <uib-tab index="request-tab-3" heading="PHP" classes="nav-item">
            <pre style="background-color: white">
function verify_signature($sequence, $signature)
	{
		$pub_key = openssl_get_publickey (file_get_contents($this->publicKeyPath));
		
		if(!file_exists($this->publicKeyPath)) 
		{
			throw new Exception("File not found");
		}		
		return  openssl_verify($sequence, base64_decode($signature), $pub_key, OPENSSL_ALGO_SHA256);
	}</pre>
        </uib-tab>
    </uib-tabset>

    <br />
    <hr />
    <h1>Validate public key</h1>
    <p>
        You can validate public key through openSSL and running the following command:
    </p>
    <div class="note note-gray-400 col-md-6">
        <div class="note-content col">
            <code>openssl x509 -in PublicKey.pem -text -noout</code>
        </div>
    </div>
    <p>
        Or you can paste your public key here and validate it.
    </p>
    <div class="note note-gray-400 col-md-6">
        <div class="note-content col">
            <label>Public key:</label>
            <textarea class="form-control mb-3" rows="20" ng-model="publicKey"></textarea>
            <button ng-click="validatePublicKey()" class="btn btn-primary w-100px me-5px" ng-disabled="ValidatePublicKeyServiceBusy">Validate public key <i ng-if="ValidatePublicKeyServiceBusy" class="fa fa-cog fa-spin"></i></button>
        </div>
    </div>

    <uib-tabset>
        <uib-tab index="request-tab-0" heading="Generate Signature" classes="nav-item">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Data To Sign</label>
                    <textarea class="form-control mb-3" rows="2" ng-model="getSignatureModel.dataSign"></textarea>
                    <button ng-click="getSignature()" class="btn btn-primary w-100px me-5px" ng-disabled="GenerateSignatureServiceBusy">Generate Signature <i ng-if="GenerateSignatureServiceBusy" class="fa fa-cog fa-spin"></i></button>
                </div>
                <div ng-if="GenerateSignatureResponded" class="col-md-6">
                    Signature:
                    <pre>
                    <jsonformatter data="GenerateSignatureResponse"></jsonformatter>
           </pre>

                </div>
            </div>
        </uib-tab>
        <uib-tab index="request-tab-1" heading="Validate Signature" classes="nav-item">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Data To Sign</label>
                    <textarea class="form-control mb-3" rows="1" ng-model="validateSignatureModel.dataToValidate"></textarea>
                    <label class="form-label">Signature</label>
                    <textarea class="form-control mb-3" rows="3" ng-model="validateSignatureModel.signatureToValidate"></textarea>
                    <button ng-click="validateSignature()" class="btn btn-primary w-100px me-5px" ng-disabled="ValidateSignatureServiceBusy">Validate Signature <i ng-if="ValidateSignatureServiceBusy" class="fa fa-cog fa-spin"></i></button>
                </div>


                <div ng-if="ValidateSignatureResponded" class="col-md-8">
                    Valid Signature:
                    <jsonformatter data="ValidateSignatureResponse"></jsonformatter>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</body>
</html>