<div id="header" class="header navbar-default" ng-controller="headerController">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <a href="/#!/cashier/menu"><img src="/images/aircash_logo.png" style="max-width: 200px" /></a>
    </div>
    <ul class="navbar-nav navbar-right mb-2 mr-2">
        <li>
            <select ng-change="option(selectedlanguage)" name="language" class="form-control mt-2"
                    ng-options="item.language for item in languages"
                    ng-model="selectedlanguage" ng-required="true">
            </select>
        </li>
        <li>
            <button class="btn btn-white mt-2 ml-2" ng-click="ChangeLanguage(selectedlanguage)">
                Set language
            </button>
        </li>
        <li>
            <button class="btn btn-dark mt-2 ml-2" onclick="location.href = '/#!/cashier/menu';">Cashier</button>
        </li>
        <li>
            <button class="btn btn-dark mt-2 ml-2" onclick="location.href = '/#!/app/dashboard';">Documentation</button>
        </li>
    </ul>

</div>
<div id="content" class="mt-3" style="overflow-x: hidden" view-content>
    <div ui-view ng-class="{ 'height-full': setting.layout.pageContentFullHeight }"></div>
</div>
