<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-12">
        <div class="panel panel-default">
            <div class="panel-heading bg-red text-white">
                <h3>{{translationsCashier.abon_cashier_title}}</h3>
                <div class="panel-heading-btn ml-auto">
                    <button class="btn btn-light" ng-disabled="confirmBusy" ng-click="generateCashierAbon()">{{translationsCashier.abon_cashier_generate_button}} <i ng-if="confirmBusy" class="fa fa-cog fa-spin"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col-md-1"></div>
                    <div class="col-lg-10 col-md-12">
                        <div class="text-center">
                            <img style="height:80px;" alt="" src="/images/abon_logo_H.jpg">
                        </div>
                        <br />
                        <p ng-bind-html="translationsCashier.abon_cashier_deposit_description">
                            {{translationsCashier.abon_cashier_deposit_description}}
                        </p>
                        <form action="/" method="POST" name="transactionForm1">
                            <fieldset>
                                <div class="mb-3">
                                    <label class="form-label">{{translationsCashier.abon_cashier_deposit_input_label}}</label>
                                    <input ng-model="confirmTransactionModel.couponCode" class="form-control form-control-lg" type="text" ng-keyup="addHyphen($event)" placeholder="{{translationsCashier.abon_cashier_deposit_input_placeholder}}" ng-required="true" />
                                </div>
                                <div class="mb-3" ng-if="useAuthorizationCheckBox">
                                    <label class="form-label">{{translationsCashier.cashier_phone_number_input_label}}</label>
                                    <phone-number-input output="confirmTransactionModel.phoneNumber"></phone-number-input>
                                </div>
                                <div class="mb-3" ng-if="useAuthorizationCheckBox">
                                    <fieldset>
                                        <div class="mb-3">
                                            <label class="form-label">{{translationsCashier.cashier_first_name_input_label}}</label>
                                            <input ng-model="confirmTransactionModel.firstName" class="form-control form-control-lg" type="text" placeholder={{translationsCashier.cashier_first_name_placeholder}} ng-required="true">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">{{translationsCashier.cashier_last_name_input_label}}</label>
                                            <input ng-model="confirmTransactionModel.lastName" class="form-control form-control-lg" type="text" placeholder={{translationsCashier.cashier_last_name_placeholder}} ng-required="true">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">{{translationsCashier.cashier_birth_date_input_label}}</label>
                                            <date-picker ng-model="confirmTransactionModel.birthDate" date="" isOptional="false" out="setDate"></date-picker>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input ng-model="confirmCheckBox" class="form-check-input" type="checkbox" id="checkbox1" style=" width: 1.55rem; height: 1.55rem;" ng-init="confirmCheckBox = true" ng-checked="true" />
                                        <label ng-bind-html="translationsCashier.abon_cashier_deposit_terms_and_conditions" class="form-check-label" for="checkbox1" style=" padding-top: 8px; padding-left:10px;">{{translationsCashier.abon_cashier_deposit_terms_and_conditions}}></label>
                                    </div>
                                </div>
                                <button ng-click="confirmCashierTransaction()" class="btn btn-danger w-100px me-5px" style="width:100%; font-size:15px;" ng-disabled="confirmBusy || !confirmCheckBox || transactionForm1.$invalid">{{translationsCashier.abon_cashier_deposit_button}}<i ng-if="confirmBusy" class="fa fa-cog fa-spin"></i></button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 mt-3">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-sm-12 align-items-center justify-content-center">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#AcFrameAbonConfiguration" aria-expanded="false" aria-controls="AcFrameAbonConfiguration">
                                            {{translationsCashier.cashier_configuration_button}}
                                        </button>
                                    </h5>
                                </div>
                                <div id="AcFrameAbonConfiguration" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <input ng-checked="false" ng-model="useAuthorizationCheckBox" class="form-check-input" type="checkbox" id="checkbox2" style=" width: 1.55rem; height: 1.55rem;" ng-init="useAuthorizationCheckBox=false" />
                                            <label class="form-check-label" for="checkbox2" style=" padding-top: 4px; padding-left:10px; font-size:15px;">Use Abon authorization</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>


        
