<h1>abon page</h1>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading bg-red text-white">
                <h4 class="panel-title">A-bon</h4>
                <div class="panel-heading-btn">
                             
                </div>
            </div>
            <div class="panel-body">
                <p>
                    Aircash A-bon is a platform intended for users that wish to make payments to their accounts (betting sites, parking services, GSM topups etc.) via paper vouchers that can be bought at cash registers, i.e. points of sales of Aircash Sales Partners (kiosks, gas stations, etc.).
                    From the Online Provider's perspective: the user logs in to a website or a mobile app of an Online Provider (e.g. a booking site), and chooses to deposit money via an Aircash A-bon voucher. He enters the 16-digit code from the coupon he bought, and confirms the transaction of funds to an Online Provider account. The funds are deposited to the user's online account, and the coupon gets expended and can no longer be used.
                </p>
                <form action="/" method="POST" name="transactionForm1">
                    <fieldset>
                        <div class="mb-3">                            
                                <label class="form-label">ACTIVATION CODE</label>                              
                                <input ng-model="confirmTransactionModel.couponCode" class="form-control form-control-lg w-50" type="text" placeholder="Enter 16-digit activation code" ng-required="true" />                 
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input ng-model="confirmCheckBox" class="form-check-input" type="checkbox" id="checkbox1" style=" width: 1.55rem; height: 1.55rem;" />
                                <label class="form-check-label" for="checkbox1" style=" padding-top: 8px; padding-left:10px;"><a href="https://aircash.eu/terms-conditions/opci-uvjeti-poslovanja-a-bon-elektronicki-novac/" rel="nofollow">I accept the A-bon Terms&Conditions</a></label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button ng-click="confirmCashierTransaction()" class="btn btn-danger w-100px me-5px" ng-disabled="confirmBusy || !confirmCheckBox || transactionForm1.$invalid">Activate abon<i ng-if="confirmBusy" class="fa fa-cog fa-spin"></i></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>


        
