<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading bg-red text-white">
                <h3 class="">A-bon</h3>
                <div class="panel-heading-btn">
                             
                </div>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <img style="height:80px;" alt="" src="/images/abon_logo_H.jpg">
                </div>
                <br />
                <p ng-bind-html="translationsCashier.abon_cashier_deposit_description">
                    {{translationsCashier.abon_cashier_deposit_description}}
                </p>
                <form action="/" method="POST" name="transactionForm1">
                    <fieldset>
                        <div class="mb-3">                            
                            <label class="form-label">{{translationsCashier.abon_cashier_deposit_input_label}}</label>                              
                                <input ng-model="confirmTransactionModel.couponCode" class="form-control form-control-lg w-50" type="text" placeholder="{{translationsCashier.abon_cashier_deposit_input_placeholder}}" ng-required="true" />                 
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input ng-model="confirmCheckBox" class="form-check-input" type="checkbox" id="checkbox1" style=" width: 1.55rem; height: 1.55rem;" ng-checked="true"/>
                                <label ng-bind-html="translationsCashier.abon_cashier_deposit_terms_and_conditions" class="form-check-label" for="checkbox1" style=" padding-top: 8px; padding-left:10px;">{{translationsCashier.abon_cashier_deposit_terms_and_conditions}}></label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button ng-click="confirmCashierTransaction()" class="btn btn-danger w-100px me-5px" ng-disabled="confirmBusy || !confirmCheckBox || transactionForm1.$invalid">{{translationsCashier.abon_cashier_deposit_button}}<i ng-if="confirmBusy" class="fa fa-cog fa-spin"></i></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>


        
