<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading bg-red text-white">
                <h3 ng-bind-html="translationsCashier.ac_payout_title">{{translationsCashier.ac_payout_title}}</h3>
                <div class="panel-heading-btn">

                </div>
            </div>
            <div class="panel-body">
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col-md-1"></div>
                    <div class="col-lg-10 col-md-12 align-items-center justify-content-center">
                        <br />
                        <div class="text-center mb-4 mt-3">
                            <img style="height:50px;" alt="" src="/images/aircash-red.svg">
                        </div>
                        <br />
                        <br />
                        <h6 ng-bind-html="translationsCashier.ac_payout_cashier_description">
                            {{translationsCashier.ac_payout_cashier_description}}
                        </h6>
                        <form action="/" method="POST" name="transactionForm1">
                            <fieldset>
                                <label class="form-label" style="margin-bottom: 0px !important;">{{translationsCashier.cashier_phone_number_input_label}}</label>
                                <phone-number-input output="createPayoutModel.phoneNumber"></phone-number-input>
                                <label class="form-label" style="margin-bottom: 0px !important;">{{translationsCashier.cashier_amount_input_label}}</label>
                                <div class="input-group" style="margin-bottom: 0px !important;">
                                    <input ng-model="createPayoutModel.amount" class="form-control form-control-lg" type="text" placeholder="Enter amount" ng-disabled="createPayoutServiceBusy" ng-required="true">
                                    <span class="input-group-addon">€</span>
                                </div>
                                <label class="form-label" for="amount">{{translationsCashier.cashier_amount_input_note}}</label>
                                <button ng-click="createCashierPayout()" class="btn btn-danger w-100px me-5px" style="width:100%; font-size:15px;" ng-disabled="createPayoutServiceBusy || transactionForm1.$invalid">{{translationsCashier.ac_payout_cashier_withdrawal_button}}<i ng-if="createPayoutServiceBusy" class="fa fa-cog fa-spin"></i></button>
                            </fieldset>
                        </form>
                        <div class="row row-cols-1 row-cols-sm-2 text-center align-items-center justify-content-center" style="margin-top: 20px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px;">
                            <div class="iconGoogleMarket col-md-4 col-sm-12 p-0 align-items-center justify-content-center">
                                <a target="_blank" href="https://staging-m3.aircash.eu/api/DeepLink/Partner?partnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&source=VirtualPartner"><img src="../../app/cashier/img/google-play-en.svg" style="max-width: 70%"></a>
                            </div>
                            <div class="iconAppleMarket col-md-4 col-sm-12 p-0 align-items-center justify-content-center">
                                <a target="_blank" href="https://staging-m3.aircash.eu/api/DeepLink/Partner?partnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&source=VirtualPartner"><img src="../../app/cashier/img/app-store-en.svg" style="max-width: 70%"></a>
                            </div>
                            <div class="iconHuaweiMarket col-md-4 col-sm-12 p-0 align-items-center justify-content-center">
                                <a target="_blank" href="https://staging-m3.aircash.eu/api/DeepLink/Partner?partnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&source=VirtualPartner"><img src="../../app/cashier/img/app-gallery-en.svg" style="max-width: 70%"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>