<h1>Intro</h1>
<p>
    This chapter describes the procedure for withdrawing money from partner ATMs using the
    Aircash system. A functional description of the process and a precise description of the technical
    integration are given, which can be further adapted to fit into the partner ATM management system.
    At the end of the document, a module for reviewing monetary transactions as part of the Aircash
    administration system is described, and a proposal for the monetary settlement modality between
    Aircash and partner system is given.
</p>

<hr />

<h1>Payout process</h1>
<p>
    Aircash is obliged to implement the necessary KYC and AML policies towards its customers
    and to unequivocally establish their identity in money transfer transactions. Therefore, Aircash will
    allow cash payouts via partner ATMs only to those users who have previously verified their personal
    data through the internal Aircash system. When the Aircash system confirms the identity of the
    person making the payout, it will provide the payout service to the user and such users with
    sufficient funds can then payout cash at the partner ATMs.
</p>
<p>
    The withdrawal process is carried out as follows: upon arrival at the ATM, the user selects
    the option of cash payout via the Aircash system. A similar term for cardless cash withdrawal that
    the partner can generically define (e-cash, non-card withdrawal, etc.) can be used. By selecting this
    option, the user enters the transaction identifier (Aircash code) which will be generated in the
    Aircash mobile application and will have a time-limited validity. The Aircash code is a transaction
    identifier consisting of 6 digits.
</p>
<p>
    By entering the numeric transaction identifier, the partner system will call the
    UseOneTimePayoutCode method on the Aircash system API. When making the call, the partner
    system will pass over the numeric identifier entered by the user, as well as the unique transaction
    identifier on the partner system, to obtain all the necessary transaction data. The Aircash system will
    return the transaction amount to the partner system in order for the partner system to make the
    payment to the customer.
</p>
<p>
    If the money is not paid out to the user at the ATM, the partner system will, within a defined
    time frame, make a call to the CancelTransaction method on the Aircash system API, which will
    cancel the transaction in the Aircash system.
</p>

<h4>Integration system responsibilities</h4>
<label>The Aircash system will guarantee that:</label>
<ul>
    <li>the generated identifiers uniquely identify the transaction</li>
    <li>one transaction cannot be paid out more than once</li>
    <li>all transaction amounts are divisible by 100 so that the ATM can pay them out</li>
    <li>the identity of the person paying out the money is unequivocally established</li>
</ul>

<label>The partner system is obliged to:</label>
<ul>
    <li>
        monitor the specified payout process so that each transaction is confirmed in the Aircash
        system
    </li>
</ul>

<hr />

<h2>Technical aspects of integration – security and authentication</h2>
<p>
    The Aircash system has an open REST API with all the methods needed for use. The API is
    accessed via HTTPS protocol (TLS certificate protection).
</p>
<p>
    Every request towards the Aircash system API must be digitally signed. This ensures the irrefutability
    of each request, as well as the authenticity of each request. Signing certificates are generated by the
    partner and only the public certificate key is delivered to Aircash
</p>
<p>
    The partner in the Aircash system is identified using the partnerGuid parameter. It is a GUID
    parameter generated by Aircash and delivered to each partner separately. Only a pair of correctly
    signed control strings and partnerGuid enables successful authentication on the Aircash system.
</p>
<p>
    Partners are provided with an integration environment (staging) where it is possible to call methods
    for the purpose of integration and testing. All the details of the integration with Aircash services are
    described in detail in the following chapters.
</p>

<hr />

<h2>Digital message signing</h2>
<p>
    Similar to financial processes such as fiscalization, every request towards Aircash needs to be
    digitally signed. The RSA-SHA-256 digital signature cryptographic system is used for this purpose. All
    requests are signed with a digital signature.
</p>
<p>
    The partner system has a unique secret key for signing transactions which is generated, installed and
    signed by the Aircash system. The corresponding public key is installed on the Aircash system.
</p>

<hr />

<h2>Methods called by Aircash on the partner system</h2>
<p>
    The Partner should connect to REST methods that receive JSON objects in order to successfully
    make payment of funds to the Partner Account.
</p>

<h4>UseOneTimePayoutCode</h4>

<p style="text-align:justify">
    The method used by partner system to retrive transaction data for a given payout code. On each successful request Aircash system will withdraw funds off user account.
    <ul>
        <li>
            In case of a successful payout contains information about the transaction
        </li>
        <li>
            In case of an unsuccessful payout contains the appropriate error code
        </li>
    </ul>
</p>

<div class="table-responsive">
    <table class="table  table-active col-md-6">
        <thead>
            <tr>
                <th>Environment</th>
                <th>Method</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Test</b></td>
                <td>
                    POST
                </td>
                <td>https://staging-api.aircash.eu/api/OneTimeCode/UseOneTimePayoutCode</td>
            </tr>
            <tr>
                <td><b>Production</b></td>
                <td>
                    POST
                </td>
                <td>https://api.aircash.eu/api/OneTimeCode/UseOneTimePayoutCode</td>
            </tr>
        </tbody>
    </table>
</div>

<uib-tabset>
    <uib-tab index="UseOneTimePayoutCode-tab-0" heading="Request parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Mandatory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>AcCode</b></td>
                        <td>String</td>
                        <td>Aircash transaction code</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><b>PartnerTransactionID</b></td>
                        <td>String</td>
                        <td>
                            Unique transaction identifier on the partner system. It’s a 256 character composite type.
                            A proposal of the structure will be given by the partner, including terminal information i.e.
                            the ATM where the payout takes place.
                        </td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><b>Signature</b></td>
                        <td>String</td>
                        <td>
                            Digital signature. How it’s generated:<br />
                            var dataToSign = AcCode + PartnerGuid + PartnerTransactionID + "UseOneTimePayoutCode"
                        </td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><b>PartnerGuid</b></td>
                        <td>String</td>
                        <td>Partner identifier GUID</td>
                        <td>Yes</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </uib-tab>
    <uib-tab index="UseOneTimePayoutCode-tab-1" heading="Response parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Parameters</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"><b>Success</b></td>
                        <td>Boolean</td>
                        <td>
                            Successful call confirmation
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>TransactionInformation</b></td>
                        <td></td>
                        <td>
                            Payout information object. If Success = false this object is empty
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>TransactionID</b></td>
                        <td>Guid</td>
                        <td>
                            Unique transaction identifier on the Aircash system
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Price</b></td>
                        <td>decimal</td>
                        <td>
                            Total amount to pay out
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Error</b></td>
                        <td></td>
                        <td>
                            Error information object. If Success = true, this object is empty
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Code</b></td>
                        <td>Int</td>
                        <td>
                            Error identifier
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Message</b></td>
                        <td>String</td>
                        <td>
                            Error description.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="UseOneTimePayoutCode-tab-2" heading="Response error messages" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Messsage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>InvalidSignature</td>
                        <td>10</td>
                        <td>Signature is not valid</td>
                    </tr>
                    <tr>
                        <td>InvalidBarcode / InvalidAcCode</td>
                        <td>30</td>
                        <td>Barcode / Aircashcodeisnotvalid</td>
                    </tr>
                    <tr>
                        <td>UnknownTransaction</td>
                        <td>31</td>
                        <td>Unknown transaction</td>
                    </tr>
                    <tr>
                        <td>UnknownError</td>
                        <td>40</td>
                        <td>Unknown error, please try again or contact info@aircash.eu</td>
                    </tr>
                    <tr>
                        <td>ReceiverBlacklist</td>
                        <td>51</td>
                        <td>Receiver is on the blacklist</td>
                    </tr>
                    <tr>
                        <td>TransactionLimit</td>
                        <td>53</td>
                        <td>Daily transaction limit exceeded</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="UseOneTimePayoutCode-tab-3" heading="Try it out" classes="nav-item">
        <div class="row">
            <div class="col-md-4">
                <form action="/" method="POST" name="useOneTimePayoutCodeForm">
                    <fieldset>
                        <div class="mb-3">
                            <label class="form-label">AcCode</label>
                            <input ng-model="useOneTimePayoutCodeModel.acCode" class="form-control" type="text" placeholder="Enter AcCode" ng-disabled="useOneTimePayoutCodeServiceBusy" ng-required="true">
                        </div>
                        <button ng-click="useOneTimePayoutCode()" class="btn btn-primary w-100px me-5px" ng-disabled="useOneTimePayoutCodeServiceBusy|| useOneTimePayoutCodeForm.$invalid">Create Payout<i ng-if="useOneTimePayoutCodeServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-0.5"></div>
            <div class="col-md-4" ng-if="useOneTimePayoutCodeServiceResponse && !useOneTimePayoutCodeServiceBusy">
                Request ({{useOneTimePayoutCodeRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="useOneTimePayoutCodeRequest"></jsonformatter>
                Sequence: {{useOneTimePayoutCodeSequence}}<br />
            </div>
            <div class="col-md-3" ng-if="useOneTimePayoutCodeServiceResponse && !useOneTimePayoutCodeServiceBusy">
                Response ({{useOneTimePayoutCodeResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="useOneTimePayoutCodeResponse"></jsonformatter>
            </div>
        </div>
    </uib-tab>
</uib-tabset>

<h4>CancelTransaction</h4>

<p style="text-align:justify">
    The method used by partner system in case partner needs to cancell the transaction.
</p>

<div class="table-responsive">
    <table class="table  table-active col-md-6">
        <thead>
            <tr>
                <th>Environment</th>
                <th>Method</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Test</b></td>
                <td>
                    POST
                </td>
                <td>https://staging-api.aircash.eu/api/OneTimeCode/CancelTransaction</td>
            </tr>
            <tr>
                <td><b>Production</b></td>
                <td>
                    POST
                </td>
                <td>https://api.aircash.eu/api/OneTimeCode/CancelTransaction</td>
            </tr>
        </tbody>
    </table>
</div>
<uib-tabset>
    <uib-tab index="CancelTransaction-tab-0" heading="Request parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Mandatory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>PartnerTransactionID</b></td>
                        <td>String</td>
                        <td>Unique transaction identifier on the partner system</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><b>Signature</b></td>
                        <td>String</td>
                        <td>
                            Digital signature. How it’s generated:<br />
                            var dataToSign = AcCode + PartnerGuid + PartnerTransactionID + "UseOneTimePayoutCode"
                        </td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><b>PartnerGuid</b></td>
                        <td>String</td>
                        <td>Partner identifier GUID</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="CancelTransaction-tab-1" heading="Response parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Parameters</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"><b>TransactionID</b></td>
                        <td>Guid</td>
                        <td>
                            Unique transaction identifier on the partner system
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Success</b></td>
                        <td>Boolean</td>
                        <td>
                            Successful call confirmation
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Error</b></td>
                        <td></td>
                        <td>
                            Error information object. If Success = true, this object is empty
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Code</b></td>
                        <td>Int</td>
                        <td>
                            Error identifier
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Message</b></td>
                        <td>String</td>
                        <td>
                            Error description.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="CancelTransaction-tab-2" heading="Response error messages" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Messsage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>InvalidSignature</td>
                        <td>10</td>
                        <td>Signature is not valid</td>
                    </tr>
                    <tr>
                        <td>UnknownTransaction</td>
                        <td>31</td>
                        <td>Unknown transaction</td>
                    </tr>
                    <tr>
                        <td>UnknownError</td>
                        <td>40</td>
                        <td>Unknown error, please try again or contact info@aircash.eu</td>
                    </tr>
                    <tr>
                        <td>AlreadyCanceled</td>
                        <td>54</td>
                        <td>Transaction already canceled</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="CancelTransaction-tab-3" heading="Try it out" classes="nav-item">
        <div class="row">
            <div class="col-md-4">
                <form action="/" method="POST" name="cancelTranscationForm">
                    <fieldset>
                        <div class="mb-3">
                            <label class="form-label">PartnerTransactionID</label>
                            <input ng-model="cancelTranscationModel.partnerTransactionID" class="form-control" type="text" placeholder="Enter PartnerTransactionID" ng-disabled="cancelTranscationServiceBusy" ng-required="true">
                        </div>
                        <button ng-click="cancelTranscation()" class="btn btn-primary w-100px me-5px" ng-disabled="cancelTranscationServiceBusy|| cancelTranscationForm.$invalid">Create Payout<i ng-if="cancelTranscationServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-0.5"></div>
            <div class="col-md-4" ng-if="cancelTranscationServiceResponse && !cancelTranscationServiceBusy">
                Request ({{cancelTranscationRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="cancelTranscationRequest"></jsonformatter>
                Sequence: {{cancelTranscationSequence}}<br />
            </div>
            <div class="col-md-3" ng-if="cancelTranscationServiceResponse && !cancelTranscationServiceBusy">
                Response ({{cancelTranscationResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="cancelTranscationResponse"></jsonformatter>
            </div>
        </div>
    </uib-tab>
</uib-tabset>

<hr />

<h1>Reporting and settlement system</h1>

<h4>Daily e-mail report delivery</h4>
<p>
    The partner system will generate reports of completed transactions and will deliver these
    reports daily to info@aircash.eu. The Aircash customer service will compare the received reports
    with its own reports of recorded transactions in the Aircash system and will act in accordance with
    the agreed procedures in case of certain deviations. The format of these daily reports will be
    proposed and defined by the partner.
</p>

<h4>Transaction monitoring portal</h4>
<p>
    The web portal will be providing insight into executed transactions status through the
    business support system. Transactions can be viewed in the desired time period, filtered and
    searched according to given parameters. The system has the ability to display the fees of partner
    transactions and serves as a basis for calculations and invoicing of fees.
</p>
<ul>
    <li>
        In addition to displaying all transactions recorded in the Aircash system, the web portal
        allows you to download csv or pdf files that contain all transactions for the reporting period and are
        suitable for entry into the partner business systems (e.g. SAP).
    </li>
    <li>
        In addition to the web portal, the reporting and settlement system sends reports to partners.
        These reports allow partners to monitor all payouts made for the reporting period for the purpose of
        conducting financial settlements.
    </li>
</ul>


<h4>Cash settlements</h4>
<p>
    Given that the entirety of the partner ATM function is the payout of cash to previously
    verified Aircash customers, there will be a financial claim only from the partner to Aircash. The cash
    settlement modality should be risk-free for both parties and integrated into the existing business
    processes of both parties, and will be defined in accordance with the agreement between the
    partners.
</p>
<p>
    The settlement of the fees due to the partner for cash payout services is done in a parallel
    process on a weekly or monthly basis in accordance with the agreement between the partners. From
    the transaction monitoring portal and reports generated from the Aircash system, an analysis of fees
    for individual transactions is available, as well as an overall recapitulation. Based on the above data,
    Aircash calculates the fee due to the partner and forms an Authorization document based on which
    the payment is made, directly from the special purpose account or through the main account,
    depending on the agreement between the partners.
</p>

<hr />

<h2>Conclusion</h2>

<p>
    This specification provides a description of the technical integration with the Aircash system
    in order to enable the payout of money at partner ATMs. Additionally, a module for reviewing money
    transactions as part of the Aircash administration system is described, and a model of cash
    settlements between Aircash and the partner is defined, as well as the calculation of the fee.
</p>

<p>
    The integration is unambiguous and simple, in line with similar integrations in the field of
    financial services, compliant with the highest security standards. Aircash's infrastructure is adjusted
    to all regulatory and technical standards in accordance with domestic regulations (Aircash is an
    electronic money institution), but also to the relevant guidelines at the level of the European Union.
</p>