<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>CheckPlayer</h2>
    <p style="text-align:justify">
        The method used for Aircash platform to verify whether the user has an active account in the
        partner system and to enable the display of useful information (such as the user account status).
    </p>
    <p style="text-align:justify">
        When agreeing to this method, Aircash will need a list of parameters that partner needs in
        order to uniquely determine which account is being subjected for payment. For example, if the user
        would like to make a payment to his account in the partner system, he will need to input
        parameter(s) that will identify his account in the partner system (e.g. username in partner system).
        Aircash system will send CheckPlayer request using input parameter(s) to partner system in order to
        verify if the account exists in partner system. Aircash system will not allow the user to make payment
        in case the partner system doesn’t respond positively to this request.
        <br />
        Aircash system will need a list of negative responses from partner system in order to map
        them in the system. In case the partner system responds negatively to this request, partner will need
        to send some unique error code. Those error codes need mapping in the Aircash system in order to
        display correct messages to the end user. Example error codes: user doesn’t exist in the system, user
        account blocked in partner system, user account not verified in partner system…
        <br />
        If the partner system has multiple user identifiers, Aircash can allow the user to choose which
        identifier to enter.
    </p>

    <div class="table-responsive">
        <table class="table  table-active col-md-6">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Method</th>
                    <th>URL</th>
                    <th>IP addresse to whitelist</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Test</b></td>
                    <td>
                        POST
                    </td>
                    <td>URL defined by partner</td>
                    <td>
                        212.83.162.238
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td><b>Production</b></td>
                    <td>
                        POST
                    </td>
                    <td>URL defined by partner</td>
                    <td>
                        212.129.36.132
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <uib-tabset>
        <uib-tab index="checkUser1-tab-0" heading="Request parameters" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Parameter</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Mandatory</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2"><b>Parameters</b></td>
                            <td>List &lt;Object&gt;</td>
                            <td>List of parameters</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1"><b>Key</b></td>
                            <td>String</td>
                            <td>
                                The name of the parameter to be sent
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="1"><b>Value</b></td>
                            <td>String</td>
                            <td>
                                The value of the parameter to be sent
                            </td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Signature</b></td>
                            <td>String</td>
                            <td>
                                Signature by Aircash system confirming that Aircash is sending request to the partner system
                            </td>
                            <td>YES</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="checkUser1-tab-1" heading="Request example" classes="nav-item">
            <div class="form-group row mx-2">
                <div class="col-6">
                    <div class="row">
                        <div class="col-lg-3 mt-2 ">
                            <select class="form-control" id="select" ng-change="requestCheckPlayerChanged()" ng-model="checkPlayerUsernameEmailSelected" ng-init="checkPlayerUsernameEmailSelected = 'username'">
                                <option value="email">Email</option>
                                <option value="username">Username</option>
                            </select>
                        </div>
                        <div class="col-lg-9 mt-2">
                            <input ng-model="checkPlayerGenerateSignatureModel.identificator" ng-keyup="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter {{checkPlayerUsernameEmailSelected}}" ng-disabled="generateCheckPlayerSignatureBusy" ng-required="true">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                            <input class="form-check-input" type="checkbox" ng-change="requestCheckPlayerChanged()" ng-model="checkboxCheckPlayerModel.aircashUserID">
                            <label class="form-check-label">
                                AircashUserID
                            </label>
                        </div>
                        <div class="col-lg-9 mt-2">
                            <input ng-model="checkPlayerGenerateSignatureModel.aircashUserID" ng-init="checkPlayerGenerateSignatureModel.aircashUserID = '0e7fa3df-4195-4ecd-896a-70bdb1ceb904'; requestCheckPlayerChanged();" ng-if="checkboxCheckPlayerModel.aircashUserID" ng-change="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter aircashUserID" ng-disabled="generateCheckPlayerSignatureBusy" ng-required="true">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                            <input class="form-check-input" type="checkbox" ng-change="requestCheckPlayerChanged()" ng-model="checkboxCheckPlayerModel.currency">
                            <label class="form-check-label">
                                currencyIsoCode
                            </label>
                        </div>
                        <div class="col-lg-9 mt-2">
                            <input ng-model="checkPlayerGenerateSignatureModel.currency" ng-init="checkPlayerGenerateSignatureModel.currency = '978'; requestCheckPlayerChanged();" ng-if="checkboxCheckPlayerModel.currency" ng-change="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter currencyId e.g. 978" ng-disabled="generateCheckPlayerSignatureBusy" ng-required="true">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                            <input class="form-check-input" type="checkbox" ng-change="requestCheckPlayerChanged()" ng-model="checkboxCheckPlayerModel.countryCode">
                            <label class="form-check-label">
                                countryIsoCode
                            </label>
                        </div>
                        <div class="col-lg-9 align-self-center">
                            <input ng-model="checkPlayerGenerateSignatureModel.countryCode" ng-init="checkPlayerGenerateSignatureModel.countryCode = 'HR'; requestCheckPlayerChanged();" ng-if="checkboxCheckPlayerModel.countryCode" ng-change="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter countryCode e.g. HR" ng-disabled="generateCheckPlayerSignatureBusy" ng-required="true">
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                            <input class="form-check-input" type="checkbox" ng-change="requestCheckPlayerChanged()" ng-model="checkboxCheckPlayerModel.merchant">
                            <label class="form-check-label">
                                MerchantId
                            </label>
                        </div>
                        <div class="col-lg-9 mt-2">
                            <input ng-model="checkPlayerGenerateSignatureModel.merchantId" ng-init="checkPlayerGenerateSignatureModel.merchantId = '100'; requestCheckPlayerChanged();" ng-if="checkboxCheckPlayerModel.merchant" ng-change="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter merchantId e.g. 100" ng-disabled="generateCheckPlayerSignatureBusy" ng-required="true">
                        </div>
                    </div>
                    <hr />
                    <!--<div class="row">
                        <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                            <input class="form-check-input" type="checkbox" ng-model="checkboxCheckPlayerModel.phoneNumber">
                            <label class="form-check-label">
                                AircashUserPhoneNumber
                            </label>
                        </div>
                        <div class="col-lg-9 mt-2">
                            <input ng-model="checkPlayerGenerateSignatureModel.phoneNumber" ng-if="checkboxCheckPlayerModel.phoneNumber" ng-init="checkPlayerGenerateSignatureModel.phoneNumber = '385995712738'; requestCheckPlayerChanged();" ng-change="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter AircashUserPhoneNumber e.g. 385995712738" ng-disabled="generateCheckPlayerSignatureBusy" ng-required="true">
                        </div>
                    </div>
                    <hr />-->
                    <div class="row">
                        <div class="col-lg-3 form-check mt-2 pl-4">
                            <input class="form-check-input" type="checkbox" ng-change="requestCheckPlayerChanged()" ng-model="checkboxCheckPlayerModel.match">
                            <label class="form-check-label">
                                Match personal data
                            </label>
                        </div>
                        <div ng-if="checkboxCheckPlayerModel.match" class="col-lg-9 align-self-center mt-2">
                            <div>
                                <input ng-model="checkPlayerGenerateSignatureModel.firstname" ng-init="checkPlayerGenerateSignatureModel.firstname = 'John'; requestCheckPlayerChanged();" ng-change="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter firstname" ng-disabled="generateCheckPlayerSignatureBusy" ng-required="true">
                            </div>
                            <div class="mt-2">
                                <input ng-model="checkPlayerGenerateSignatureModel.lastname" ng-init="checkPlayerGenerateSignatureModel.lastname = 'Doe'; requestCheckPlayerChanged();" ng-change="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter lastname" ng-disabled="generateCheckPlayerSignatureBusy" ng-required="true">
                            </div>
                            <div class="mt-2">
                                <date-picker date="checkPlayerGenerateSignatureModel.birthDate" isOptional="false" out="checkPlayerSetDate"></date-picker>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-6">
                    <div ng-if="generateCheckPlayerSignatureResponded">
                        <pre>
                        <jsonformatter data="generateCheckPlayerSignatureResponse"></jsonformatter>  
Sequence: 
{{RequestExampleSequence}}
</pre>
                    </div>
                </div>
            
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-white ml-2 mt-2" ng-if="generateCheckPlayerSignatureResponded" ng-click="copy(generateCheckPlayerSignatureResponse)">Copy</button>
            </div>
        </uib-tab>
        <uib-tab index="CheckCode-tab-2" heading="Signature" classes="nav-item">
            <pre>
Request example:
</pre>
            <jsonformatter data="aircashPayment.checkPlayer.requestExample"></jsonformatter>
<pre>

Sequence:
Parameters=Key=username&Value=aircash

Signature:
HrlYnqqrhCJJuqnGtkLE03IDp0mPTzW4otIrFlIRg3tXIQXgTJJiy61vYQuWzV8AqBQoDiQlQvLVKvJQlqPcyncevT5DwAMVMdzQO2O7mP9hpP9lVmNrPLs3bTffHA7GkmrEnbg6+exD+wQKPeqric0tfVjJfoGLEq48+1/ndqXY+VqPdKdPQm23NWcWGytDr2Itrmw3a2pR9xbBkhChNT9X2WK+M9rPNzoGhZOFE2GHh/7/o4qJl0/ilCgi8uga1NK1z8Cl2fHQgxrJ/TcIGCW3/NmEvKX6YPXPoOPWXXB4wJ2pfHyNfTqt8klVYp0TpYcG+exYj9Vg7WJo90q9ZDtQFKp6GpXNLiNcZPzo0+Q251iPZfzIt2zPutkF/N93WnInEd6EvqXRn9P6FrC0GetcAhAx++p/i+ez3mRUgscdG9QHVQ3xPKl0u24yb9LvIzaBg9R6GcaZNBYdABjYV8vWIQY7Mkinp0gx4J+X/w8CVbdQvvS0GX0/WeMRnvYW34+I5uYcEkvqAB5BNYG/qVNi54e4qPYo7pxBjV/eXYdweWTIQ83icgFtuY4oEURJ5QUe5cq3yVePsOAw5pVzptwfxnJG/3zIoNGOf6EOvmVcAHLtgzzMNJi55wmqK+G8iZ/MG8YgRpUl78pJYAaA4iyWgpgtoqMAH4CHmi0uCgs=
</pre>
        </uib-tab>
        <uib-tab index="checkUser1-tab-3" heading="Response parameters" classes="nav-item">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="3">Return value</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3"><b>IsPlayer</b></td>
                                    <td>Bool</td>
                                    <td>
                                        True if there is an account with the above data
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><b>Error</b></td>
                                    <td></td>
                                    <td>
                                        In case of returning an error (IsPlayer = false), return
                                        the corresponding error to get the user the correct
                                        error
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><b>ErrorCode</b></td>
                                    <td>Int</td>
                                    <td>
                                        Error codes and error messages are sent to user
                                        support for mapping to be printed in the mobile
                                        application.
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><b>ErrorMessage</b></td>
                                    <td>String</td>
                                    <td>
                                        Error description.
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><b>Parameters</b></td>
                                    <td>List &lt;Object&gt;</td>
                                    <td>
                                        This parameter can be ignored if the user does not
                                        need to show additional information in the mobile
                                        app. In addition to the parameters, some values may
                                        be reversed by which the Aircash system defines
                                        different rules for this transaction, such as minimum
                                        transaction amount or maximum transaction
                                        amount. The parameters are agreed in cooperation
                                        with Aircash support.
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><b>Key</b></td>
                                    <td>String</td>
                                    <td>Parameter name</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><b>Type</b></td>
                                    <td>String</td>
                                    <td>
                                        Parameter type: String, Date, Decimal, DateTime,
                                        Boolean
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><b>Value</b></td>
                                    <td>String</td>
                                    <td>Parameter value</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="checkUser1-tab-4" heading="200 OK response example" classes="nav-item">
            <hr />
            <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                <input class="form-check-input" type="checkbox" ng-model="aircashMatchingPersonalData">
                <label class="form-check-label mt-1">
                    Aircash matching personal data
                </label>
            </div>
            <hr/>
            <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                <input class="form-check-input" type="checkbox" ng-model="maxAmount">
                <label class="form-check-label mt-1">
                    Max amount
                </label>
            </div>
            <hr />
            <div ng-if="!aircashMatchingPersonalData && !maxAmount">
                <jsonformatter data="aircashPayment.checkPlayer.responseExample"></jsonformatter>
            </div>
            <div ng-if="aircashMatchingPersonalData && !maxAmount">
                <jsonformatter data="aircashPayment.checkPlayer.responseExampleAircashMatchingPersonalData"></jsonformatter>
            </div>
            <div ng-if="!aircashMatchingPersonalData && maxAmount">
                <jsonformatter data="aircashPayment.checkPlayer.responseExampleMaxAmount"></jsonformatter>
            </div>
            <div ng-if="aircashMatchingPersonalData && maxAmount">
                <jsonformatter data="aircashPayment.checkPlayer.responseExampleAircashMatchingPersonalDataAndMaxAmount"></jsonformatter>
            </div>
        </uib-tab>
        <uib-tab index="checkUser1-tab-6" heading="Error response example" classes="nav-item">
            Response HTTP 200 OK
            <jsonformatter data="aircashPayment.checkPlayer.errorResponseExample"></jsonformatter>
        </uib-tab>
        <uib-tab index="checkUser1-tab-7" heading="Try it out" classes="nav-item">
            <div class="form-group row mx-2">
                <div class="col-5">
                    <form action="/" method="POST" name="checkPlayerForm">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-3 align-self-center mt-3 pl-3">
                                    <label>
                                        Endpoint
                                    </label>
                                </div>
                                <div class="col-lg-9 mt-2">
                                    <input ng-model="checkPlayerModel.endpoint" class="form-control" type="text" placeholder="Enter endpoint" ng-disabled="checkPlayerBusy" ng-required="true">
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-3 mt-2 ">
                                    <select class="form-control" id="select" ng-model="select.checkPlayerUsernameEmailSelected" ng-init="select.checkPlayerUsernameEmailSelected = 'username'">
                                        <option value="email">Email</option>
                                        <option value="username">Username</option>
                                    </select>
                                </div>
                                <div class="col-lg-9 mt-2">
                                    <input ng-model="checkPlayerModel.identificator" class="form-control" type="text" placeholder="Enter {{select.checkPlayerUsernameEmailSelected}}" ng-disabled="checkPlayerBusy" ng-required="true">
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                                    <input class="form-check-input" type="checkbox" ng-model="checkboxCheckPlayer.aircashUserID">
                                    <label class="form-check-label">
                                        AircashUserID
                                    </label>
                                </div>
                                <div class="col-lg-9 mt-2">
                                    <input ng-model="checkPlayerModel.aircashUserID" ng-if="checkboxCheckPlayer.aircashUserID" class="form-control" type="text" placeholder="Enter aircashUserID" ng-disabled="checkPlayerBusy" ng-required="true">
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                                    <input class="form-check-input" type="checkbox" ng-model="checkboxCheckPlayer.currency">
                                    <label class="form-check-label">
                                        currencyIsoCode
                                    </label>
                                </div>
                                <div class="col-lg-9 mt-2">
                                    <input ng-model="checkPlayerModel.currency" ng-if="checkboxCheckPlayer.currency" class="form-control" type="text" placeholder="Enter currencyId e.g. 978" ng-disabled="checkPlayerBusy" ng-required="true">
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                                    <input class="form-check-input" type="checkbox" ng-model="checkboxCheckPlayer.countryCode">
                                    <label class="form-check-label">
                                        countryIsoCode
                                    </label>
                                </div>
                                <div class="col-lg-9 align-self-center">
                                    <input ng-model="checkPlayerModel.countryCode" ng-if="checkboxCheckPlayer.countryCode" ng-change="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter countryCode e.g. HR" ng-disabled="checkPlayerBusy" ng-required="true">
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                                    <input class="form-check-input" type="checkbox" ng-model="checkboxCheckPlayer.merchant">
                                    <label class="form-check-label">
                                        MerchantId
                                    </label>
                                </div>
                                <div class="col-lg-9 mt-2">
                                    <input ng-model="checkPlayerModel.merchantId" ng-if="checkboxCheckPlayer.merchant" ng-change="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter merchantId e.g. 100" ng-disabled="checkPlayerBusy" ng-required="true">
                                </div>
                            </div>
                            <hr />
                            <!--<div class="row">
                                <div class="col-lg-3 form-check align-self-center mt-2 pl-4">
                                    <input class="form-check-input" type="checkbox" ng-model="checkboxCheckPlayer.phoneNumber">
                                    <label class="form-check-label">
                                        AircashUserPhoneNumber
                                    </label>
                                </div>
                                <div class="col-lg-9 mt-2">
                                    <input ng-model="checkPlayerModel.phoneNumber" ng-if="checkboxCheckPlayer.phoneNumber" ng-change="requestCheckPlayerChanged()" class="form-control" type="text" placeholder="Enter AircashUserPhoneNumber e.g. 385995712738" ng-disabled="checkPlayerBusy" ng-required="true">
                                </div>
                            </div>
                            <hr />-->
                            <div class="row">
                                <div class="col-lg-3 form-check mt-2 pl-4">
                                    <input class="form-check-input" type="checkbox" ng-model="checkboxCheckPlayer.match">
                                    <label class="form-check-label">
                                        Match personal data
                                    </label>
                                </div>
                                <div ng-if="checkboxCheckPlayer.match" class="col-lg-9 align-self-center mt-2">
                                    <div>
                                        <input ng-model="checkPlayerModel.firstname" class="form-control" type="text" placeholder="Enter firstname" ng-disabled="checkPlayerBusy" ng-required="true">
                                    </div>
                                    <div class="mt-2">
                                        <input ng-model="checkPlayerModel.lastname" class="form-control" type="text" placeholder="Enter lastname" ng-disabled="checkPlayerBusy" ng-required="true">
                                    </div>
                                    <div class="mt-2">
                                        <date-picker date="checkPlayerModel.birthDate" isOptional="false" out="checkPlayerModelSetDate"></date-picker>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </fieldset>
                    </form>
                    <button ng-click="checkPlayer()" class="btn btn-primary w-100px me-5px" ng-disabled="checkPlayerBusy|| checkPlayerForm.$invalid">Send POST <i ng-if="checkPlayerBusy" class="fa fa-cog fa-spin"></i></button>

                </div>
                <div class="col-3" ng-if="checkPlayerResponded">
                    Request ({{checkPlayerRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                    <jsonformatter data="checkPlayerRequest"></jsonformatter>
                    <div class="overflow-auto">
                        Sequence: {{checkPlayerSequence}}<br />
                    </div>
                </div>
                <div class="col-3" ng-if="checkPlayerResponded">
                    Response ({{checkPlayerResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                    <jsonformatter data="checkPlayerResponse"></jsonformatter>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
    
</body>
</html>