<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="width: 100%">
        <h1 class="page-header">User admin</h1>
    </div>
    <br />

    <div class="panel panel-inverse">

        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title" style="margin-left:3px">Users</h4>
        </div>

        <div class="panel-body">
            <div class="col-sm-12">

                <div class="container">
                    <div class="row" style="margin-top: 25px">
                        <div class="form-group col-xs-3 col-md-3">
                            <button class="btn btn-primary" ng-click="addEditUserModal();">
                                <i class="fa fa-user" aria-hidden="true" style="margin-right:3px;"></i>New user
                            </button>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="form-group col-xs-3 col-md-3">
                            <input type="search"
                                   placeholder="Search users"
                                   class="form-control"
                                   ng-model="searchUser"
                                   ng-model-options="{debounce: 600}"
                                   ng-change="SearchTable();" />
                        </div>
                        <div class="col-sm-1">
                            <button ng-disabled="!searchUser" type="button" class="btn btn-primary" ng-click="setDefaults();">Clear</button>
                        </div>
                    </div>
                </div>

                <div ng-if="users" class="container">
                    <div class="table-responsive" style="overflow-x:visible">
                        <table class="table table-bordered table-hover table-condensed table-striped" style="font-size:12px">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Email</th>
                                    <th>Partner</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="u in users">
                                    <td>{{u.userName}}</td>
                                    <td>{{u.email}}</td>
                                    <td>{{u.partner.name}}</td>
                                    <td style="cursor:pointer" ng-click="addEditUserModal(u)"><i class="fa fa-pen"></i></td>
                                    <td style="cursor:pointer" ng-click="deleteUserModal(u)"><i class="fa fa-trash"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <div class="pull-c" ng-hide="totalLoaded < 10">
                            <load-more total-loaded="totalLoaded" out="loadMore"></load-more>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<div class="modal fade" id="addUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add user</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="row">

                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Username: </label>
                                <input type="text" class="form-control" ng-model="user.userName"/>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Password: </label>
                                <input type="password" class="form-control" ng-model="user.password" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Confirm Password: </label>
                                <input type="password" class="form-control" ng-model="ConfirmPassword" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Email: </label>
                                <input type="email" class="form-control" ng-model="user.email" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Partner</label>
                                <select id="selPartner">
                                    <option ng-repeat="partner in partners" value="{{partner.id}}">{{partner.name}}</option>
                               </select> 
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <button type="button" ng-click="checkPassword();" class="btn btn-primary" ng-disabled="user.userName == '' || user.password == '' || user.password == null || ConfirmPassword == '' || ConfirmPassword == null || user.email == '' || user.partner == null">Save user</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete partner</h4>
            </div>
            <div class="modal-body" align="center">
                <div class="span5">Are you sure you want to delete user: {{user.userName}}</div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                <button type="button" ng-click="deleteUser();" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>