<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-white" style="background-color: #F62727;">
                <div class="col-md-6" style="float:left;">
                    <h2 style="margin-top: 5px !important; float:left !important;">Aircash Frame - Abon</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-sm-2 text-center">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-sm-12 align-items-center justify-content-center">
                        <img src="/images/aircash_logo.png" class="aircashHeaderLogo">
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-sm-12">
                        <p ng-bind-html="translationsCashier.abon_cashier_deposit_description">
                            {{translationsCashier.abon_cashier_deposit_description}}
                        </p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <form action="/" method="POST" name="transactionForm1">
                    <fieldset>
                        <div class="row row-cols-1 row-cols-sm-2">
                            <div class="col-md-1"></div>
                            <div class="col-md-10 col-sm-12 align-items-center justify-content-center">
                                <div class="form-check">
                                    <input ng-checked="true" ng-model="confirmCheckBox" class="form-check-input" type="checkbox" id="checkbox1" style=" width: 1.55rem; height: 1.55rem;" ng-init="confirmCheckBox=true" ng-change="checkStatusBtnInitiateAcFrame(confirmCheckBox)" />
                                    <label ng-bind-html="translationsCashier.abon_cashier_deposit_terms_and_conditions" class="form-check-label" for="checkbox1" style=" padding-top: 4px; padding-left:10px; font-size:15px;">{{translationsCashier.abon_cashier_deposit_terms_and_conditions}}</label>
                                </div>
                                <div class="mt-3" ng-if="useAmountRadio==2 || useAmountRadio==3">
                                    <label class="form-label">{{translationsCashier.cashier_amount_input_label}}</label>
                                    <input class="form-control form-control-lg" ng-model="abon.amount" type="text" placeholder="{{translationsCashier.cashier_amount_placeholder}}" ng-disabled="createCashierAcFrameAbonServiceBusy" ng-required="true">
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 text-center" style="margin-top: 10px;">
                            <div class="col-md-1"></div>
                            <div class="col-md-10 col-sm-12 d-flex align-items-center justify-content-center" id="dvBtnInitiateFrame">
                                <button ng-disabled="!(confirmCheckBox) || createCashierAcFrameAbonServiceBusy || transactionForm1.$invalid" ng-model="btnInitiateAcFrame" ng-click="initiateAcFrameAbon()" type="button" class="btn btn-danger w-100px me-5px" style="width:100%; font-size:15px;">{{translationsCashier.abon_cashier_deposit_button}}<i ng-if="createCashierAcFrameAbonServiceBusy" class="fa fa-cog fa-spin"></i></button>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 text-center align-items-center justify-content-center" style="margin-top: 20px; margin-bottom: 25px; margin-left: 20px; margin-right: 20px;">
                            <div class="iconGoogleMarket col-md-4 col-sm-12 align-items-center justify-content-center">
                                <a target="_blank" href="https://staging-m3.aircash.eu/api/DeepLink/Partner?partnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&source=VirtualPartner"><img src="../../app/cashier/img/google-play-en.svg" style="max-width: 70%"></a>
                            </div>
                            <div class="iconAppleMarket col-md-4 col-sm-12 align-items-center justify-content-center">
                                <a target="_blank" href="https://staging-m3.aircash.eu/api/DeepLink/Partner?partnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&source=VirtualPartner"><img src="../../app/cashier/img/app-store-en.svg" style="max-width: 70%"></a>
                            </div>
                            <div class="iconHuaweiMarket col-md-4 col-sm-12 align-items-center justify-content-center">
                                <a target="_blank" href="https://staging-m3.aircash.eu/api/DeepLink/Partner?partnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&source=VirtualPartner"><img src="../../app/cashier/img/app-gallery-en.svg" style="max-width: 70%"></a>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-sm-12 align-items-center justify-content-center">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#AcFrameAbonConfiguration" aria-expanded="false" aria-controls="AcFrameAbonConfiguration">
                                            {{translationsCashier.cashier_configuration_button}}
                                        </button>
                                    </h5>
                                </div>
                                <div id="AcFrameAbonConfiguration" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <select name="country" class="form-control form-control-lg" style="border-radius: 5px !important;" ng-options="item.desc for item in acFrameOptions" ng-model="selectedAcFrameOption" ng-disabled="createCashierAcFrameAcPayServiceBusy" ng-required="true">
                                            </select>
                                        </div>
                                        <div class="form-check">
                                            <input name="radiobtn" ng-checked="true" ng-model="useAmountRadio" value="1" class="form-check-input" type="radio" id="radio1" style=" width: 1.55rem; height: 1.55rem;" ng-init="false" />
                                            <label class="form-check-label" for="radio1" style=" padding-top: 4px; padding-left:10px; font-size:15px;">Send 0 or NULL amount with Abon</label>
                                        </div>
                                        <div class="form-check">
                                            <input name="radiobtn" ng-checked="false" ng-model="useAmountRadio" value="2" class="form-check-input" type="radio" id="radio2" style=" width: 1.55rem; height: 1.55rem;" ng-init="false" />
                                            <label class="form-check-label" for="radio1" style=" padding-top: 4px; padding-left:10px; font-size:15px;">Send exact amount with Abon</label>
                                        </div>
                                        <div class="form-check">
                                            <input name="radiobtn" ng-checked="false" ng-model="useAmountRadio" value="3" class="form-check-input" type="radio" id="radio3" style=" width: 1.55rem; height: 1.55rem;" ng-init="false" />
                                            <label class="form-check-label" for="radio2" style=" padding-top: 4px; padding-left:10px; font-size:15px;">Send maximum amount with Abon</label>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>