 <!--------------------------------------------------------------- CANCEL PAYOUT START ----------------------------------------------------------------------->
<h4>Cancel payout</h4>
<p>
    Method that’s used only in the withdrawal/payout flow. If partner decides (manually or automatically) that payout can not be done successfully for any reason, partner system needs to send cancellation request.
</p>
<i>Endpoints:</i>
<div class="table-responsive">
    <table class="table  table-active col-md-6">
        <thead>
            <tr>
                <th>Environment</th>
                <th>Method</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Test</b></td>
                <td>
                    POST
                </td>
                <td>https://stage-frame-api.aircash.eu/api/v2/cancelPayout</td>
            </tr>
            <tr>
                <td><b>Production</b></td>
                <td>
                    POST
                </td>
                <td>https://frame-api.aircash.eu/api/v2/cancelPayout</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<uib-tabset>
    <uib-tab index="request-tab-0" heading="Request parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>PartnerId</b></td>
                        <td>string</td>
                        <td>
                            Unique partner identifier provided by Aircash
                        </td>
                    </tr>
                    <tr>
                        <td><b>PartnerTransactionId</b></td>
                        <td>string</td>
                        <td>
                            Unique transaction id in partner’s system
                        </td>
                    </tr>
                    <tr>
                        <td><b>Signature</b></td>
                        <td>string</td>
                        <td>
                            A sequence that has been digitally signed with the provider's private signature, used for authentication
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="request-tab-1" heading="Request example" classes="nav-item">
        <jsonformatter data="aircashFrameV2.cancelPayout.requestExample"></jsonformatter>
    </uib-tab>
    <uib-tab index="request-tab-2" heading="Signature" classes="nav-item">
        <pre>
Request example:
</pre>
        <jsonformatter data="aircashFrameV2.cancelPayout.requestExample"></jsonformatter>
        <pre>

Sequence: 
PartnerId=5680e089-9e86-4105-b1a2-acd0cd77653c&PartnerTransactionId=aa17d623-e8c0-4e40-8a5a-bba7e0852455

Signature:
lpF2sp9RmJ9BXOlBhWUepvgHL2tE4GjBG1igf9dCnFQsSlJK/QhuJxidWqicMcjgBhO8Uqa6IHpHt48KCZvNFn2MNoM/+H/meUYzqRi+xXlXSMiGvS6Zy48riM0pFlvaiCxYbTu7ykDZfdMSS4NbE3eqVJucPGKokmWEPzM8xf4ozeezs+QcDiOXlFvjgl78i3V2Dfz0EQlN17bvc9jaMFl5CcD7bzdQEtfrKAhlci+MfAGimdWYMyT/WWnnuAjgkPog70z1/faB23xMpbyusgTGMC64wcge/gFeGOIJ/H/bvzHKZEWSZrnRgDncnuTWC6aiQX1tjs3WJ1Bi/Y/QpyIy+TgV8GSxBqqhmJFVNZxbXUlEsOSIRFuuNA/Np/Dcnc8ND8MEYIa69K+HiVCWHSaJDJgDxc/fPeQi6ng+iogro83lCR2lX3Zm0sgqGbiGFsGYiftEmfrk2xSec2VeGoyxMJ/G/g6JryTwLJ0BhxVZZ4bbF6GEJEhzPLGprwGEqQa3edCRNRawjQ3VG7Wwvp79Dc9qVzrFeZzeMJs/9PDVXr8l9/QMJDVAlaY/zsIbK/pcCXSMkUosyz4oLnq4URwlyTVZEe/21FrIz7ms6aO4bsRURtvGLR80VYdt72XmWFKO6fFQNlE+EdJN1nFzff5sk2YmLkK59oMjS760VEQ=
                </pre>
    </uib-tab>
    <uib-tab index="request-tab-3" heading="Response parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>AircashTransactionId</b></td>
                        <td>string</td>
                        <td>
                            Unique transaction id in the Aircash system
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <hr />
        <p class="ml-3">
            <b>*NOTE:</b> Parameters in the table are included in each response, but you need to support new parameters as well, although you may not use them. If Aircash adds a new parameter, your system needs to accept the response with additional parameter(s).
        </p>
    </uib-tab>
    <uib-tab index="request-tab-4" heading="200 OK response example" classes="nav-item">
        <jsonformatter data="aircashFrameV2.cancelPayout.responseExample"></jsonformatter>
    </uib-tab>
    <uib-tab index="request-tab-5" heading="Error response messages" classes="nav-item">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Http response</th>
                                <th>Description</th>
                                <th>Error Code</th>
                                <th>Message</th>
                                <th>Solution</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6"><b>400</b></td>
                                <td rowspan="6">An invalid request was made. The response will contain an error code, message and optionally additionalData.</td>
                                <td>1</td>
                                <td>Invalid signature or partner id.</td>
                                <td rowspan="6">
                                    Contact Aircash support
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Validation error.</td>
                            </tr>
                            <tr>
                                <td>1002</td>
                                <td>Transaction doesn't exist.</td>
                            </tr>
                            <tr>
                                <td>1008</td>
                                <td>Transaction already processed.</td>
                            </tr>
                            <tr>
                                <td>1009</td>
                                <td>Transaction cancellation not allowed. Wrong PayType/PayMethod or status not allowed.</td>
                            </tr>
                            <tr>
                                <td>4002</td>
                                <td>Cancel payout is not possible when transaction is not processed (status 0).</td>
                            </tr>
                            <tr>
                                <td><b>401</b></td>
                                <td>In case the partner sends an unknown partner ID or invalid signature Aircash system will return this response</td>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    Check the parameters that are being sent according to the Aircash system. If they are all according to documentation please contact Aircash support
                                </td>
                            </tr>
                            <tr>
                                <td><b>500</b></td>
                                <td>An unknown error occured</td>
                                <td>-</td>
                                <td>An error has occurred.</td>
                                <td>
                                    Contact Aircash support
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="request-tab-106" heading="Error response example" classes="nav-item">
        <uib-tabset class="row tabs-left">
            <uib-tab index="CancelError-tab-1" heading="1 - Invalid signature or partner id." classes="nav-item">
                <div class="row col-12">
                    <div class="col-sm-6 overflow-auto" ng-if="!(errorCancelResponded && currentCancelErrorCode == 1)">
                        Request
                        <jsonformatter data="errorExamples.CancelPayout.error1.request"></jsonformatter>

                        Sequence:
                        Amount=10&CurrencyId=978&PartnerId=8db69a48-7d61-48e7-9be8-3160549c7f17&PartnerTransactionId=0fea9fbc-939f-4010-88c2-44a6ef0ac9f4
                    </div>
                    <div class="col-sm-6" ng-if="!(errorCancelResponded && currentCancelErrorCode == 1)">
                        Response
                        <jsonformatter data="errorExamples.CancelPayout.error1.response"></jsonformatter>
                    </div>
                    <div class="col-sm-6 overflow-auto" ng-if="errorCancelResponded && currentCancelErrorCode == 1">
                        Request ({{errorCancelRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorCancelRequest"></jsonformatter>

                        Sequence: {{errorCancelSequence}}<br />

                    </div>
                    <div class="col-sm-6" ng-if="errorCancelResponded && currentCancelErrorCode == 1">
                        Response ({{errorCancelResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorCancelResponse"></jsonformatter>
                    </div>
                </div>
                <button class="btn btn-primary mt-2" ng-click="cancelPayoutSimulateError(1)" ng-disabled="errorCancelServiceBusy">Simulate <i ng-if="errorCancelServiceBusy" class="fa fa-cog fa-spin"></i></button>
                <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorCancelRequestCopy)" ng-if="errorCancelResponded && currentCancelErrorCode == 1">Copy Request</button>
            </uib-tab>
            <uib-tab index="CancelError-tab-2" heading="3 - Validation Error" classes="nav-item">
                Simulation not available.
            </uib-tab>
            <uib-tab index="CancelError-tab-3" heading="1002 - Transaction doesn't exist." classes="nav-item">
                Simulation not available.
            </uib-tab>
            <uib-tab index="CancelError-tab-4" heading="1008 - Transaction already processed." classes="nav-item">
                Simulation not available.
            </uib-tab>
            <uib-tab index="CancelError-tab-5" heading="1009 - Transaction cancellation not allowed. Wrong PayType/PayMethod or status not allowed." classes="nav-item">
                Simulation not available.
            </uib-tab>
            <uib-tab index="CancelError-tab-6" heading="4002 - Cancel payout is not possible when transaction is not processed (status 0)." classes="nav-item">
                Simulation not available.
            </uib-tab>
        </uib-tabset>
    </uib-tab>
    <uib-tab index="request-tab-104" heading="Try it out" classes="nav-item">
        <div class="row">
            <div class="col-md-4">
                <button ng-click="setDefaultInitiateModel()" class="btn btn-primary w-100px me-5px mb-3">Set default values</button>
                <br />
                <form action="/" method="POST" name="cancelForm">
                    <fieldset>
                        <div class="mb-3">
                            <label class="form-label" for="PartnerId">PartnerId</label>
                            <input ng-model="cancelModel.partnerId" type="text" class="form-control" ng-required="true" name="PartnerId">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="partnerTransactionId">Partner Transaction ID</label>
                            <input ng-model="cancelModel.transactionId" type="text" class="form-control" ng-required="true" name="partnerTransactionId">
                        </div>
                        <button class="btn btn-primary" ng-click="cancelPayout()" ng-disabled="cancelBusy || cancelForm.$invalid">Cancel payout<i ng-if="cancelBusy" class="fa fa-cog fa-spin"></i></button>
                    </fieldset>
                </form>
            </div>
            <br />
            <div ng-if="cancelResponded" class="col-md-4">
                Request ({{CancelRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="CancelServiceRequest"></jsonformatter>
                Sequence: {{sequenceCancel}}
            </div>
            <div ng-if="cancelResponded" class="col-md-4">
                Response ({{CancelResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="CancelServiceResponse"></jsonformatter>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="request-tab-8" heading="Curl" classes="nav-item">
        <div class="row">
            <div class="col-md-4">
                <button ng-click="setDefaultInitiateModel()" class="btn btn-primary w-100px me-5px mb-3">Set default values</button>
                <br />
                <form action="/" method="POST" name="statusForm">
                    <fieldset>
                        <div class="mb-3">
                            <label class="form-label" for="PartnerId">PartnerId</label>
                            <input ng-model="cancelModel.partnerId" type="text" class="form-control" ng-required="true" name="PartnerId">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="partnerTransactionId">Partner Transaction ID</label>
                            <input ng-model="cancelModel.transactionId" type="text" class="form-control" ng-required="true" name="partnerTransactionId">
                        </div>
                        <button class="btn btn-primary" ng-click="getCurlCancelPayout()" ng-disabled="curlCancelBusy || cancelForm.$invalid">Cancel payout<i ng-if="curlCancelBusy" class="fa fa-cog fa-spin"></i></button>
                    </fieldset>

                </form>
            </div>
            <br />
            <div ng-if="curlCancelResponded" class="col-md-8">
                <pre>
                <jsonformatter data="CurlCancelPayoutResponse"></jsonformatter>
                        </pre>
                <button class="btn btn-white mt-2" ng-click="copyToClipboard(CurlCancelPayoutResponse)">Copy</button>

            </div>
        </div>
    </uib-tab>
</uib-tabset>
<!--------------------------------------------------------------- CANCEL PAYOUT END ----------------------------------------------------------------------->
