<h1>Payout process</h1>
<br />
<p style="text-align:justify">
    This chapter describes the payment process. The described process explains how the user can transfer assets from the Partner system to the Aircash system.<br />
    The transfer process consists of three steps:
</p>
<ol>
    <li>
        Partner User Check (CheckUser)
        <ul>
            <li>
                The user within the partner system inputs the number of mobile phone he used while registering in the Aircash application
            </li>
            <li>
                Mobile phone is unique user identifier in Aircash system
            </li>
            <li>
                The partner system can use this method to verify whether the user with the specified number exists in the Aircash system
            </li>
            <li>
                The implementation of this method on a partner system is not mandatory, but is recommended by Aircash
            </li>
        </ul>
    </li>
    <li>
        Partner Confirm transaction (CreatePayout)
        <ul>
            <li>
                The user inputs transaction amount, along with phone number from step
            </li>
            <li>
                On the user confirmation to make a payment, the partner system reserves the user's funds in partner system from the account and the partner system makes request to the Aircash system
                <ol type="i">
                    <li>
                        in the case of a successful payment, partner should confirm transaction in the partner system
                    </li>
                    <li>
                        in the case of a known error from the Aircash system, the funds can be returned to the user's account with the appropriate message
                    </li>
                    <li>
                        In the case of an unknown error the partner system is obliged to leave the reserved funds until the problem is resolved
                    </li>
                </ol>
            </li>
            <li>
                In the case of successful execution of this method, the Aircash system provides funds to the user account with which it has
            </li>
        </ul>
    </li>
    <li>
        Partner Check Transaction Status (CheckTransactionStatus)
        <ul>
            <li>
                In the case of an unknown payment error, the error recovery can be automated by checking the transaction status in the Aircash system
            </li>
            <li>
                The implementation of this method is not necessary, but it is recommended.
            </li>
        </ul>
    </li>
</ol>

<hr />
<h1>Methods called by the partner system on Aircash system</h1>
<p style="text-align:justify">
    The partner should connect to REST methods that receive JSON objects in order to successfully make payments.
</p>
<h4>CheckUser</h4>
<p style="text-align:justify">
    The method used by partner system to verify whether the user has an active account in Aircash system.
</p>

<div class="table-responsive">
    <table class="table  table-active col-md-6">
        <thead>
            <tr>
                <th>Environment</th>
                <th>Method</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Test</b></td>
                <td>
                    POST
                </td>
                <td>https://staging-api.aircash.eu/api/PartnerV3/CheckUser</td>
            </tr>
            <tr>
                <td><b>Production</b></td>
                <td>
                    POST
                </td>
                <td>https://api.aircash.eu/api/PartnerV3/CheckUser</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<uib-tabset>
    <uib-tab index="checkUser1-tab-0" heading="Request parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Parameters</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Mandatory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>PartnerID</b></td>
                        <td>String</td>
                        <td>Partner identifier</td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td><b>PhoneNumber</b></td>
                        <td>String</td>
                        <td>
                            Phone number is unique identifier in Aircash system, and can uniquely define Aircash user. Phone number must be in MSISDN format. Eg. 3859812345678 (State Number 385, number of operators 98, number of users 1234567)
                        </td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td><b>PartnerUserID</b></td>
                        <td>String</td>
                        <td>
                            User identifier in the merchant system.
                        </td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td><b>Signature</b></td>
                        <td>String</td>
                        <td>
                            Signature generated by the partner system that will be verified by Aircash system before processing request.
                        </td>
                        <td>YES</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="checkUser1-tab-1" heading="Request example" classes="nav-item">
        <jsonformatter data="aircashPayout.checkUser.requestExample"></jsonformatter>
    </uib-tab>
    <uib-tab index="checkUser1-tab-2" heading="Signature" classes="nav-item">
<pre>
Request example:
</pre>
        <jsonformatter data="aircashPayout.checkUser.requestExample"></jsonformatter>
<pre>

Sequence:
PartnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&PartnerUserID=574f32a7-4ecb-48b2-9723-ac660b9c835d&PhoneNumber=385995712738

Signature:
VA514erV6V4ew7Pu0/ThKQ/KQhjjiD0+mK3ZUPiL2EZErctocj6aFClyEintOqpHjO7TYyFxSzwvS52Snu8F33glR6GW+yLEvqthW7b8dv4Xk8WfHUYb2EEANAADe7UL4a37UqO7mWJ3iRx7s9A3gJM6Xjc5aTr/s/7ms0ZAixgNQ/R2BEk0eUg6Y0JNOgyuE+fXk5M56RU+0MgUgbIQ+uWcK43ypBb16A7ibGqvvVBUgA4v3/GMHxdjJ4cImUgD5kIZrJgXsviX2jA3sQyyI9MlEBRf7IZ5WdXFrWSbqN7e2g+cODtYDdQEca4zCVaKAYhs5Mb9AWCv0kaJrWJxRfsBdiRZqACoaP0QRZdm+jz4cqk4ojXm/yL1Qz3y342zzhL4sgBBZNROYzjLjFkIGv4JbVr6KAlAnHl01FagBwQJ2KaVTBAv7hFK5oJ5wPn/Jpwyd6RxX/GzdTyKCqlKfrRlxxLtD7pfp71kb7vL5VMOOaTCXbK3lYWbYfIgku4A5DHAXPz8vjWTbpe51I+a+mZdgS7aPNNYGh1MnkFuYSgf6SgWsM4iha6VmGdopXK+4EeejCdqxrJAnkZDOXKd1btxXuqMUi/DSE8NhdcSMqSe6MDw07aEG7avqVSaLPNP6VN34pusD2BQtmZh+4BvWjueWKTE061V+LyCemB6Qdg=     
        </pre>
    </uib-tab>
    <uib-tab index="checkUser1-tab-3" heading="Response parameters" classes="nav-item">
        <div class="row">
            <div class="col-md-4">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Parameters</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Status</b></td>
                                <td>Int</td>
                                <td>
                                    1 - an unknown phone number<br />
                                    3 - there is a user, it is possible to make a payment
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="checkUser1-tab-4" heading="200 OK Response example" classes="nav-item">
        <jsonformatter data="aircashPayout.checkUser.responseExample"></jsonformatter>
    </uib-tab>
    <uib-tab index="checkUser1-tab-5" heading="Error response messages" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Http response</th>
                        <th>Description</th>
                        <th>Error Code</th>
                        <th>Message</th>
                        <th>Aditional data</th>
                        <th>Solution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>400</b></td>
                        <td>An invalid request was made.</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Contact Aircash support</td>
                    </tr>
                    <tr>
                        <td><b>401</b></td>
                        <td>In case the partner sends an unknown partner ID or invalid signature Aircash system will return this response</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            Check the parameters that are being sent according to the Aircash system. If they are all according to documentation please contact Aircash support
                        </td>
                    </tr>
                    <tr>
                        <td><b>500</b></td>
                        <td>An unknown error occured</td>
                        <td>-</td>
                        <td>Unknown error has occurred</td>
                        <td>-</td>
                        <td>
                            Contact Aircash support
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="CheckTransactionStatus-tab-6" heading="Error response example" classes="nav-item">
        <jsonformatter data="aircashPayout.checkUser.errorResponseExample"></jsonformatter>
    </uib-tab>
    <uib-tab index="checkUser1-tab-7" heading="Try it out" classes="nav-item">
        <div class="row">
            <div class="col-md-4">
                <form action="/" method="POST" name="transactionForm0">
                    <fieldset>
                        <div class="mb-3">
                            <label class="form-label">Phone number</label>
                            <input ng-model="checkUserModel.phoneNumber" class="form-control" type="text" placeholder="Enter phone number" ng-disabled="checkUserServiceBusy" ng-required="true">
                        </div>
                        <button ng-click="checkUser()" class="btn btn-primary w-100px me-5px" ng-disabled="checkUserServiceBusy|| transactionForm0.$invalid">Check user <i ng-if="checkUserServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-0.5"></div>
            <div class="col-md-4" ng-if="checkUserServiceResponse">
                Request ({{checkUserRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="checkUserRequest"></jsonformatter>
                Sequence: {{checkUserSequence}}<br />
            </div>
            <div class="col-md-3" ng-if="checkUserServiceResponse">
                Response ({{checkUserResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="checkUserResponse"></jsonformatter>
            </div>
        </div>
    </uib-tab>
</uib-tabset>

<h4>CreatePayout</h4>
<p style="text-align:justify">
    The method used by partner system to create transaction in Aircash system. On each successful request Aircash system will deposit funds on user account. In case Aircash system returns error to the partner system, partner system should:
    <ul>
        <li>
            in case of known error, the partner system should return money to the user account and display corresponding message to the user
        </li>
        <li>
            in case of unknown error, the partner system should, reserve funds until issue is resolved. Issue can be resolved:
            <ol type="i">
                <li>Manually by the partner support</li>
                <li>Automatically, by using CheckTransactionStatus method in Aircash system</li>
            </ol>
        </li>
    </ul>
</p>

<div class="table-responsive">
    <table class="table table-active col-md-6">
        <thead>
            <tr>
                <th>Environment</th>
                <th>Method</th>
                <th>URL</th>
            </tr>
        <thead>
        <tbody>
            <tr>
                <td><b>Test</b></td>
                <td>
                    POST
                </td>
                <td>https://staging-api.aircash.eu/api/PartnerV3/CreatePayout</td>
            </tr>
            <tr>
                <td><b>Production</b></td>
                <td>
                    POST
                </td>
                <td>https://api.aircash.eu/api/PartnerV3/CreatePayout</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<uib-tabset>
    <uib-tab index="createPayout1-tab-0" heading="Request parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><b>Parameters</b></th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Mandatory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>PartnerID</b></td>
                        <td>String</td>
                        <td>Partner identifier</td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td><b>PartnerTransactionID</b></td>
                        <td>String</td>
                        <td>
                            Transaction ID in the partner system
                        </td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td><b>Amount</b></td>
                        <td>Decimal</td>
                        <td>
                            Transaction amount
                        </td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td><b>PhoneNumber</b></td>
                        <td>String</td>
                        <td>
                            Phone number is unique identifier in Aircash system, and can uniquely define Aircash user. Phone number must be in MSISDN format. Eg. 3859812345678 (State Number 385, number of operators 98, number of users 1234567)
                        </td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td><b>PartnerUserID</b></td>
                        <td>String</td>
                        <td>
                            User identifier in the merchant system.
                        </td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td><b>CurrencyID</b></td>
                        <td>Int</td>
                        <td>
                            ISO 4217 code of the currency the payout will be made in
                        </td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td><b>Signature</b></td>
                        <td>String</td>
                        <td>
                            Signature generated by the partner system that will be verified by Aircash system before processing request.
                        </td>
                        <td>YES</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="createPayout1-tab-1" heading="Request example" classes="nav-item">
        <jsonformatter data="aircashPayout.createPayout.requestExample"></jsonformatter>
    </uib-tab>
    <uib-tab index="createPayout1-tab-2" heading="Signature" classes="nav-item">
<pre>
Request example:
</pre>
        <jsonformatter data="aircashPayout.createPayout.requestExample"></jsonformatter>
<pre>
        
Sequence:
Amount=100&CurrencyID=191&PartnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&PartnerTransactionID=45c38393-274b-4761-902e-23db30736563&PartnerUserID=574f32a7-4ecb-48b2-9723-ac660b9c835d&PhoneNumber=385995712738

Signature:
Hm38lRCyOPDEN8z+8bqWUAOxUhfbqYGYSW8/OWhGctphojxlnFxbz/SdHE6yblYz0f8GCyozKG2Gy9QAYS3pFuVPmiICaZiHOAZwNVrOA7MTaZQswFL7STLvm3OPnAgIZ8jDrE8LOuud4VThBef7CEOPuQioKl0tP9eEa107tRU7VQ6Wgn8aN0jsW87xFyMq82xt2amXBLjrvc6KMEvQkPW1DSwnhZPJdSt3o/xo5rNXkwo1vMcG7hrK8wultESJ23yDyPag9TI3VDgN6OUrXw9WdzlRewmyXicTC0airw5ZNsk2Yq5Drgy41/o8eygSHr6FM1szfIcCdjByHSNDT71TwVvB0WpWUa59upXaja55/qYwoszBwFNKlERgtINgjTRuU6nBxSHTXMk1+Nm3JD8+kWmPsdRk65m70XE3uJwVYQdCzbUi46e5BCC0U6k3V2jrbAFUCUP5W83jJB/u6j1sGZO0GQEYmFbdqeCNuDy9DWg6vVJoeejBO1SYcSaojRySTrcfGGcFgl8VBNj9pBn7n2zy5YZirzamvljhVYexjSvy7w9gsQsxFfprS9uiyJ4Jzq/fIdsiq8R29kyerPzkJJWQzUHLGgByPXP/YcaFLq5hvvTBSUarjJ96tGtUCOUygxvgW0aiqtfnIS67AKqSN2/OwXFWPdVoibGM50c=        </pre>
    </uib-tab>
    <uib-tab index="createPayout1-tab-3" heading="Response parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Parameters</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Mandatory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>AircashTransactionID</b></td>
                        <td>String</td>
                        <td>
                            Transaction ID in the Aircash system. It is returned only in case of successful payment
                        </td>
                        <td>YES</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="createPayout1-tab-4" heading="200 OK Response example" classes="nav-item">
        <jsonformatter data="aircashPayout.createPayout.responseExample"></jsonformatter>
    </uib-tab>
    <uib-tab index="createPayout1-tab-5" heading="Error response messages" classes="nav-item">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Http response</th>
                                <th>Description</th>
                                <th>Error Code</th>
                                <th>Message</th>
                                <th>Aditional data</th>
                                <th>Solution</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6"><b>400</b></td>
                                <td rowspan="6">An invalid request was made. The response will contain an error code, message and optionally additionalData.</td>
                                <td>4000</td>
                                <td>Unknown phone number</td>
                                <td>-</td>
                                <td rowspan="6">
                                    Contact Aircash support
                                </td>
                            </tr>
                            <tr>
                                <td>4002</td>
                                <td>PartnerTransactionID already exists</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>4003</td>
                                <td>Amount too small</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>4004</td>
                                <td>Amount too big</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>4005</td>
                                <td>User reached transaction limit or user is blocked</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>4006</td>
                                <td>Currencies do not match</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><b>401</b></td>
                                <td>In case the partner sends an unknown partner ID or invalid signature Aircash system will return this response</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    Check the parameters that are being sent according to the Aircash system. If they are all according to documentation please contact Aircash support
                                </td>
                            </tr>
                            <tr>
                                <td><b>500</b></td>
                                <td>An unknown error occured</td>
                                <td>-</td>
                                <td>An error has occurred.</td>
                                <td>-</td>
                                <td>
                                    Contact Aircash support
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="createPayout1-tab-6" heading="Error response example" classes="nav-item">
        <uib-tabset class="row tabs-left">
            <uib-tab index="createPayoutError-tab-0" heading="4000 - Unknown phone number" classes="nav-item">
                <div class="row col-12">
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4000)">
                        Request
                        <jsonformatter data="errorExamples.createPayout.error4000.request"></jsonformatter>

                        Sequence:
                        Amount=25&CurrencyID=978&PartnerID=0a13af2f-9d8e-4afd-b3e0-8f4c24095cd6&PartnerTransactionID=b14643f4-1458-44a2-aa98-45c9bc3578f9&PartnerUserID=7b50c438-0260-4364-b5ee-2ba1036e2485&PhoneNumber=524838804872
                    </div>
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4000)">
                        Response
                        <jsonformatter data="errorExamples.createPayout.error4000.response"></jsonformatter>
                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4000">
                        Request ({{errorPayoutRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutRequest"></jsonformatter>

                        Sequence: {{errorPayoutSequence}}<br />

                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4000">
                        Response ({{errorPayoutResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutResponse"></jsonformatter>
                    </div>
                </div>
                <button class="btn btn-primary mt-2" ng-click="simulatePayoutError(4000)" ng-disabled="errorServiceBusy">Simulate <i ng-if="errorServiceBusy" class="fa fa-cog fa-spin"></i></button>
                <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorPayoutRequestCopy)" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4000">Copy Request</button><button class="btn btn-white mt-2" ng-click="copyToClipboard(errorPayoutRequestCopy)" ng-if="errorPayoutResponded && currentPayoutErrorCode == 1">Copy Request</button>
            </uib-tab>
            <uib-tab index="createPayoutError-tab-1" heading="4002 - Partner Transaction ID already exists" classes="nav-item">
                <div class="row col-12">
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4002)">
                        Request
                        <jsonformatter data="errorExamples.createPayout.error4002.request"></jsonformatter>

                        Sequence:
                        Amount=25&CurrencyID=978&PartnerID=0a13af2f-9d8e-4afd-b3e0-8f4c24095cd6&PartnerTransactionID=c456eee8-ccaa-4c10-b6e9-7f8c9ca3d2d8&PartnerUserID=44aa69e2-a732-4d9c-b016-70b0b9fee532&PhoneNumber=385992500001
                    </div>
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4002)">
                        Response
                        <jsonformatter data="errorExamples.createPayout.error4002.response"></jsonformatter>
                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4002">
                        Request ({{errorPayoutRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutRequest"></jsonformatter>

                        Sequence: {{errorPayoutSequence}}<br />

                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4002">
                        Response ({{errorPayoutResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutResponse"></jsonformatter>
                    </div>
                </div>
                <button class="btn btn-primary mt-2" ng-click="simulatePayoutError(4002)" ng-disabled="errorServiceBusy">Simulate <i ng-if="errorServiceBusy" class="fa fa-cog fa-spin"></i></button>
                <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorPayoutRequestCopy)" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4002">Copy Request</button>

            </uib-tab>
            <uib-tab index="createPayoutError-tab-2" heading="4003 - Amount too small" classes="nav-item">
                <div class="row col-12">
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4003)">
                        Request
                        <jsonformatter data="errorExamples.createPayout.error4003.request"></jsonformatter>

                        Sequence:
                        Amount=0.5&CurrencyID=978&PartnerID=0a13af2f-9d8e-4afd-b3e0-8f4c24095cd6&PartnerTransactionID=caed783c-6489-4101-b2f0-f9d71d330548&PartnerUserID=1b678be1-1e76-4f0a-98ba-01aa2f9c4572&PhoneNumber=385992500001
                    </div>
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4003)">
                        Response
                        <jsonformatter data="errorExamples.createPayout.error4003.response"></jsonformatter>
                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4003">
                        Request ({{errorPayoutRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutRequest"></jsonformatter>

                        Sequence: {{errorPayoutSequence}}<br />

                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4003">
                        Response ({{errorPayoutResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutResponse"></jsonformatter>
                    </div>
                </div>
                <button class="btn btn-primary mt-2" ng-click="simulatePayoutError(4003)" ng-disabled="errorServiceBusy">Simulate <i ng-if="errorServiceBusy" class="fa fa-cog fa-spin"></i></button>
                <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorPayoutRequestCopy)" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4003">Copy Request</button>
            </uib-tab>
            <uib-tab index="createPayoutError-tab-3" heading="4004 - Amount too big" classes="nav-item">
                <div class="row col-12">
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4004)">
                        Request
                        <jsonformatter data="errorExamples.createPayout.error4004.request"></jsonformatter>

                        Sequence:
                        Amount=1100&CurrencyID=978&PartnerID=0a13af2f-9d8e-4afd-b3e0-8f4c24095cd6&PartnerTransactionID=a7f9d376-9b48-481b-a945-2f9c039c0435&PartnerUserID=66459117-bcae-4edb-a7c4-e4aa68ecec49&PhoneNumber=385992500001
                    </div>
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4004)">
                        Response
                        <jsonformatter data="errorExamples.createPayout.error4004.response"></jsonformatter>
                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4004">
                        Request ({{errorPayoutRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutRequest"></jsonformatter>

                        Sequence: {{errorPayoutSequence}}<br />

                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4004">
                        Response ({{errorPayoutResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutResponse"></jsonformatter>
                    </div>
                </div>
                <button class="btn btn-primary mt-2" ng-click="simulatePayoutError(4004)" ng-disabled="errorServiceBusy">Simulate <i ng-if="errorServiceBusy" class="fa fa-cog fa-spin"></i></button>
                <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorPayoutRequestCopy)" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4004">Copy Request</button>
            </uib-tab>
            <uib-tab index="createPayoutError-tab-4" heading="4005 - User reached transaction limit or user is blocked" classes="nav-item">
                <div class="row col-12">
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4005)">
                        Request
                        <jsonformatter data="errorExamples.createPayout.error4005.request"></jsonformatter>

                        Sequence:
                        Amount=25&CurrencyID=978&PartnerID=0a13af2f-9d8e-4afd-b3e0-8f4c24095cd6&PartnerTransactionID=e73dd1e2-c3fe-4942-9d81-510bc63cf2e5&PartnerUserID=6d091d23-c1d0-4637-b26a-186c1237fa0d&PhoneNumber=385992500002
                    </div>
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4005)">
                        Response
                        <jsonformatter data="errorExamples.createPayout.error4005.response"></jsonformatter>
                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4005">
                        Request ({{errorPayoutRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutRequest"></jsonformatter>

                        Sequence: {{errorPayoutSequence}}<br />

                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4005">
                        Response ({{errorPayoutResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutResponse"></jsonformatter>
                    </div>
                </div>
                <button class="btn btn-primary mt-2" ng-click="simulatePayoutError(4005)" ng-disabled="errorServiceBusy">Simulate <i ng-if="errorServiceBusy" class="fa fa-cog fa-spin"></i></button>
                <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorPayoutRequestCopy)" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4005">Copy Request</button>

            </uib-tab>
            <uib-tab index="createPayoutError-tab-5" heading="4006 - Currencies do not match" classes="nav-item">
                <div class="row col-12">
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4006)">
                        Request
                        <jsonformatter data="errorExamples.createPayout.error4006.request"></jsonformatter>

                        Sequence:
                        Amount=25&CurrencyID=191&PartnerID=0a13af2f-9d8e-4afd-b3e0-8f4c24095cd6&PartnerTransactionID=5c7242ab-05cf-4188-9f0c-f00971c38c12&PartnerUserID=f8a95979-d6ab-4583-9bbd-a43d0ccb7e66&PhoneNumber=385992500001
                    </div>
                    <div class="col-6" ng-if="!(errorPayoutResponded && currentPayoutErrorCode == 4006)">
                        Response
                        <jsonformatter data="errorExamples.createPayout.error4006.response"></jsonformatter>
                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4006">
                        Request ({{errorPayoutRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutRequest"></jsonformatter>

                        Sequence: {{errorPayoutSequence}}<br />

                    </div>
                    <div class="col-6" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4006">
                        Response ({{errorPayoutResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="errorPayoutResponse"></jsonformatter>
                    </div>
                </div>
                <button class="btn btn-primary mt-2" ng-click="simulatePayoutError(4006)" ng-disabled="errorServiceBusy">Simulate <i ng-if="errorServiceBusy" class="fa fa-cog fa-spin"></i></button>
                <button class="btn btn-white mt-2" ng-click="copyToClipboard(errorPayoutRequestCopy)" ng-if="errorPayoutResponded && currentPayoutErrorCode == 4006">Copy Request</button>
            </uib-tab>
        </uib-tabset>
    </uib-tab>
    <uib-tab index="createPayout1-tab-7" heading="Try it out" classes="nav-item">
        <div class="row">
            <div class="col-md-4">
                <form action="/" method="POST" name="transactionForm1">
                    <fieldset>
                        <div class="mb-3">
                            <label class="form-label">Phone number</label>
                            <input ng-model="createPayoutModel.phoneNumber" class="form-control" type="text" placeholder="Enter phone number" ng-disabled="createPayoutServiceBusy" ng-required="true">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Amount</label>
                            <input ng-model="createPayoutModel.amount" class="form-control" type="text" placeholder="Enter amount" ng-disabled="createPayoutServiceBusy" ng-required="true">
                        </div>
                        <button ng-click="createPayout()" class="btn btn-primary w-100px me-5px" ng-disabled="createPayoutServiceBusy || transactionForm1.$invalid">Create payout <i ng-if="createPayoutServiceBusy" class="fa fa-cog fa-spin"></i></button>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-0.5"></div>
            <div class="col-md-4" ng-if="createPayoutServiceResponse">
                Request ({{createPayoutRequestDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="createPayoutRequest"></jsonformatter>
                Sequence: {{createPayoutSequence}}<br />
            </div>
            <div class="col-md-3" ng-if="createPayoutServiceResponse">
                Response ({{createPayoutResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="createPayoutResponse"></jsonformatter>
            </div>
        </div>
    </uib-tab>
</uib-tabset>

<h4>CheckTransactionStatus</h4>
<p style="text-align:justify">
    The method used by partner system to check individual transaction status in Aircash system. Aircash recommend using CheckTransactionStatus method in cases when an unknown error occurs on CreatePayout method. With CheckTransactionStatus, the partner system will be able to automatically resolve all unknown errors from Aircash system<br />
</p>

<div class="table-responsive">
    <table class="table  table-active col-md-6">
        <thead>
            <tr>
                <th>Environment</th>
                <th>Method</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Test</b></td>
                <td>
                    POST
                </td>
                <td>https://staging-api.aircash.eu/api/PartnerV2/CheckTransactionStatus</td>
            </tr>
            <tr>
                <td><b>Production</b></td>
                <td>
                    POST
                </td>
                <td>https://api.aircash.eu/api/PartnerV2/CheckTransactionStatus</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<uib-tabset>
    <uib-tab index="CheckTransactionStatus-tab-0" heading="Request parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Parameters</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Mandatory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>PartnerID</b></td>
                        <td>String</td>
                        <td>Partner identifier</td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td><b>PartnerTransactionID</b></td>
                        <td>String</td>
                        <td>
                            Transaction ID in the partner system
                        </td>
                        <td>
                            YES, in case AircashTransactionID wasn't sent
                        </td>
                    </tr>
                    <tr>
                        <td><b>AircashTransactionID</b></td>
                        <td>String</td>
                        <td>
                            Transaction ID from Aircash system.
                        </td>
                        <td>
                            YES, in case PartnerTransactionID wasn't sent
                        </td>
                    </tr>
                    <tr>
                        <td><b>Signature</b></td>
                        <td>String</td>
                        <td>
                            Signature generated by the partner system that will be verified by Aircash system before processing request.
                        </td>
                        <td>YES</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="CheckTransactionStatus-tab-1" heading="Request example" classes="nav-item">
        <jsonformatter data="aircashPayout.checkTransactionStatus.requestExample"></jsonformatter>
    </uib-tab>
    <uib-tab index="createPayout1-tab-2" heading="Signature" classes="nav-item">
<pre>
Request example:
</pre>
        <jsonformatter data="aircashPayout.checkTransactionStatus.requestExample"></jsonformatter>
<pre>

Sequence:
AircashTransactionID=&PartnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&PartnerTransactionID=45c38393-274b-4761-902e-23db30736563

Signature:
BBjas91N8Br79SsxRyZrGu3toCa0ji7VrY52Px6t3TWposfCh8m95Slb35Z8A6m6krOeC8zS7EkdbkIHJAicIKVM4WK59hnNk+HCQ9X/xzeDyDK8DD7s9Md1AKiKY6AMNIig+X5vygtnAxVkda4Zyvh9gspJXOzap6RppervGNbzGXhynWpiybHzmkUnhCt0oeq3kONgZdkwwr8GjDhp7vRPGW4Hp12akGb7XQ1m+dqzsESzO2rtuQPHz0yoYrr75ckQguLAuh983uez1LcMQ75Pl/R6liPjuAddtELBtsjZikYf1Yy5wMpc01VCWgKd1vsbZ6AQsUybdbqURJlTYguS/g8rAxlB+x0HZ9eopoePhuEX117VI1KHIPeob3hraGMF2hHCih5wzCiEpS7Otye7gh41bgAjh6QfqNnIlXsnwZJwJMJcAmmHvW7aWH1JJ4G3WVyLGuF1GRkcWY30yuDW0L3GbBe1gJN0obuanlZTuI5VoWpyzS7VWbz7vvj/yZgYdZWBhvml5rccbEiZzJ+7hHcGK4DzTP94kbRyh+TSnLi/k69GSYX2lFFHwPYXJ2gpbUmhBpeP/PJD8oZ+yu3xWBsYah8Hol5yeFBErqkP/fNAQHXy5zu+dp6KXic4yl9TJSZ8eR5SOMRaVbtcuIokorHUVF8Q4FXKrmr5dKU=
</pre>
    </uib-tab>
    <uib-tab index="CheckTransactionStatus-tab-3" heading="Response parameters" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Parameters</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Status</b></td>
                        <td>Int</td>
                        <td>
                            2 - The transaction exist in Aircash system<br />
                            0 - The transaction doesn’t exist in Aircash system
                            and the partner can cancel the transaction in the
                            partner system

                        </td>
                    </tr>
                    <tr>
                        <td><b>AircashTransactionID</b></td>
                        <td>String</td>
                        <td>
                            Transaction ID in the Aircash system. It is returned only in case of successful payment (all statuses except status 0)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="CheckTransactionStatus-tab-4" heading="200 OK Response example" classes="nav-item">
        <jsonformatter data="aircashPayout.checkTransactionStatus.responseExample"></jsonformatter>
    </uib-tab>
    <uib-tab index="CheckTransactionStatus-tab-5" heading="Error response messages" classes="nav-item">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Http response</th>
                        <th>Description</th>
                        <th>Error Code</th>
                        <th>Message</th>
                        <th>Aditional data</th>
                        <th>Solution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>400</b></td>
                        <td>An invalid request was made.</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            Contact Aircash support
                        </td>
                    </tr>
                    <tr>
                        <td><b>401</b></td>
                        <td>In case the partner sends an unknown partner ID or invalid signature Aircash system will return this response</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            Check the parameters that are being sent according to the Aircash system. If they are all according to documentation please contact Aircash support
                        </td>
                    </tr>
                    <tr>
                        <td><b>500</b></td>
                        <td>An unknown error occured</td>
                        <td>-</td>
                        <td>An error has occurred.</td>
                        <td>-</td>
                        <td>
                            Contact Aircash support
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>
    <uib-tab index="CheckTransactionStatus-tab-6" heading="Error response example" classes="nav-item">
        <jsonformatter data="aircashPayout.checkTransactionStatus.errorResponseExample"></jsonformatter>
    </uib-tab>
    <uib-tab index="CheckTransactionStatus-tab-7" heading="Try it out" classes="nav-item">
        <div class="row">
            <div class="col-md-4">
                <br />
                <p>Recent transactions:</p>
                <div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Transaction ID</th>
                                    <th>Amount</th>
                                    <th>Check</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="totalLoaded == 0 && !busy">
                                    <td colspan="12" align="center">
                                        <i>No data</i>
                                    </td>
                                </tr>
                                <tr ng-repeat="transaction in transactions">
                                    <td>{{$index + 1}}.</td>
                                    <td>{{transaction.transactionId}}</td>
                                    <td>{{transaction.amount | number:2}}</td>
                                    <td style="text-align: center; vertical-align: inherit">
                                        <button class="btn btn-primary fa fa-check" ng-click="checkTransactionStatus(transaction.transactionId)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <load-more total-loaded="totalLoaded" out="loadMore"></load-more>
                </div>
            </div>
            <div class="col-md-0.5"></div>
            <div class="col-md-4" ng-if="checkTransactionStatusServiceResponse">
                Request ({{checkTransactionStatusRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="checkTransactionStatusRequest"></jsonformatter>
                Sequence: {{checkTransactionStatusSequence}}<br />
            </div>
            <div class="col-md-3" ng-if="checkTransactionStatusServiceResponse">
                Response ({{checkTransactionStatusResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                <jsonformatter data="checkTransactionStatusResponse"></jsonformatter>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
<hr />

<h1>Production process</h1>
<p>
    The production process consists of several steps:
    <ol>
        <li>All acceptance criteria are checked and are performing in line with expectations</li>
        <li>
            Aircash support will add partner in Aircash production system and allow access to Aircash production system from the partner IP addresses
        </li>
        <li>
            The partner will test connection to production and allow payments for individual users (if possible) in order to test integration in “silent” production
        </li>
        <li>
            After the first 3 steps are in line with expectations, the partner will enable service for all user
        </li>
    </ol>
</p>

<h2>Acceptance criteria</h2>
<p>
    To release the production service, several tests should be made to check if the integration is done correctly and it is ready for production.
</p>

<div class="table-responsive">
    <table class="table table-active">
        <thead>
            <tr>
                <th>Scenario</th>
                <th>Test description</th>
                <th>Mandatory</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>CheckUser</b></td>
                <td>
                    The Check User user method returns a successful check and allows the user to make a payment
                </td>
                <td>
                    YES, in case partner use this method
                </td>
            </tr>
            <tr>
                <td><b>CheckUser - error</b></td>
                <td>
                    An appropriate message is printed to the user
                </td>
                <td>
                    YES, in case partner use this method
                </td>
            </tr>
            <tr>
                <td><b>CreatePayout</b></td>
                <td>
                    The partner system should take funds from the user. The user should receive funds in Aircash application.
                </td>
                <td>
                    YES
                </td>
            </tr>
            <tr>
                <td><b>CreatePayout - user doesn't exist with requested data</b></td>
                <td>
                    An appropriate message is printed to the user
                </td>
                <td>
                    YES
                </td>
            </tr>
            <tr>
                <td><b>CreatePayout - disable a user to exceed max transaction amount</b></td>
                <td>
                    There is no need to call the method but only to disable user to make a call with a smaller or larger amount of the transaction
                </td>
                <td>
                    YES
            </tr>
            <tr>
                <td><b>CheckTransactionStatus</b></td>
                <td>
                    Check transaction status
                </td>
                <td>
                    YES, in case partner use this method
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr />

<br />
<h2>Aircash App withdrawal</h2>
<div class="row">
    <div class="text-center ml-5 mt-2">
        <h5 style="width: 230px;">1. Partner withdrawal screen</h5>
        <img style="width: 180px; height: 350px;" src="../../images/partner_withdrawal_screen_ac_payout.png" />
    </div>
    <div class="text-center ml-5 mt-2">
        <h5 style="width: 230px;">
            2. Enter phone number
        </h5>
        <img style="width: 180px; height: 350px;" src="../../images/enter_phone_number_ac_payout.png" />
    </div>
    <div class="text-center ml-5 mt-2">
        <h5 style="width: 230px;">3. Confirm withdrawal</h5>
        <img style="width: 180px; height: 350px;" src="../../images/confirm_withdrawal_ac_payout.png" />
    </div>
    <div class="text-center ml-5 mt-2">
        <h5 style="width: 230px;">4. Withdrawal successful </h5>
        <img style="width: 180px; height: 350px;" src="../../images/withdrawal_successful_ac_payout.png" />
    </div>
</div>

