<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="row">
        <h4 class="col-auto">CheckUser</h4>
        <div class="dropdown col-auto">
            <select class="form-control" ng-model="select.CheckUserVersion" ng-init="select.CheckUserVersion = '3'">
                <option value="3" selected>V3</option>
                <option value="4">V4</option>
            </select>
        </div>
        <div class="col">
        </div>
    </div>
    <p style="text-align:justify">
        The method used by partner system to verify whether the user has an active account in Aircash system.
    </p>

    <div ng-if="select.CheckUserVersion == 3">
        <div class="table-responsive">
            <table class="table  table-active col-md-6">
                <thead>
                    <tr>
                        <th>Environment</th>
                        <th>Method</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Test</b></td>
                        <td>
                            POST
                        </td>
                        <td>https://staging-api.aircash.eu/api/PartnerV3/CheckUser</td>
                    </tr>
                    <tr>
                        <td><b>Production</b></td>
                        <td>
                            POST
                        </td>
                        <td>https://api.aircash.eu/api/PartnerV3/CheckUser</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <uib-tabset>
            <uib-tab index="checkUser1-tab-0" heading="Request parameters" classes="nav-item">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Parameters</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Mandatory</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>PartnerID</b></td>
                                <td>String</td>
                                <td>Partner identifier</td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td><b>PhoneNumber</b></td>
                                <td>String</td>
                                <td>
                                    Phone number is unique identifier in Aircash system, and can uniquely define Aircash user. Phone number must be in MSISDN format. Eg. 3859812345678 (State Number 385, number of operators 98, number of users 1234567)
                                </td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td><b>PartnerUserID</b></td>
                                <td>String</td>
                                <td>
                                    User identifier in the merchant system.
                                </td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td><b>Signature</b></td>
                                <td>String</td>
                                <td>
                                    Signature generated by the partner system that will be verified by Aircash system before processing request.
                                </td>
                                <td>YES</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="checkUser1-tab-1" heading="Request example" classes="nav-item">
                <jsonformatter data="aircashPayout.checkUser.requestExample"></jsonformatter>
            </uib-tab>
            <uib-tab index="checkUser1-tab-2" heading="Signature" classes="nav-item">
<pre>
Request example:
</pre>
                <jsonformatter data="aircashPayout.checkUser.requestExample"></jsonformatter>
<pre>

Sequence:
PartnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&PartnerUserID=574f32a7-4ecb-48b2-9723-ac660b9c835d&PhoneNumber=385995712738

Signature:
VA514erV6V4ew7Pu0/ThKQ/KQhjjiD0+mK3ZUPiL2EZErctocj6aFClyEintOqpHjO7TYyFxSzwvS52Snu8F33glR6GW+yLEvqthW7b8dv4Xk8WfHUYb2EEANAADe7UL4a37UqO7mWJ3iRx7s9A3gJM6Xjc5aTr/s/7ms0ZAixgNQ/R2BEk0eUg6Y0JNOgyuE+fXk5M56RU+0MgUgbIQ+uWcK43ypBb16A7ibGqvvVBUgA4v3/GMHxdjJ4cImUgD5kIZrJgXsviX2jA3sQyyI9MlEBRf7IZ5WdXFrWSbqN7e2g+cODtYDdQEca4zCVaKAYhs5Mb9AWCv0kaJrWJxRfsBdiRZqACoaP0QRZdm+jz4cqk4ojXm/yL1Qz3y342zzhL4sgBBZNROYzjLjFkIGv4JbVr6KAlAnHl01FagBwQJ2KaVTBAv7hFK5oJ5wPn/Jpwyd6RxX/GzdTyKCqlKfrRlxxLtD7pfp71kb7vL5VMOOaTCXbK3lYWbYfIgku4A5DHAXPz8vjWTbpe51I+a+mZdgS7aPNNYGh1MnkFuYSgf6SgWsM4iha6VmGdopXK+4EeejCdqxrJAnkZDOXKd1btxXuqMUi/DSE8NhdcSMqSe6MDw07aEG7avqVSaLPNP6VN34pusD2BQtmZh+4BvWjueWKTE061V+LyCemB6Qdg=     
        </pre>
            </uib-tab>
            <uib-tab index="checkUser1-tab-3" heading="Response parameters" classes="nav-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Parameters</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>Status</b></td>
                                        <td>Int</td>
                                        <td>
                                            1 - an unknown phone number<br />
                                            3 - there is a user, it is possible to make a payment
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="checkUser1-tab-4" heading="200 OK Response example" classes="nav-item">
                <jsonformatter data="aircashPayout.checkUser.responseExample"></jsonformatter>
            </uib-tab>
            <uib-tab index="checkUser1-tab-5" heading="Error response messages" classes="nav-item">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Http response</th>
                                <th>Description</th>
                                <th>Error Code</th>
                                <th>Message</th>
                                <th>Aditional data</th>
                                <th>Solution</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>400</b></td>
                                <td>An invalid request was made.</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>Contact Aircash support</td>
                            </tr>
                            <tr>
                                <td><b>401</b></td>
                                <td>In case the partner sends an unknown partner ID or invalid signature Aircash system will return this response</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>
                                    Check the parameters that are being sent according to the Aircash system. If they are all according to documentation please contact Aircash support
                                </td>
                            </tr>
                            <tr>
                                <td><b>500</b></td>
                                <td>An unknown error occured</td>
                                <td>-</td>
                                <td>Unknown error has occurred</td>
                                <td>-</td>
                                <td>
                                    Contact Aircash support
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="CheckTransactionStatus-tab-6" heading="Error response example" classes="nav-item">
                <jsonformatter data="aircashPayout.checkUser.errorResponseExample"></jsonformatter>
            </uib-tab>
            <uib-tab index="checkUser1-tab-7" heading="Try it out" classes="nav-item">
                <div class="row">
                    <div class="col-md-4">
                        <button ng-click="setDefaults()" class="btn btn-primary w-100px me-5px mb-3">Set default values</button>
                        <form action="/" method="POST" name="transactionForm0">
                            <fieldset>
                                <div class="mb-3">
                                    <label class="form-label">PartnerId</label>
                                    <input ng-model="checkUserModel.partnerId" class="form-control" type="text" placeholder="Enter partnerId" ng-disabled="checkUserServiceBusy" ng-required="true">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">PartnerUserId</label>
                                    <input ng-model="checkUserModel.partnerUserId" class="form-control" type="text" placeholder="Enter partnerUserId" ng-disabled="checkUserServiceBusy" ng-required="true">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Phone number</label>
                                    <input ng-model="checkUserModel.phoneNumber" class="form-control" type="text" placeholder="Enter phone number" ng-disabled="checkUserServiceBusy" ng-required="true">
                                </div>
                                <button ng-click="checkUser()" class="btn btn-primary w-100px me-5px" ng-disabled="checkUserServiceBusy|| transactionForm0.$invalid">Check user <i ng-if="checkUserServiceBusy" class="fa fa-cog fa-spin"></i></button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-0.5"></div>
                    <div class="col-md-4" ng-if="checkUserServiceResponse">
                        Request ({{checkUserRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="checkUserRequest"></jsonformatter>
                        <div class="overflow-auto">
                            Sequence: {{checkUserSequence}}<br />
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="checkUserServiceResponse">
                        Response ({{checkUserResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="checkUserResponse"></jsonformatter>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>


    <div ng-if="select.CheckUserVersion == 4">
        <div class="table-responsive">
            <table class="table  table-active col-md-6">
                <thead>
                    <tr>
                        <th>Environment</th>
                        <th>Method</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Test</b></td>
                        <td>
                            POST
                        </td>
                        <td>https://staging-api.aircash.eu/api/PartnerV4/CheckUser</td>
                    </tr>
                    <tr>
                        <td><b>Production</b></td>
                        <td>
                            POST
                        </td>
                        <td>https://api.aircash.eu/api/PartnerV4/CheckUser</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <uib-tabset>
            <uib-tab index="CheckUserV4-tab-0" heading="Request parameters" classes="nav-item">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">Parameters</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Mandatory</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2"><b>PartnerID</b></td>
                                <td>String</td>
                                <td>Partner identifier</td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>PhoneNumber</b></td>
                                <td>String</td>
                                <td>
                                    Phone number is unique identifier in Aircash system, and can uniquely define Aircash user. Phone number must be in MSISDN format (eg. 3859812345678)
                                </td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>PartnerUserID</b></td>
                                <td>String</td>
                                <td>
                                    User identifier in the merchant system.
                                </td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Parameters</b></td>
                                <td>List&lt;Object&gt;</td>
                                <td>List of parameters</td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Key</b></td>
                                <td>String</td>
                                <td>The name of the parameter to be sent</td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Value</b></td>
                                <td>String</td>
                                <td>The value of the parameter to be sent</td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td colspan="2"><b>Signature</b></td>
                                <td>String</td>
                                <td>
                                    Signature generated by the partner system that will be verified by Aircash system before processing request.
                                </td>
                                <td>YES</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="CheckUserV4-tab-1" heading="Request example" classes="nav-item">
                <jsonformatter data="aircashPayout.checkUserV4.requestExample"></jsonformatter>
            </uib-tab>
            <uib-tab index="CheckUserV4-tab-2" heading="Signature" classes="nav-item">
<pre>
Request example:
</pre>
                <jsonformatter data="aircashPayout.checkUserV4.requestExample"></jsonformatter>
                <pre>

Sequence:
Parameters=Key=PayerFirstName&Value=John,Key=PayerLastName&Value=Doe,Key=PayerBirthDate&Value=1990-01-01&PartnerID=496fbe8e-ca5a-42df-8999-cdde0c14ae3a&PartnerUserID=12345&PhoneNumber=385981234567

Signature:
ldzZxeYDQVXuch8EvxDXSXzGx8Yp4E6/UtVj5TgeH++eCAbXKezn1FeeuIHvjDWfdhdx9V92vSVvbbHJzpfC773zoCRmlvmqkIccVyOG2PSznJX2b4MS7bEO2jlgHvhfLku2hDtGSG4nvdSiQ5EZN9pkAAG1JsE4mBAcfD0sb7VHwbelciRbMP+cRqOk38bVX7mZc4fFrURx3Le+6lqtbaISn7QmLYVcbFIIMG1q+4s+qz9eawXpZ8vBBoQqtoAaiObEiD06NZxTPctLabkiZyFGdPw46D05SEJ9reCMxpzCZXZKXFS2pzcjTNUaTAkMen08yhNbb3s2gs2PeRPRXRIwYKAIyromEhXVLbs4lCPRv9IgA2Ejmp1f+0OKdcDOiKk880rjkXZlU9Ym/EqgQrdEnbY+fCeOR4MrQjTLw5zBl3QvRqJIglgl08PimKDCnSIDZw+t96uGXg47uspTWz/Ax2muJR/giLP3/NDDinNV6nqK1aGqNblBSb1hjli8S41Pa7F/amhuUEfGbqjikP4tBOvyFFjOrDSuvRiM3Jp4rNeg0FezFoKFcZ+9R5rZPBR37JUWIQZXMRxVr5lCMCvz0lZdP+JtxBd4eUI4yF4PFGejYksE5yQSpEyXg+6bM928dd+pcFFa9RIJqP3yUSlgqKEdlSOesbGmOkYJSI8=
 
 </pre>
            </uib-tab>
            <uib-tab index="CheckUserV4-tab-3" heading="Response parameters" classes="nav-item">
                <div class="row">
                    <div class="col-md-7">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Parameters</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>Status </b> </td>
                                        <td>Int</td>
                                        <td>
                                            1- an uknown phone number<br />
                                            2- there is a user, but the personal data is not matched. Transaction will be rejected.<br />
                                            3- there is a user, it is possible to make a payment<br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="CheckUserV4-tab-4" heading="200 OK Response example" classes="nav-item">
                <jsonformatter data="aircashPayout.checkUserV4.responseExample.first"></jsonformatter>
<pre>
    or
</pre>
                <jsonformatter data="aircashPayout.checkUserV4.responseExample.second"></jsonformatter>
<pre>
    or
</pre>
                <jsonformatter data="aircashPayout.checkUserV4.responseExample.third"></jsonformatter>

            </uib-tab>
            <uib-tab index="CheckUserV4-tab-5" heading="Error response messages" classes="nav-item">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Http response</th>
                                <th>Description</th>
                                <th>Solution</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>401 </b> </td>
                                <td>
                                    In case the partner sends an unknown partner ID or invalid signature Aircash system will return this response
                                </td>
                                <td>
                                    Check the parameters that are being sent according to the Aircash system. If they are all according to documentation please contact Aircash support
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
            <uib-tab index="checkUserv4-tab-6" heading="Try it out" classes="nav-item">
                <div class="row">
                    <div class="col-md-4">
                        <button ng-click="setDefaults()" class="btn btn-primary w-100px me-5px mb-3">Set default values</button>
                        <form action="/" method="POST" name="checkUserForm">
                            <fieldset>
                                <div class="mb-3">
                                    <label class="form-label">PartnerId</label>
                                    <input ng-model="checkUserV4Model.partnerId" class="form-control" type="text" placeholder="Enter partnerId" ng-disabled="checkUserV4ServiceBusy" ng-required="true">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">PartnerUserId</label>
                                    <input ng-model="checkUserV4Model.partnerUserId" class="form-control" type="text" placeholder="Enter partnerUserId" ng-disabled="checkUserV4ServiceBusy" ng-required="true">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Phone number</label>
                                    <input ng-model="checkUserV4Model.phoneNumber" class="form-control" type="text" placeholder="Enter phone number" ng-disabled="checkUserV4ServiceBusy" ng-required="true">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">First name</label>
                                    <input ng-model="checkUserV4Model.firstName" class="form-control" type="text" placeholder="Enter first name" ng-disabled="checkUserV4ServiceBusy" ng-required="true">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Last name</label>
                                    <input ng-model="checkUserV4Model.lastName" class="form-control" type="text" placeholder="Enter last name" ng-disabled="checkUserV4ServiceBusy" ng-required="true">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Birth date</label>
                                    <date-picker date="checkUserV4Model.birthDate" isOptional="false" out="setCheckUserDate"></date-picker>
                                </div>
                                <button ng-click="checkUserV4()" class="btn btn-primary w-100px me-5px" ng-disabled="checkUserV4ServiceBusy|| checkUserV4Form.$invalid">Check user <i ng-if="checkUserV4ServiceBusy" class="fa fa-cog fa-spin"></i></button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-0.5"></div>
                    <div class="col-md-4" ng-if="checkUserV4ServiceResponse && !checkUserV4ServiceBusy">
                        Request ({{checkUserV4RequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="checkUserV4Request"></jsonformatter>
                        <div class="overflow-auto">
                            Sequence: {{checkUserV4Sequence}}<br />
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="checkUserV4ServiceResponse && !checkUserV4ServiceBusy">
                        Response ({{checkUserV4ResponseDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                        <jsonformatter data="checkUserV4Response"></jsonformatter>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="checkUser1-tab-7" heading="Curl" classes="nav-item">
            <div class="row">
                <div class="col-md-2">
                    <form action="/" method="POST" name="transactionForm2">
                        <fieldset>
                            <div class="mb-3">
                                <label class="form-label">Phone number</label>
                                <input ng-model="checkUserModel.phoneNumber" class="form-control" type="text" placeholder="Enter phone number" ng-disabled="curlCheckUserBusy" ng-required="true">
                            </div>
                            <button ng-click="getCurlCheckUser()" class="btn btn-primary w-100px me-5px" ng-disabled="curlCheckUserBusy|| transactionForm2.$invalid"> Get Curl <i ng-if="curlCheckUserBusy" class="fa fa-cog fa-spin"></i></button>
                        </fieldset>
                    </form>
                </div>

                <div class="col-md-10" ng-if="curlCheckUserResponded">
                    <pre>
                    <jsonformatter id="curlLink" data="CurlResponseCheckUser"></jsonformatter>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(CurlResponseCheckUser)">Copy</button>
                </pre>
                </div>
            </div>
        </uib-tab>
        </uib-tabset>
    </div>
</body>
</html>