<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h4>CheckTransactionStatus</h4>
    <p style="text-align:justify">
        The method used by partner system to check individual transaction status in Aircash system. Aircash recommend using CheckTransactionStatus method in cases when an unknown error occurs on CreatePayout method. With CheckTransactionStatus, the partner system will be able to automatically resolve all unknown errors from Aircash system<br />
    </p>

    <div class="table-responsive">
        <table class="table  table-active col-md-6">
            <thead>
                <tr>
                    <th>Environment</th>
                    <th>Method</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Test</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://staging-api.aircash.eu/api/PartnerV2/CheckTransactionStatus</td>
                </tr>
                <tr>
                    <td><b>Production</b></td>
                    <td>
                        POST
                    </td>
                    <td>https://api.aircash.eu/api/PartnerV2/CheckTransactionStatus</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <uib-tabset>
        <uib-tab index="CheckTransactionStatus-tab-0" heading="Request parameters" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Mandatory</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>PartnerID</b></td>
                            <td>String</td>
                            <td>Partner identifier</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td><b>PartnerTransactionID</b></td>
                            <td>String</td>
                            <td>
                                Transaction ID in the partner system
                            </td>
                            <td>
                                YES, in case AircashTransactionID wasn't sent
                            </td>
                        </tr>
                        <tr>
                            <td><b>AircashTransactionID</b></td>
                            <td>String</td>
                            <td>
                                Transaction ID from Aircash system.
                            </td>
                            <td>
                                YES, in case PartnerTransactionID wasn't sent
                            </td>
                        </tr>
                        <tr>
                            <td><b>Signature</b></td>
                            <td>String</td>
                            <td>
                                Signature generated by the partner system that will be verified by Aircash system before processing request.
                            </td>
                            <td>YES</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-1" heading="Request example" classes="nav-item">
            <jsonformatter data="aircashPayout.checkTransactionStatus.requestExample"></jsonformatter>
        </uib-tab>
        <uib-tab index="createPayout1-tab-2" heading="Signature" classes="nav-item">
<pre>
Request example:
</pre>
            <jsonformatter data="aircashPayout.checkTransactionStatus.requestExample"></jsonformatter>
<pre>

Sequence:
AircashTransactionID=&PartnerID=8f62c8f0-7155-4c0e-8ebe-cd9357cfd1bf&PartnerTransactionID=45c38393-274b-4761-902e-23db30736563

Signature:
BBjas91N8Br79SsxRyZrGu3toCa0ji7VrY52Px6t3TWposfCh8m95Slb35Z8A6m6krOeC8zS7EkdbkIHJAicIKVM4WK59hnNk+HCQ9X/xzeDyDK8DD7s9Md1AKiKY6AMNIig+X5vygtnAxVkda4Zyvh9gspJXOzap6RppervGNbzGXhynWpiybHzmkUnhCt0oeq3kONgZdkwwr8GjDhp7vRPGW4Hp12akGb7XQ1m+dqzsESzO2rtuQPHz0yoYrr75ckQguLAuh983uez1LcMQ75Pl/R6liPjuAddtELBtsjZikYf1Yy5wMpc01VCWgKd1vsbZ6AQsUybdbqURJlTYguS/g8rAxlB+x0HZ9eopoePhuEX117VI1KHIPeob3hraGMF2hHCih5wzCiEpS7Otye7gh41bgAjh6QfqNnIlXsnwZJwJMJcAmmHvW7aWH1JJ4G3WVyLGuF1GRkcWY30yuDW0L3GbBe1gJN0obuanlZTuI5VoWpyzS7VWbz7vvj/yZgYdZWBhvml5rccbEiZzJ+7hHcGK4DzTP94kbRyh+TSnLi/k69GSYX2lFFHwPYXJ2gpbUmhBpeP/PJD8oZ+yu3xWBsYah8Hol5yeFBErqkP/fNAQHXy5zu+dp6KXic4yl9TJSZ8eR5SOMRaVbtcuIokorHUVF8Q4FXKrmr5dKU=
</pre>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-3" heading="Response parameters" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Parameters</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Status</b></td>
                            <td>Int</td>
                            <td>
                                2 - The transaction exist in Aircash system<br />
                                0 - The transaction doesn’t exist in Aircash system
                                and the partner can cancel the transaction in the
                                partner system

                            </td>
                        </tr>
                        <tr>
                            <td><b>AircashTransactionID</b></td>
                            <td>String</td>
                            <td>
                                Transaction ID in the Aircash system. It is returned only in case of successful payment (all statuses except status 0)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-4" heading="200 OK Response example" classes="nav-item">
            <jsonformatter data="aircashPayout.checkTransactionStatus.responseExample"></jsonformatter>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-5" heading="Error response messages" classes="nav-item">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Http response</th>
                            <th>Description</th>
                            <th>Error Code</th>
                            <th>Message</th>
                            <th>Aditional data</th>
                            <th>Solution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>400</b></td>
                            <td>An invalid request was made.</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                Contact Aircash support
                            </td>
                        </tr>
                        <tr>
                            <td><b>401</b></td>
                            <td>In case the partner sends an unknown partner ID or invalid signature Aircash system will return this response</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>
                                Check the parameters that are being sent according to the Aircash system. If they are all according to documentation please contact Aircash support
                            </td>
                        </tr>
                        <tr>
                            <td><b>500</b></td>
                            <td>An unknown error occured</td>
                            <td>-</td>
                            <td>An error has occurred.</td>
                            <td>-</td>
                            <td>
                                Contact Aircash support
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-6" heading="Error response example" classes="nav-item">
            <jsonformatter data="aircashPayout.checkTransactionStatus.errorResponseExample"></jsonformatter>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-7" heading="Try it out" classes="nav-item">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <p>Recent transactions:</p>
                    <div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Transaction ID</th>
                                        <th>Amount</th>
                                        <th>Check</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="totalLoaded == 0 && !busy">
                                        <td colspan="12" align="center">
                                            <i>No data</i>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="transaction in transactions">
                                        <td>{{$index + 1}}.</td>
                                        <td>{{transaction.transactionId}}</td>
                                        <td>{{transaction.amount | number:2}}</td>
                                        <td style="text-align: center; vertical-align: inherit">
                                            <button class="btn btn-primary fa fa-check" ng-click="checkTransactionStatus(transaction.transactionId)"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <load-more total-loaded="totalLoaded" out="loadMore"></load-more>
                    </div>
                </div>
                <div class="col-md-0.5"></div>
                <div class="col-md-4" ng-if="checkTransactionStatusServiceResponse">
                    Request ({{checkTransactionStatusRequestDateTimeUTC | date:'yyyy-MM-dd HH:mm:ss.sss'}})
                    <jsonformatter data="checkTransactionStatusRequest"></jsonformatter>
                    Sequence: {{checkTransactionStatusSequence}}<br />
                </div>
                <div class="col-md-3" ng-if="checkTransactionStatusServiceResponse">
                    Response ({{checkTransactionStatusResponseDateTimeUTC| date:'yyyy-MM-dd HH:mm:ss.sss'}})
                    <jsonformatter data="checkTransactionStatusResponse"></jsonformatter>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="CheckTransactionStatus-tab-8" heading="Curl" classes="nav-item">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <p>Recent transactions:</p>
                    <div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Transaction ID</th>
                                        <th>Amount</th>
                                        <th>Check</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="totalLoaded == 0 && !busy">
                                        <td colspan="12" align="center">
                                            <i>No data</i>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="transaction in transactions">
                                        <td>{{$index + 1}}.</td>
                                        <td>{{transaction.transactionId}}</td>
                                        <td>{{transaction.amount | number:2}}</td>
                                        <td style="text-align: center; vertical-align: inherit">
                                            <button class="btn btn-primary fa fa-check" ng-click="getCurlCheckTransactionStatus(transaction.transactionId)"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <load-more total-loaded="totalLoaded" out="loadMore"></load-more>
                    </div>
                </div>

                <div class="col-md-8" ng-if="CurlCheckTransactionStatusServiceResponse">
                    <pre>
                    <jsonformatter data="CurlResponseTransactionStatus"></jsonformatter>
                        </pre>
                    <button class="btn btn-white mt-2" ng-click="copyToClipboard(CurlResponseTransactionStatus)">Copy</button>

                </div>
            </div>
        </uib-tab>
    </uib-tabset>
    <hr />

</body>
</html>